---
eleventyNavigation:
  key: Le matériel individuel
  order: 1
---
<div style="display:flex; flex-direction:column">
    <p>
        La liste ci-dessous présente le matériel <b>minimum</b> à avoir <b>par personne</b> pour pouvoir grimper en grande voie.
        Il est toujours préférable d'avoir plus de mousquetons.
        Les manips de secours sont souvent gourmandes en matériel, ne laissez pas un mousqueton à la maison pour vous alléger de 50g !
        <br><br>
        <b>Rappel</b> : Un mousqueton de sécurité est un mousqueton à vis ou automatique.
    </p>
    <br>
    <div>
        <img src="/img/chaussure.jpg" alt="chaussure" style="max-height:170px" loading="lazy">
        <div>
            <b>De bonnes chaussures</b><br><br>
            Les marches d'approche sont souvent longues et escarpées, mieux vaut être bien chaussé.
            Il est parfois possible de laisser ses chaussures au pied de la voie pour ne pas grimper avec.
            Dans ces cas là, ne vous souciez pas du poids et prenez vos chaussures les plus confortables.
            Sinon, il faudra trouver un compromis entre confort et légèreté.
        </div>
    </div>
    <br>
    <div>
        <img src="/img/casque.jpg" alt="casque" style="max-height:200px" loading="lazy">
        <p>
            <b>Un casque</b><br><br>
            Il doit avoir moins de 10 ans et être normé pour l'escalade, de préférence léger.
        </p>
    </div>
    <div>
        <img src="/img/baudrier.jpg" alt="baudrier" style="max-height:200px" loading="lazy">
        <p>
            <b>Un baudrier</b><br><br>
            Il doit avoir moins de 10 ans, être confortable et avoir au moins quatre porte-matériels.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/chausson.jpg" alt="chaussons" style="max-height:160px" loading="lazy">
        <p>
            <b>Des chaussons</b><br><br>
            Ils doivent être confortables. Les systèmes de scratch ou ballerine seront plus pratiques que les lacets en grande voie.
        </p>
    </div>
    <div>
        <img src="/img/longe.jpg" alt="longe" style="max-height:160px" loading="lazy">
        <p>
            <b>Une longe (ou vache) et son mousqueton</b><br><br>
            La longe est en corde dynamique de diamètre 9 mm minimum, de préférence réglable.<br>
            Une longe double peut être utile mais n'est pas indispensable.<br><br>
            Le mousqueton est de préférence automatique.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/sangle.jpg" alt="sangle" style="max-height:160px" loading="lazy">
        <p>
            <b>Une sangle de 120 cm</b><br><br>
            On l'utilise pour faire des relais, descendre en rappel ou encore en guise de pédale pour remonter sur corde.
            Elle est large de 8 à 12 mm, et si possible en Dyneema.

        </p>
    </div>
    <br>
    <div>
        <img src="/img/primaire.jpg" alt="mousqueton" style="max-height:160px" loading="lazy">
        <p>
            <b>Pour le primaire : un gros mousqueton de sécurité</b><br><br>
            Il doit être le plus gros possible pour plus de confort au relais.

        </p>
    </div>
    <br>
    <div>
        <img src="/img/mouskif_d.jpg" alt="mousqueton" style="max-height:160px" loading="lazy">
        <p>
            <b>Pour le relais : 3 mousquetons de sécurité</b><br><br>
            De préférence en forme de D et légers.

        </p>
    </div>
    <br>
    <div>
        <img src="/img/mouskif_a.jpg" alt="mousqueton" style="max-height:160px" loading="lazy">
        <p>
            <b>Pour l'assurage : un mousqueton de sécurité</b><br><br>
            De préférence en forme de poire et léger.

        </p>
    </div>
    <br>
    <div>
        <img src="/img/reverso.jpg" alt="reverso" style="max-height:160px" loading="lazy">
        <p>
            <b>Un système d'assurage fait pour la grande voie</b><br><br>
            Il doit avoir une fonction autobloquante pour assurer du haut et doit pouvoir accueillir deux cordes.<br>
            Il servira aussi pour descendre en rappel.

        </p>
    </div>
    <br>
    <div>
        <img src="/img/sangle60.jpg" alt="sangle" style="max-height:160px" loading="lazy">
        <p>
            <b>Pour le rappel : une sangle  pour réhausser votre descendeur</b><br><br>
            Elle peut mesurer 30, 60 ou 120 cm.<br>
            Elle peut être remplacée par une longe double.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/ficelou.jpg" alt="ficelou" style="max-height:160px" loading="lazy">
        <p>
            <b>Pour le rappel : un anneau de cordelette et un mousqueton de sécurité</b><br><br>
            Cordelette : diamètre 6 mm, longueur 150 cm, la plus souple possible.<br>
            Elle vous servira à faire un autobloquant sous votre descendeur.<br>
            Pour apprendre à fabriquer un anneau de cordelette
            <a href="https://www.youtube.com/watch?v=5Pemm5QdSf8" target="_blank">cliquez ici</a>.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/keylock.jpg" alt="keylock" style="max-height:250px" loading="lazy">
        <p>
            Si vous achetez des mousquetons, préférez les mousquetons pourvus du système keylock.
        </p>
    </div>
   
</div>


