---
eleventyNavigation:
  key: Les coinceurs
  order: 5
---
<div style="display:flex; flex-direction:column">
    <p>
        En terrain d'aventure on utilise du matériel spécifique :
    </p>
    <br>
    <div>
        <img src="/img/friend.jpg" alt="friend" style="max-height:300px" loading="lazy">
        <p>
            <b>Les friends</b><br><br>
            Ce sont des coinceurs mécaniques qu'on place dans des fissures.
            Il en existe de toutes tailles.
            C'est le type de coinceur le plus utilisé aujourd'hui.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/cable.jpg" alt="cable" style="max-height:300px" loading="lazy">
        <img src="/img/decoinceur.jpg" alt="decoinceur" style="max-height:300px" loading="lazy">
        <p>
            <b>Les cablés</b><br><br>
            On les place dans des fissures qui ne sont pas parallèles.
            Contrairement aux friends, les cablés n'ont pas de partie mobile : ce sont des coinceurs passifs.
            <br><br>
            Quand on place un cablé, il est souvent difficile de l'enlever.
            Pour s'aider, le second utilise un <b>décoinceur</b>.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/hex.jpg" alt="hex" style="max-height:300px" loading="lazy">
        <p>
            <b>Les excentriques</b><br><br>
            On utilise les excentriques comme les cablés, mais dans des fissures plus grosses.
            Ils ne sont plus très utilisés aujourd'hui, les friends étant plus polyvalents.
        </p>
    </div>
   
</div>


