---
eleventyNavigation:
  key: Les dégaines
  order: 4
---
<div style="display:flex; flex-direction:column">
    <div>
        Une dégaine, c'est deux mousquetons reliés par une sangle.
        On l'utilise pour relier la corde aux ancrages.
        Plus les dégaines sont longues, moins il y aura de tirage.
        <br><br> 
        Il en existe différents types en fonction de l'activité (couenne, grande voie équipée, trad, etc.).
        Les principales différences seront la longueur, le poids et l'ergonomie.
        Vous pouvez utiliser sans problème des dégaines de couenne pour faire de la grande voie, et inversement.
    </div>

    <br>
    <div>
        <img src="/img/degaine_sport.jpg" alt="degaine" style="max-height:100px" loading="lazy">
        <p>
            <b>En couenne</b><br>
            Quand on fait de la couenne, on préférera des dégaines ergonomiques,
             durables, avec une sangle large, et des mousquetons "keylock".
        </p>
    </div>
    <br>
    <div>
        <img src="/img/degaine_gv.jpg" alt="degaine" style="max-height:100px" loading="lazy">
        <p>
            <b>En grande voie</b><br>
            En grande voie on préférera des dégaines longues et légères.
            Il sera aussi très utile d'avoir des dégaines rallongeables.
        </p>
    </div>
    <br><br>
    <p>Fabriquer une dégaine rallongeable :</p>
    <div>
        <img src="/img/ralonge_etapes.jpg" alt="degaine" style="max-width:100%" loading="lazy">
    </div>
    <p>Pour la déplier : déclipper un des mousquetons et le reclipper dans un seul brin de sangle (n'importe lequel).</p>

</div>
