---
eleventyNavigation:
  key: Choisir sa corde
  order: 3
---
Quand on part en grande voie il faut choisir la corde la plus adaptée à la voie choisie.<br><br>

La plupart du temps une corde à double sera le meilleur choix, mais il existe certains cas où une corde à simple sera envisageable :
<ul>
    <li>La voie est équipée.</li>
    <li>On ne grimpe pas à trois.</li>
    <li>La voie ne nécessite pas de descendre en rappel.</li>
    <li>Les longueurs sont courtes et rectilignes (pas de problème de tirage).</li>
</ul>
<br>
Dans ces cas là, on pourra choisir une corde à simple fine de 50 mètres qui répond idéalement aux trois normes (corde multilabel).
Une corde à simple sera particulièrement appréciable si les longueurs sont dures et qu'on risque de tomber à plusieurs reprises.
C'est aussi un choix judicieux si on veut faire de la corde tendue sur du terrain très facile.<br><br>
Il est très agréable de grimper en grande voie avec une corde à simple, mais une corde à double sera toujours une sécurité de plus en cas de problème.
Même si on a prévu de descendre à pied, on peut être amené à devoir faire un rappel avant la fin de la voie (en cas d'accident ou d'intempéries, par exemple).
De plus, certaines manips de secours sont plus difficiles sur corde à simple, voire impossibles.
<br><br>
<b>Si vous partez en grande voie avec une corde à simple, il faudra arriver en haut !</b>