---
eleventyNavigation:
  key: Les cordes à double
  order: 2
img: sapey.jpg
imageLayout: left
textLayout: right
avantages:
  - Peu de tirage (et donc moins de contraintes sur les ancrages).
  - Très dynamiques (et donc moins de contraintes sur les ancrages).
  - "Pratiques à transporter : chacun porte un brin !"
  - Plus légères qu'une corde à simple à longueurs égales.
inconvenients:
  - Plus difficiles à utiliser (grimpe et assurage).
  - Nécessité de faire nœud de jonction pour faire un rappel.
  - Plus lourdes en pratique (2 brins à double de 50 m sont plus lourds qu'un brin à simple de 50 m).
---
Les cordes à double sont utilisées principalement en grandes voies.
<br><br>
<b>Diamètre</b> : 8-9 mm<br>
<b>Longueur</b> : entre 100 et 120 mètres<br>
<br>

Aujourd'hui la plupart des cordes à double sont séparées en deux brins de couleurs différentes (2x50 m ou 2x60 m).
Quand on parle d'une "corde à double de 50 mètres" on sous-entend qu'il y a deux brins de 50 mètres.<br><br>
