---
eleventyNavigation:
  key: Les cotations
  order: 3
niveau: 1
---
<div style="display:flex; flex-direction:column">
  
  <div>
    <img src="/img/cotations.jpg" alt="broche" style="max-height:800px" loading="lazy">
    <div>
      <p>
        Il existe plusieurs manières de définir la difficulté d'une voie en escalade.
        En grande voie on utilise trois systèmes de cotation : la cotation libre, la cotation artif, et la cotation globale.
        <br><br>
        Sur ce topo on peut voir que certaines longueurs ont deux cotations.
        Une longueur peut avoir des passages en libre et des passages en artif (ex : "5c+ et A1")
        ou un passage difficile en libre qu'il est possible d'artifer (ex : "7c+ > A0 6a"). Voir la section cotation obligatoire plus bas.
      </p>
      <header style="margin-top: 0">Cotation libre</header>

      C'est la même qu'en couenne, vous la connaissez sûrement déjà.<br><br>
      3a, 3b, 3c : C'est presque de la rando ! Ça passe en baskets.<br>
      4a, 4b, 4c : Ça commence à ressembler à de l'escalade.<br>
      5a, 5b, 5c : Là ça se corse un petit peu, chaussons obligatoires !<br>
      6a, 6b, 6c : En salle ça passe mais en grande voie c'est pas la même.<br>
      7a, 7b, 7c : Là vous allez souffrir.<br>
      8a, 8b, 8c : Non merci.<br>
      9a, 9b, 9c : Reservé aux extra-terrestres.<br><br>

      <header>Cotation artif</header>

      A0 : C'est pas vraiment de l'artif, il faut juste tirer sur les dégaines.<br>
      A1 : Tous les points sont "bétons" mais il faut utiliser un peu de matériel pour progresser.<br>
      A2 : De la vraie escalade artificielle ! Les bons points sont plus espacés et il faut plus de matériel spécifique.<br>
      A3 : Il commence à falloir beaucoup de matériel et beaucoup de temps. On risque de grosses chutes.<br>
      A4 : Les points d'assurage deviennent rares. On met plusieurs heures dans chaque longueur.<br>
      A5 : Seuls les relais tiennent, aucun des points ne résiste à une chute. Plaisir inexistant.<br>
      A6 : Rien ne va plus, même les relais sont pourris. C'est du solo mais sur des crochets...<br><br>
      </div>
    </div>
</div>
<header>Cotation globale, ou cotation montagne</header>

Cette cotation permet de définir la difficulté générale d'une grande voie sans détailler la cotation de chaque longueur.
Pour simplifier cette cotation, on peut la résumer ainsi :<br><br>

PD : Passages obligatoires dans le 3.<br>
AD : Passages obligatoires dans le 4.<br>
D :  Passages obligatoires dans le 5.<br>
TD : Passages obligatoires dans le 6.<br>
ED : Passages obligatoires dans le 7.<br><br>

On peut rajouter un "<b>+</b>" ou un "<b>-</b>" pour affiner la cotation (ex : TD+ quand il faut grimper du 6c).
<br>

<header>Cotation obligatoire / cotation max</header>
La <b>cotation obligatoire</b> d'une voie indique le niveau minimum requis pour arriver au sommet, peu importe le moyen (libre ou artif).
Une grande voie peut par exemple comporter une longueur de 8a qui peut aussi être passée en tirant sur les dégaines et en grimpant des passages de 6b.
Cette longueur sera notée 8a > 6b A0 et la cotation obligatoire de la grande voie sera 6b.
<br><br>

Pour décrire une grande voie, on parle souvent de <b>cotation max</b>.
Comme son nom l'indique, c'est la cotation du passage le plus dur de la voie.
<br><br>
<div>
    <img src="/img/topo.jpg" alt="topo" style="max-height:300px" loading="lazy">
    <div>
      Sur les topos, dans la description de chaque grande voie, on pourra parfois trouver (entre autres) :<br>
      <ul>
          <li>Le nom de la voie</li>
          <li>La longueur de la voie</li>
          <li>La cotation globale</li>
          <li>La cotation max</li>
          <li>La cotation obligatoire</li>
          <li>L'exposition</li>
          <li>Le matériel nécessaire</li>
          <li>La description de l'approche et du retour.</li>
      </ul>
    </div>
<div>







