---
eleventyNavigation:
  key: Les ancrages
  order: 5
---

<div style="display:flex; flex-direction:column">
  <p>
    Il existe plusieurs types d'ancrages, plus ou moins solides.
    Certains nécessitent un perforateur pour faire un trou dans le rocher (broches et plaquettes).
    Pour d'autres, un simple marteau suffit.
    Les ancrages les plus courants sont présentés ci-dessous.
  </p>
  <br>
  <div>
    <img src="/img/broche.jpg" alt="broche" style="max-width:180px" loading="lazy">
    <div>
        Une <b>broche</b>, est une tige métallique collée dans le rocher.
        C’est le type d'ancrage le plus sûr à ce jour,
        puisque la colle utilisée pour sa fixation permet une parfaite étanchéité,
        et donc une résistance accrue à la corrosion.
        La colle aura aussi tendance à renforcer le rocher car elle s'infiltrera dans les petites fissures et rendra la zone plus compacte.
        Les longueurs et diamètres des broches varient selon les sites.
    </div>
    <br>
    <img src="/img/broche2.jpg" alt="broche" style="max-height:140px" loading="lazy">
  </div>
  <br><br>
  <div>
    <img src="/img/plaquette.jpg" alt="plaquette" style="max-width:180px" loading="lazy">
    <div>
      Les <b>plaquettes</b>, sont utilisées avec des goujons à expansion.
      Le goujon s'écarte à l'intérieur du rocher comme une cheville (<a href="https://youtu.be/_RGRoeQmcT4?t=27" target="_blank">explications vidéo</a>).
      La résistance mécanique est la même qu'une broche,
      mais l'expansion du goujon fragilise le rocher,
      et l'espace vide derrière le goujon peut favoriser la corrosion.
      On évite de les utiliser en milieu très humide ou en bord de mer.
      La longueur et le diamètre des goujons peut varier.

    </div>
    <br>
    <img src="/img/goujon.jpg" alt="goujon" style="max-height:140px" loading="lazy">
  </div>
  <br><br>
  <div>
    <img src="/img/piton.jpg" alt="piton" style="max-width:180px" loading="lazy">
    <div>
      Les <b>pitons</b> sont placés dans des fissures avec un marteau.
      Ils sont amovibles mais certains ont élu domicile dans des voies, dans différents états de corrosion.
      On vérifiera toujours la solidité d'un piton avant de le clipper !
      Parfois il vaut mieux placer un bon coinceur que de clipper un mauvais piton.
      Ils étaient beaucoup utilisés avant la démocratisation des autres ancrages.
      Aujourd'hui ils ne sont quasiment plus utilisés, ceux qu'on rencontre sont des vestiges d'une autre époque.

    </div>
    <br>
    <img src="/img/piton2.jpg" alt="piton" style="max-height:140px" loading="lazy">
  </div>

</div>