---
eleventyNavigation:
  key: Progresser en grande voie
  order: 8
niveau: 1
---

<b>Le leader grimpe en tête</b>, assuré du bas par le second.<br>
<b>Le second grimpe en moulinette</b>, assuré du haut par le leader.
<br><br>
Il existe plusieurs manières de progresser :<br><br>
<b>Le leader fixe</b><br>
C'est toujours le même grimpeur qui reste leader, il fera toutes les longueurs en tête. 
Son binôme restera second pendant toute la grande voie, il fera toutes les longueurs en moulinette.
Cette méthode est adaptée quand il y a une différence de niveau entre les deux grimpeurs,
mais nécessite un peu plus de temps à chaque relais car il faudra retourner la corde.
Quand trois grimpeurs grimpent ensemble en leader fixe (un leader et deux seconds), on dit qu'ils grimpent <b>en flèche</b>.
<br><br>
<b>Le réversible</b><br>
Le leader fait la première longueur en tête, le second le rejoint en moulinette. Les grimpeurs inversent les rôles :
le second devient leader et part dans la 2ème longueur en tête.
À chaque relais, les rôles sont inversés.
Chaque grimpeur fait la moitié des longueurs en tête.
Cette méthode est à privilégier si les grimpeurs ont des niveaux similaires car les transitions sont plus rapides qu'en leader fixe.
Elle n'est pas très adaptée quand on grimpe à trois car elle nécessite de se désencorder.
<br><br>
On pourra varier les méthodes en cours de grande voie si besoin.


    