---
eleventyNavigation:
  key: Le materiel à prévoir
  order: 4
---

Les topos vous donneront souvent une indication sur le materiel à prendre,
notamment sur le type de corde et le nombre de dégaines recommandé.
En terrain d'aventure ils vous préciseront les tailles de coinceurs à prendre.
Voici une checklist à adapter à vos besoins. Mieux vaut préparer son sac la veille.
<br><br>

<b>Le materiel commun</b><br>
<ul style="list-style: none">
  <li><input type="checkbox"> Cordes (<a href="#choisir-sa-corde">choisir sa corde</a>)</li>
  <li><input type="checkbox"> Dégaines (simples et ralongeables)</li>
  <li><input type="checkbox"> Trousse de secours (<a href="#trousse-de-secours">détail</a>)</li>
  <li><input type="checkbox"> Si TRAD : Coinceurs</li>
  <li><input type="checkbox"> Si TRAD : Cablés + décoinceur</li>
  <li><input type="checkbox"> Si TRAD : Sangles pour lunules ou béquets</li>
</ul>
<br>

<b>Le materiel individuel</b> (<a href="#le-materiel-individuel">détails</a>)<br>
<ul style="list-style: none">
  <li><input type="checkbox"> Casque</li>
  <li><input type="checkbox"> Baudrier</li>
  <li><input type="checkbox"> Chaussons</li>
  <li><input type="checkbox"> Longe</li>
  <li><input type="checkbox"> Sangle 120 cm</li>
  <li><input type="checkbox"> Sangle 180 cm</li>
  <li><input type="checkbox"> Mousquetons à vis</li>
  <li><input type="checkbox"> Assureur</li>
  <li><input type="checkbox"> Sangle pour le rappel</li>
  <li><input type="checkbox"> Machard</li>
  <li><input type="checkbox"> Sifflet</li>
</ul>
<br>

<b>Le fond de sac</b> (<a href="#le-fond-de-sac">détails</a>)<br>
<ul style="list-style: none">
  <li><input type="checkbox"> Portable chargé</li>
  <li><input type="checkbox"> Frontale chargée</li>
  <li><input type="checkbox"> Eau</li>
  <li><input type="checkbox"> De quoi manger</li>
  <li><input type="checkbox"> Habits chauds</li>
  <li><input type="checkbox"> Habits de pluie</li>
  <li><input type="checkbox"> Crème solaire</li>
  <li><input type="checkbox"> Lunettes de soleil</li>
  <li><input type="checkbox"> Topo</li>
  <li><input type="checkbox"> Mouchoirs</li>
  <li><input type="checkbox"> Couteau</li>
</ul>
<br><br>

Lien direct pour accéder à cette checklist (à garder dans vos favoris !): <br>
<a href="https://www.secoursvertical.com/referentiel/#le-materiel-a-prevoir">www.secoursvertical.com/referentiel/#le-materiel-a-prevoir</a> 