---
eleventyNavigation:
  key: Machard au-dessus
  parent: Mise en place du descendeur
  order: 2
img: machard-haut.jpg
imageLayout: left
textLayout: right
---

<p>
    Avec cette méthode, il est très facile de faire un passage de nœud ou une conversion pour commencer une remontée sur corde.
    En revanche, l’autobloquant a tendance à se bloquer quand il est mis sous tension, il est alors difficile de le débrayer.<br>
</p>