@import "tailwindcss/base";

@import "tailwindcss/components";

.menu-label {
    @apply uppercase text-gray-600 pt-4 font-light tracking-wide text-sm mb-2
}

.menu-list a {
    @apply block p-2 text-gray-800 font-light
}

.menu-list li a:hover {
    @apply bg-gray-200 cursor-pointer rounded-sm
}

.menu-sub-list {
    @apply pl-2 ml-1 mt-2 hidden border-l border-gray-700
}

.after-dropdown::after {
    content: "  ↴";
    @apply text-sm;
    position: relative;
    top: 5px;
}

@import "tailwindcss/utilities";
