---
eleventyNavigation:
  key: Attention au relais
  order: 4
niveau: 3
---

En grande voie, il est possible de dépasser largement ces valeurs,
si on chute au-dessus du relais en étant toujours vachés (chute de facteur supérieur à 1). 