---
eleventyNavigation:
  key: Éstimer la force de choc
  order: 3
niveau: 3
---

<div style="display:flex; flex-direction:column">
    
    <p>
        Sans dynamomètre, il est difficile de mesurer la force de choc,
        mais on peut l’estimer grâce à cette formule :
    </p>
    <br>
    <div style="font-size: 1.3em">
        F &nbsp;= &nbsp; m × g &nbsp;× 
        <div class="frac">
            <span>chute libre</span>
            <span class="symbol">/</span>
            <span class="bottom">amorti</span>
        </div>
    </div>
    <br>
    <div>
        <span style="font-size: 1.3em">F</span>&nbsp;&nbsp;→ la force de choc en N<br>
        <span style="font-size: 1.3em">m</span>&nbsp;→ la masse en kg<br>
        <span style="font-size: 1.3em">g</span>&nbsp;&nbsp;→ la pesanteur, qui est égale à 9,81m/s² mais qu’on pourra arrondir à 10.<br>
        <br>
        <span style="font-size: 1.3em">Chute libre</span><br>
        La distance pendant laquelle le grimpeur est en chute libre.
        A partir du moment où il lâche le mur et jusqu’au moment où la corde se tend et commence à le freiner.<br>
        <br>
        <span style="font-size: 1.3em">Amorti</span><br>
        La distance pendant laquelle le grimpeur est ralenti.
        À partir du moment où la corde commence à le freiner et jusqu’au moment où il est à l'arrêt.<br>
        <br>
        L'unité de distance pour la chute libre et l'amorti n'a pas d'importance,
        il faut juste utiliser une même unité pour ces deux valeurs.
    </div>
  
   
</div>
