---
eleventyNavigation:
  key: L'effet poulie
  order: 5
niveau: 2
sources:
 - https://www.petzl.com/FR/fr/Sport/Secours-crevasse-n%C2%B0-3---mouflages-pour-le-secours-en-crevasse
---
<div style="display:flex; flex-direction:column">
    <p>L’effet poulie est un phénomène qui intervient tout le temps en escalade.
    Pour mieux le comprendre, commençons par un peu de théorie
    (pour plus de clarté, les forces sont exprimées en kg) :</p>
    <div >
        <img style="max-height:300px" src="/img/poulie1.png" alt="poulie" loading="lazy">
        <p>
            Sur cet exemple je prends un poids P de 10 kg.<br>
            Ce poids exerce donc une force de 10 kg vers le bas.<br>
            Pour retenir ce poids et qu’il ne tombe pas, je dois exercer une force égale et opposée.<br>
            J’exerce donc une force F de 10 kg vers le haut, c’est dur&nbsp;!<br>
            Pour me faciliter les choses, j’installe une poulie au plafond.
        </p>
    </div>
    <br>
    <div>
        <img style="max-height:300px" src="/img/poulie2.png" alt="poulie" loading="lazy">
        <p>
            Maintenant c’est plus pratique, je dois tirer vers le bas.<br>
            Par contre, je dois toujours exercer une force F de 10 kg pour retenir le poids.<br>
            Le poids tire la corde vers le bas avec une force de 10 kg.<br>
            Je tire aussi la corde vers le bas avec une force de 10 kg.<br>
            La poulie subit donc une force de 20 kg vers le bas.<br>
            Pour me simplifier encore plus la tâche, j’attache une poulie au poids.
        </p>
    </div>
    <br>
    <div>
        <img style="max-height:300px" src="/img/poulie3.png" alt="poulie" loading="lazy">
        <p>
            Ah maintenant c’est beaucoup plus facile&nbsp;!<br>
            Les 10 kg sont répartis équitablement sur les deux brins de corde.<br>
            Une force de 5 kg est donc exercée vers le bas sur chaque brin.<br>
            Pour retenir le poids, il faut exercer une force de 5 kg vers le haut sur chaque brin.<br>
            Sur le brin de gauche, c'est le crochet au plafond qui exerce cette force.<br>
            Il me suffit donc de tirer sur le brin de droite avec une force de 5 kg pour retenir un poids de 10 kg.<br>
            <b>C’est l’effet poulie&nbsp;!</b><br><br>
            Et si je remplace cette poulie par un mousqueton, ça marche aussi&nbsp;?<br>
            Oui&nbsp;! L'avantage mécanique théorique est le même.<br>
            En pratique, les rendements seront meilleurs avec une poulie car on diminuera les frottements.
        </p>
    </div>
    <br>
    <p>
        Toujours pas compris&nbsp;? <a href="https://youtu.be/felJ_SJngSY" target="_blank">Regardez cette vidéo</a>&nbsp;!
    </p>
    
        <header>
            En escalade
        </header>
        <div>
            <img src="/img/poulie4.png" alt="poulie 4" style="max-height:400px" loading="lazy">
            <p>
                Quand un grimpeur de 80 kg se repose dans une voie, immobile,
                il exerce une force de 80 kg vers le bas sur la corde.<br>
                Pour le maintenir immobile, l'assureur doit exercer une force égale et opposée :
                80 kg vers le bas (la dégaine change la direction de la corde, deux force vers le bas sont donc opposées).
                <br><br>
                La dégaine est tirée vers le bas simultanément par le grimpeur et l'assureur,
                elle subit une force de 160 kg vers le bas.
                <br><br>
                Contrairement à ce qu'on entend souvent,
                la force au niveau de la dégaine n'est pas égale au poids du grimpeur plus le poids de l'assureur.
                <b>Elle est égale à deux fois le poids du grimpeur.</b>
                <br><br>
                Pour éviter l'effet poulie, il suffira de se vacher à la dégaine.
            </p>
        </div>
        <br>
        <div>
            <img src="/img/mouflage.png" alt="mouflage" style="max-height:400px" loading="lazy">
            <p>
                Parfois on peut utiliser l'effet poulie à notre avantage, comme dans un mouflage.
                <br><br>
                Dans cet exemple, le sauveteur hisse un grimpeur blessé.
                Il tire sur la corde en utilisant 20 kg de force,
                mais grâce à l'effet poulie, son mouflage multiplie sa force par 3.
                <br><br>
                Il arrive donc à tirer 60 kg.<br>
                Par contre, pour hisser le grimpeur d'un mètre, il devra tirer 3 mètres de corde.
                <br><br>
                Pour plus de détails sur la mise en place des mouflages, <a href="#mouflages">cliquez ici</a>.
            </p>
        </div>
        
    
</div>

