---
eleventyNavigation:
  key: La force de choc
  order: 2
niveau: 2
---

<div style="display:flex; flex-direction:column">
    
    <p>
        La force de choc, c’est l’impact que va subir un grimpeur (et son matériel) quand il chute.
    </p>
    <br>
    <div>
        <img src="/img/dynamo.png" alt="facteur" style="max-height:350px" loading="lazy">
        <p>
            Contrairement au facteur de chute,
            c’est une donnée précise qu’on pourra mesurer à l’aide d’un dynamomètre placé sur le pontet du grimpeur. 
            On pourra aussi mesurer la force de choc à d’autres niveaux de la chaîne d’assurage
            (sur le dernier point clippé, sur l’assureur, etc.), ce qui nous donnera des valeurs différentes.
        </p>
    </div>
    <br>
    <div>
        La force de choc, comme toutes les forces, a pour unité le newton (N) ou le kilonewton (kN).<br>
        1 kN = 1000 N<br>
        <br>
        Pour mieux se représenter les efforts subis, on peut convertir cette force en kg en utilisant cette formule :<br>
    
        <div style="font-size: 1.3em">
           m &nbsp;= &nbsp;
                <div class="frac">
                    <span>F</span>
                    <span class="symbol">/</span>
                    <span class="bottom">g</span>
                </div>
        </div>
        <div>
            <span style="font-size: 1.3em">m</span>&nbsp;→ la masse en kg<br>
            <span style="font-size: 1.3em">F</span>&nbsp;&nbsp;→ la force de choc en N<br>
            <span style="font-size: 1.3em">g</span>&nbsp;&nbsp;→ la pesanteur, qui est égale à 9,81m/s² mais qu’on pourra arrondir à 10.<br>
        </div>
    </div>
    <p>
        <b>Il suffit donc de diviser la valeur de la force de choc par 10 pour obtenir un équivalent en kg.</b><br>
        Ex : 1 kN = 1000 N ≈ 100 kg<br>
        Ex : 10 kN ≈ 1 tonne<br><br>

        Les mousquetons qui résistent à 22 kN peuvent donc supporter un poids de 2,2 tonnes (immobile).<br>
    </p>
   
    <p class="aRetenir">
        1 kN ≈ 100 kg
    </p>
   
</div>
