---
eleventyNavigation:
  key: Le facteur de chute
  order: 1
niveau: 2
---

<div style="display:flex; flex-direction:column">
    
    <div>
        <img src="/img/facteur.png" alt="facteur" style="max-height:350px" loading="lazy">
        <div>
            Le facteur de chute est une notion théorique qui sert à évaluer la sévérité d’une chute en escalade.
            Plus le facteur de chute est élevé, plus le choc que subit le grimpeur est important.
            <br><br>
            On le calcule en divisant la <b>hauteur de la chute</b> par la <b>longueur de la corde</b> entre le grimpeur et l’assureur.
            <br><br>
            <div style="font-size: 1.3em">
            Facteur de chute &nbsp;= &nbsp;
                <div class="frac">
                    <span>hauteur de chute</span>
                    <span class="symbol">/</span>
                    <span class="bottom">longueur de corde</span>
                </div>
            </div>
            <br>
            Dans l'exemple ci-contre :
            <div class="frac">
                <span>4</span>
                <span class="symbol">/</span>
                <span class="bottom">10</span>
            </div>
            = 0,4
        </div>
    </div>
    <p>
        Les cordes qu’on utilise en escalade sont dynamiques;
        elles permettent d’absorber l’énergie accumulée lors d’une chute,
        et ainsi de réduire l'impact sur le grimpeur.
        Plus la longueur de corde est importante, plus le facteur de chute sera faible,
        et plus la chute sera douce. Au contraire, une chute au début de la voie,
        quand la longueur de corde est faible, sera plus violente.
    </p>
    <p>En escalade, le facteur de chute est compris entre 0 et 2.
        Dans d’autres contextes il peut augmenter,
        comme en via ferrata où il n’y a pas de limite théorique
        (une chute de 5 mètres arrêtée par une longe d’un mètre donnera un facteur de chute de 5). 
        C'est pourquoi on utilise du matériel spécifique en via ferrata (absorbeurs).
    </p>
    <p>
        Le facteur de chute n’est qu’une indication approximative de la sévérité d’une chute.
        Son calcul ne prend pas en compte le tirage, les déplacements de l’assureur,
        le système d’assurage utilisé, etc.
        Pour un calcul plus précis de l’impact perçu par le grimpeur lors d’une chute,
        on pourra calculer la force de choc.
    </p>
    <p class="aRetenir">
        une grosse chute en haut de la voie sera plus douce qu’une petite chute au début.
    </p>
   
</div>
