{% if x.data.instructionStyle == "scroll" %}
    {% include "instructions-scroll.njk" %}
{% elsif x.data.instructionStyle == "double" %}
    {% include "instructions-double.njk" %}
{% else %}
    {% include "instructions-gauche.njk" %}
{% endif %}