<div class="categorie">
    <header>Bienvenue sur le référentiel !</header>
    <div style="margin-top: 2rem">
        Ce document regroupe les principales notions qu'il faut connaître avant de partir en grande voie.<br>
        <b>Il ne remplace pas un apprentissage pratique avec une personne expérimentée !</b><br>
        Si vous n'avez jamais fait de grande voie, rapprochez-vous de votre club d'escalade local ou cherchez un professionnel pour vous accompagner.
        <br><br>
        Les articles sont accéssibles à partir du menu de gauche, et sont séparés en 4 catégories :
        <ul>
            <li><b>À savoir </b>: des notions théoriques sur l'escalade en grande voie.</li>
            <li><b>Les manips de base </b>: l'assurage, trianguler un relais, le rappel, etc.</li>
            <li><b>En cas de problème</b> : comment se sortir des situations problématiques les plus courantes.</li>
            <li><b>Premiers secours</b> : prendre en charge un grimpeur blessé suite à un accident.</li>
        </ul>
        <br>
        <div style="border: 3px solid rgb(255, 196, 0); padding: 5px; border-radius: 5px;">
            Bientôt disponible : une 5ème catégorie sur les manips d'assistance plus compliquées (décrochage sur rappel, grand balancier, etc.).
        </div>
    </div>
    <div class="section">
        <header>Les niveaux</header>
        <article>
            <section>
                <br>
                <div>Pour plus de clarté, un niveau de difficulté est indiqué à côté de chaque article.</div>
                <header style="text-decoration: none;">
                    Niveau 1
                    <span class="levelContainer">
                        <span class="circle niveau_1"></span>
                        <span class="levelInfo niveau_1">
                            <header>Niveau 1</header>
                            <div>
                                Les notions basiques que tout le monde devrait connaître.
                                Ces articles sont plutôt déstinés à ceux qui débutent en grande voie.
                            </div>
                        </span>
                    </span>
                </header>
                <div>
                    Les notions basiques que tout le monde devrait connaître.
                    Ces articles sont plutôt déstinés à ceux qui débutent en grande voie,
                    mais il sera peut-être judicieux d'y jeter un coup d'œil même si vous n'êtes pas débutant :)
                </div>
            </section>
            <section>
                <header style="text-decoration: none;">Niveau 2 <span class="circle niveau_2"></span></header>
                <div>
                    Des notions théoriques un peu plus poussées, et des manips qu'on utilise uniquement en cas de problème.
                    Quand vous partez en grande voie, au moins une personne dans la cordée devrait connaître ces manips.
                </div>
            </section>
            <section>
                <header style="text-decoration: none;">Niveau 3 <span class="circle niveau_3"></span></header>
                <div>
                    Des manips plus difficiles à mettre en place, qui peuvent demander du matériel spécifique.
                </div>
            </section>
        </article>
    </div>
</div>

