
<div style="height: 100vh;">
    <header style="font-size: 4em;">Bienvenue sur le référentiel !</header>
    Le referentiel c'est ca, ca s'adresse a ces personnes. <br>
    Mode d'emploi<br>
    Le menu de gauche<br>
    <article style="margin-top: 20px; display: block;">
        Les <br>
        <b>
      
        Niveau 1 <span class="circle niveau_1"></span><br>  
        Niveau 2 <span class="circle niveau_2"></span><br> 
        Niveau 3 <span class="circle niveau_3"></span><br> 
        </b>
    </article>
</div>

