<section>
Plusieurs niveaux :<br>
<div class="niveau_1" onclick="toggleLevel(1)">Niveau 1</div>
<div class="niveau_2" onclick="toggleLevel(2)">Niveau 2</div>
<div class="niveau_3" onclick="toggleLevel(3)">Niveau 3</div>
</section>