{% set niveau = x.entry.data.niveau%}
{%- if niveau -%} {# if niveau exists#}
    <span class="levelContainer">
                        <span class="circle niveau_{{niveau}}"></span> {# show circle #}
                        <span class="levelInfo niveau_{{niveau}}"> {# show info #}
                            <header>Niveau {{niveau}}</header>
                            <div>
                                {% include "levels/level_"+niveau+".njk" %}
                            </div>
                        </span>
                    </span>
{% endif %}