<script>
    function toggleDisplay(id) {
        const e = document.getElementById(id)
        e.style.display = e.style.display === 'block' ? 'none' : 'block'
    }
</script>

{% set navPages = collections.all | eleventyNavigation %}
{% set menuLeafClass = "block p-0 hover:bg-white cursor-pointer rounded-sm" %}

<aside class="sticky-menu">
    {%- for categorie in navPages %} {# get all categories #}
    <div>
        <h5 class="uppercase no-underline">
            {{ categorie.title }} {#ex: TECHNIQUES DE CORDE#}
        </h5>
        <ul>
            {%- for subject in categorie.children %} {# get all subjects from categorie #}
            <li>
                {%- if subject.children.length and subject.hideChildren != true -%} {# if articles exists in subject#}
                    <a onclick="toggleDisplay('{{subject.key|slug}}-menu')" class="{{menuLeafClass}}">
                        {{subject.title}} {#ex: RAPPEL#}
                    </a>
                    <ul id="{{subject.key|slug}}-menu" class="pl-2 ml-1 hidden border-l border-black">
                        {%- for article in subject.children -%} {# get all articles from subject #}
                            {%- if article.hideFromMenu != true -%}
                                <li>
                                    <a href="#{{article.key|slug}}" class="{{menuLeafClass}}">{{article.title}}</a> {#ex: MISE EN PLACE#}  
                                </li>
                            {% endif %}
                        {%- endfor -%}
                    </ul>
                {% else %}
                    <a href="#{{subject.key|slug}}" class="{{menuLeafClass}}">{{subject.title}}</a> {#ex: RAPPEL#}
                {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </div>
    {%- endfor %}
</aside>
