<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mobile.css">
    <title>{{eleventyNavigation.key}}</title>
</head>
<body>
<main>
<article>
    <header>{{eleventyNavigation.key}}</header>
    <p>{{content|safe}}</p>
    {% if img %}
        <picture>
            {% if webp %}
                <source srcset="/img/webp/{{img|replace('.jpg', '.webp')}}" type="image/webp">
            {% endif %}
            <img src="/img/{{img}}" alt="{{eleventyNavigation.key}}">
        </picture>
    {% endif %}
    {% if etapes.length %}
    <ol>
        {%- for etape in etapes -%}
            <li>{{etape}}</li>
        {%- endfor -%}
    </ol>
    {% endif %}
    {%- if avantages.length -%}
    <div class="avantages_inconvenients">
        <header>Avantages</header>
        <ul>
        {%- for a in avantages -%}
            <li>{{ a }}</li>
        {%- endfor -%}
        </ul>
        <header>Inconvénients</header>
        <ul>
        {%- for i in inconvenients -%}
            <li>{{ i }}</li>
        {%- endfor -%}
        </ul>
    </div>
{% endif %}
</article>
</main>
</body>
</html>

<!-- 
   <h5>{{eleventyNavigation.key}}</h5>
    
    {% if img %}
        <picture>
            {% if webp %}
                <source srcset="/img/webp/{{img|replace('.jpg', '.webp')}}" type="image/webp">
            {% endif %}
            <img src="/img/{{img}}" alt="{{eleventyNavigation.key}}">
        </picture>
    {% endif %}

    <ol>
        {%- for etape in etapes -%}
            <li>{{etape}}</li>
        {%- endfor -%}
    </ol>

    {% if not img %}
        <p>{{content|safe}}</p>
    {% endif %}
 -->
