<h3>Les mouflages</h3>
<p class="desktop_only">
    Les mouflages servent à démultiplier sa force pour aider un second en grande voie, ou tendre une corde.
</p>
<article class="desktop_only">
    <h4>L’effet poulie</h4>
    <section>
        <img src="imgs/Manips/poulie_1.jpg" alt="" height="40%">
        <p>
            Sur cet exemple je prends un poids P de 10 kg.<br>
            Ce poids exerce donc une force de 10 kg vers le bas.<br>
            Pour retenir ce poids, et qu’il ne tombe pas, je dois exercer une force égale et opposée.<br>
            J’exerce donc une force F de 10 kg vers le haut, c’est dur!<br>
            Pour me faciliter les choses, j’installe une poulie au plafond.
        </p>
    </section>
    <br>
    <section>
        <img src="imgs/Manips/poulie_2.jpg" alt="" height="40%">
        <p>
            Maintenant c’est plus pratique, je dois tirer vers le bas.<br>
            Par contre je dois toujours exercer une force F de 10 kg pour retenir le poids.<br>
            Le poids tire la corde vers le bas avec une force de 10 kg.<br>
            Je tire aussi la corde vers le bas avec une force de 10 kg.<br>
            La poulie subit donc une force de 20 kg vers le bas.<br>
            Pour me simplifier encore plus la tâche, j’attache une poulie au poids
        </p>
    </section>
    <br>
    <section>
        <img src="imgs/Manips/poulie_3.jpg" alt="" height="40%">
        <p>
            Ah maintenant c’est beaucoup plus facile!<br>
            Le poids est réparti équitablement sur les deux brins de corde.<br>
            Il exerce une force de 5 kg vers le bas sur chaque brin.<br>
            Il me suffit donc d’exercer une force de 5 kg vers le haut pour retenir le poids.<br>
            C’est l’effet poulie!
        </p>
    </section>
</article>
<article>
    <h4>Le mouflage boucle</h4>
    <img src="imgs/Manips/mouflage_boucle.jpg" alt="" height="80%">
    <p class="desktop_only">
        Le mouflage boucle est la solution la plus efficace si le grimpeur en difficulté n’est pas
        trop loin du relais et qu’il est valide. Il nécessite une longueur de corde égale à trois
        fois la distance qui sépare le leader du second. Il a l’avantage de permettre au
        grimpeur en difficulté de se hisser lui-même en plus de démultiplier la force de
        hissage par trois, ce qui rend le travail du leader beaucoup plus facile!
    </p>
    <ol>
        <li> Faire une grande boucle avec le brin mou qui sort de l’assureur.</li>
        <li> Quand elle arrive au niveau du second, il la clippe à son pontet.</li>
        <li> Bien identifier sur quels brins tirent l’assureur et le grimpeur, et c’est parti!</li>
    </ol>
    <p>
        (sur le schéma l’assureur tire sur le brin de droite, le grimpeur sur le brin du milieu)
    </p>
</article>
<article>
    <h4>Le mouflage simple</h4>
    <img src="imgs/Manips/mouflage_simple.jpg" alt="">
    <p class="desktop_only">
        Le mouflage simple est très rapide à installer. Il démultiplie la force de
        hissage par trois, mais seul le leader travaille. Il sera efficace pour
        débloquer un second dans un pas difficile, mais pas pour hisser un
        grimpeur inconscient.
    </p>
    <ol>
        <li> Installer un autobloquant sur le brin tendu.</li>
        <li> Clipper le brin mou dans le mousqueton de l’autobloquant.</li>
        <li> Pousser l’autobloquant vers le bas au maximum.</li>
        <li>Commencer à hisser.</li>
    </ol>
</article>