<div class="title">Quelques noeuds</div>

<p>
    Un noeud doit toujours être serré et propre pour être efficace.<br/>
    On serre un noeud en le prenant dans une main et en tirant chaque brin avec l’autre main.<br/>
    Un noeud d'arrêt est toujours un demi pêcheur double.<br/>
</p>

<br/>
<br/>

{%- for n in collections.noeud -%}

  <article id="{{ n.data.name | slug}}" class="columns">

    <img src="/img/{{n.data.img}}" alt="" class="column is-one-third">

    <div class="column">
      <h4 class="title is-4">{{ n.data.name }}</h4>

      <p>{{ n.templateContent | safe }}</p>
      <br/>

      <h5 class="title is-6">Avantages</h5>
      <ul class="list">
        {%- for avantage in n.data.avantages -%}
          <li class="list-item">{{ avantage }}</li>
        {%- endfor -%}
      </ul>
      <h5 class="title is-6">Inconvénients</h5>
      <ul class="list">
        {%- for i in n.data.inconvenients -%}
          <li class="list-item">{{ i }}</li>
        {%- endfor -%}
      </ul>
    </div>

  </article>

{%- endfor -%}