
<!-- ####################################################################################################################### -->
<!-- ########################################   PREMIERS SECOURS   #################################################### -->
<!-- ####################################################################################################################### -->  

<h2>Premiers secours</h2> 

<!-- ####################################################################################################################### -->
<!-- ############################################   HEMORRAGIE   ########################################################### -->
<!-- ####################################################################################################################### -->   

<div id="hemorragie">
<h3>Hémorragie</h3>
<article>
    <p class="desktop_only">
        Une hémorragie externe est une perte de sang abondante, visible et prolongée qui provient d’une plaie ou
        d’un orifice naturel (hémorragie extériorisée) et qui ne s’arrête pas spontanément.
        Un saignement est considéré comme abondant s’il imbibe de sang un mouchoir en quelques secondes.
    </p>
    <center><img src="imgs/Secours/aaa.jpg" alt="" style="float: none;"></center>
    <ol>
        <li><b>Appuyer:</b> Comprimer fortement l’endroit qui saigne, pour arrêter le saignement.</li>
        <li><b>Allonger:</b> Mettre le blessé en position horizontale, ce qui retarde l’arrivée de la détresse circulatoire.</li>
        <li><b>Alerter:</b> Appeler les secours.</li>
    </ol>
    <p>
        Si on doit lâcher la compression avant l'arrivée des secours (pour passer l’alerte par exemple), il faudra relayer la compression par un pansement compressif.
        Un pansement compressif est une épaisseur de tissu maintenue par un bandage serré.
    </p>
     <center><img src="imgs/Secours/tampon.jpg" alt="" style="float: none;"></center>
    <p>
        Si un pansement compressif est impossible, et que le saignement siège au niveau d’un membre, il faudra alors faire un garrot improvisé.
    </p>
    <p>
        <b>ATTENTION!</b>
    </p>
    <p>
        -On ne fait un garrot qu’en dernier recours! Les risques de perdre le membre atteint sont réels.<br>
        -Ne jamais défaire un garrot sans avis médical, cela pourrait entraîner un arrêt cardiaque.<br>
        -Bien noter l’heure de mise en place du garrot.
    </p>
</article>
<article>
    <h4>Garrot avec sangle et mousqueton</h4>
    <ol>
        <li>Prendre une sangle la plus large possible (minimum 1 cm)</li>
        <li>La doubler et la passer autour du membre atteint jusqu'à arriver quelques cm au dessus de la plaie.</li>
        <li>Bien serrer et faire un noeud simple sur la sangle.</li>
        <li>Clipper le mousqueton dans la sangle et le tourner pour serrer la sangle.</li>
        <li>Avec l'excédent de sangle, bloquer le mousqueton pour verrouiller le système.</li>
        <li>Noter l’heure de la pose du garrot sur la peau du blessé.</li>
    </ol>
    <section class="scroll">
        <img src="imgs/Secours/garrot.jpg" alt="" class="scroll">
    </section>
</article>
</div>

<!-- ####################################################################################################################### -->
<!-- ############################################   INCONSCIENCE   ######################################################### -->
<!-- ####################################################################################################################### -->   

<div id="inconscience">
<h3>Inconscience</h3>
<article>
    <p>
        Si la victime ne répond pas à vos questions, elle est inconsciente, il faut alors vérifier si elle respire.
    </p>
    <section>
        <img src="imgs/Secours/verif.jpg" alt="">
        <ol>
            <li>Allonger la victime sur le dos.</li>
            <li>Basculer doucement sa tête en arrière.</li>
            <li>Se pencher sur la victime, l’oreille du sauveteur au-dessus de son nez.</li>
        </ol>
        <p>
            <b>Rechercher:</b>
        </p>
        <ul>
            <li>Avec la joue, le flux d’air expiré par le nez et la bouche.</li>
            <li>Avec l’oreille, les bruits provoqués par la respiration.</li>
            <li>Avec les yeux, le soulèvement du ventre et/ou de la poitrine.</li>
        </ul>
    </section>
    <p>
        <b>Si la victime respire</b>, on la met en PLS (Position Latérale de Sécurité)<br>
        <b>Si la victime ne respire pas</b>, elle fait un arrêt cardiaque, il faut la réanimer.
    </p>
</article>
<article>
    <h4>Inconscient qui respire: PLS</h4>
    <p>
        L’inconscience est une détresse vitale, on appellera donc systématiquement les secours après avoir mis la victime en PLS.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Nk8zaPyjA8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</article>
<article>
    <h4>Inconscient qui ne respire pas: Réanimation</h4>
    <p>
        Si on constate que la victime ne respire pas, on considère qu’elle est en arrêt cardiaque,
        <b>pas besoin de vérifier son pouls!</b>
    </p>
    <p>
        A retenir:   <b>Alerter Masser Défibriller</b>
    </p>
    <ol>
        <li>Avant toute chose, alerter les secours.
        (si on est seul: mettre le téléphone sur haut parleur et commencer les compressions en attendant que les services de secours répondent)</li>
        <li>Si des témoins sont présents, les envoyer chercher un défibrillateur.</li>
        <li> Débuter les compressions thoraciques, appuyer au milieu du thorax, fort et vite. (110 bpm)</li>
        <li>Mettre en place le défibrillateur dès qu’on vous l’apporte, et suivre ses instructions.</li>
    </ol>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lKta6hI3lx8?start=47" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</article>
</div>

<!-- ####################################################################################################################### -->
<!-- ################################################   ALERTE   ########################################################### -->
<!-- ####################################################################################################################### -->   

<div id="alerte">
<h3>Alerte</h3>
<article>
    <p>
        Le numéro à retenir pour un secours en montagne est le <b>112</b>. Il marche dans toute l’Europe (pratique quand on grimpe en région frontalière). Pensez à mettre vos téléphones en mode sonnerie au cas où le régulateur vous rappelle pour avoir un complément d’information.
    </p>
    <p>
        En cas d’absence de réseau, on peut envoyer un SMS au <b>114</b> avec toutes les informations utiles, et commencer à se déplacer. Dès qu’un réseau sera trouvé par le téléphone, le message d’alerte sera transmis.
    </p>
    <section>
        <img src="imgs/Secours/alerte.jpg" alt="">
        <p>
            Si vous devez appeler les secours, essayez de rester calme et contentez vous de répondre à leurs questions, sans parler trop vite. Assurez vous d’avoir toutes les informations avant d’appeler. Gardez à l'esprit que l'operateur n'y connait surement rien à l'escalade!
        </p>
        <ol>
            <li>Localisation <b>précise</b> en zoom (departement, commune, secteur, nom de la voie, hauteur)</li>
            <li>Nature de l’accident</li>
            <li>Nombre de victime</li>
            <li>Indications sur l'accès le plus facile (par le bas, par le haut, par helicoptère)</li>
        </ol>
    </section>
    <p>
        Ne raccrochez pas avant qu'on vous le dise
    </p>
    <p>
        Une fois l’alerte passée, le régulateur vous dira quel moyen de transport sera choisi.
        Si un accès par la route est privilégié, on peut envoyer quelqu’un à la rencontre des secouristes pour leur indiquer le chemin.
    </p>
    <section>
        <img src="imgs/Secours/heli2.jpg" alt="">
        <p>
            Si c’est un transport par hélicoptère qui est choisi, il faudra alors se préparer pour un hélitreuillage:
        </p>
        <ol>
            <li>Ranger tout ce qui traîne dans des sacs, et les attacher (attention aux couvertures de survie!).</li>
            <li>Nettoyer si possible la zone autour de la victime (enlever les branches mortes, pierres instables etc).</li>
            <li>Préparer de quoi protéger la victime du souffle de l’hélicoptère (veste, lunettes de soleil…).</li>
            <li>Préparer l'accueil d’un secouriste au relais (main courante, triangulation annexe).</li>
            <li>Couvrir les plaies de la victime.</li>
        </ol>
        <p>
            Quand on entend l’hélicoptère arriver, se mettre debout et lever les bras pour former un <b>Y</b> (yes). Rester immobile jusqu'à l'arrivée du secouriste: vous êtes le repère du pilote qui vous prend comme point de référence pour manœuvrer. Attention au souffle qui peut être très violent, mettre des lunettes de soleil si on en a, et rester sur ses appuis! Si un hélicoptère arrive alors qu’on n’a pas appelé les secours, faire une diagonale avec ses bras pour former un <b>N</b> (no).
        </p>
    </section>
    <section>
        <img src="imgs/Secours/yes_no.jpg" alt="">

        <p>
            En attendant les secours:<br>
            On <b>R</b>échauffe, <b>R</b>éhydrate et <b>R</b>éconforte (<b>RRR</b>) la victime, après l’avoir mise dans la position où elle se sent le mieux. Il est très important de lutter contre l'hypothermie car l'attente sera longue. On pourra faire un tapis de cordes pour isoler la victime du sol.
        </p>
    </section>
</article>
</div>

<!-- ####################################################################################################################### -->
<!-- ################################################   PLAIES   ########################################################### -->
<!-- ####################################################################################################################### -->   

<div id="plaies">
<h3>Plaies</h3>
<article>
    <section>
        <img src="imgs/Secours/plaie.jpg" alt="">
        <p>
            Toute plaie même minime doit être prise au sérieux. En effet si elle n’est pas désinfectée rapidement, elle pourrait dégénérer.
        </p>
    </section>
    <ol>
        <li>Ne jamais enlever un éventuel objet enfoncé dans la plaie.</li>
        <li>Nettoyer la plaie avec de l’eau courante ou du sérum physiologique.</li>
        <li>Désinfecter la plaie avec un antiseptique.</li>
        <li>Couvrir la plaie avec un pansement (pansement individuel, compresse, vetement etc).</li>
        <li>Faire prendre un antalgique si besoin</li>
    </ol>
</article>
</div>

<!-- ####################################################################################################################### -->
<!-- ################################################   ENTORSES   ######################################################### -->
<!-- ####################################################################################################################### -->

<div id="entorses">
<h3>Entorses</h3>
<article>
    <h4>Cheville</h4>
    <section>
        <img src="imgs/Secours/cheville.jpg" alt="" >
        <ol>
            <li>Allonger le blessé.</li>
            <li>Surélever le membre atteint.</li>
            <li>Refroidir et immobiliser si possible.</li>
            <li>Faire prendre un antalgique et un anti-inflammatoire si besoin.</li>
        </ol>
    </section>
    <p>
        On peut fabriquer des béquilles de fortune avec des branches d'arbre, ou aider la victime à marcher sans poser le pied atteint au sol. Si un retour par vos propres moyens vous parrait difficile ou dangereux, mieux vaut appeler les secours.
    </p>
</article>
<article>
    <h4>Poignet</h4>
    <section>
        <img src="imgs/Secours/poignet.jpg" alt="" >
        <ol>
            <li>Retirer les bagues et bracelets.</li>
            <li>Demander au blessé de tenir son bras dans la position la moins douloureuse.</li>
            <li>Immobiliser et refroidir si possible.</li>
            <li>Faire prendre un antalgique et un anti-inflammatoire si besoin.</li>
        </ol>
    </section>
    <p>
        Pour immobiliser le bras, on peut improviser une écharpe avec une veste fine (type coupe-vent):
    </p>
    <section>
        <img src="imgs/Secours/echarpe.jpg" alt="" >
        <ol>
            <li>Mettre la veste à plat par terre, fermeture vers le haut.</li>
            <li>Replier la capuche vers l'intérieur.</li>
            <li>Plier le corps de la veste en deux pour former un rectangle.</li>
            <li>Placer ce rectangle sous le bras du blessé.</li>
            <li>Nouer les manches derrière le cou du blessé.</li>
        </ol>
    </section>
 </article>
</div>

<!-- ####################################################################################################################### -->
<!-- ################################################   BRULURES   ######################################################### -->
<!-- ####################################################################################################################### -->

<div id="brulures">
<h3>Brûlures</h3>
<article>
    <img src="imgs/Secours/brulure.jpg" alt="">
    <ol>
        <li>Refroidire si possible avec de l'eau courante.</li>
        <li>Couvrir la brûlure avec un pansement.</li>
        <li>Faire prendre un antalgique si besoin.</li>
    </ol>
</article>
</div>

<!-- ####################################################################################################################### -->
<!-- #########################################   TROUSSE SECOURS   ######################################################### -->
<!-- ####################################################################################################################### -->

<div id="trousse">
<h3>Trousse de secours</h3>
<article>
    <p>
        Avoir une trousse de secours est une nécessité quand on part grimper, mais il faut aussi savoir se servir de son contenu. Penser à vérifier périodiquement qu’elle soit bien complète et que les médicaments ne soient pas périmés.
    </p>
    <p>
        Voila le contenu de la mienne, libre à vous de l’adapter à vos besoins:
    </p>
    <ul>
        <li>1 couverture de survie</li>
        <li>2 paquets de 5 compresses stériles</li>
        <li>Quelques pansements prédécoupés de différentes tailles</li>
        <li>2 pansements contre les ampoules (type Compeed)</li>
        <li>Un paquet de steri-strip</li>
        <li>2 bandes velpeau (petite et grande) et une épingle de sûreté</li>
        <li>1 petit rouleau de strap</li>
        <li>4 dosettes de Chlorhexidine (antiseptique)</li>
        <li>3 dosettes de Sérum Physiologique</li>
        <li>Quelques comprimés de paracétamol</li>
        <li>Quelques comprimés d’anti-inflammatoires</li>
        <li>1 petit sac plastique qui sert de poubelle</li>
        <li>1 pince à échardes</li>
        <li>1 fiche d’alerte avec un marqueur fin</li>
        <li>1 briquet</li>
        <li>1 couteau</li>
    </ul>
</article>
</div>