<h3>Le rappel</h3>
<p>
    La descente en rappel est une situation générant de nombreux accidents, souvent dus à des fautes d’inattention. Même fatigué, rester concentré jusqu’à la voiture! Veillez à faire des noeuds en bouts de cordes: un demi pêcheur double bien serré sur chaque brin. Faites aussi attention aux chutes de pierres: gardez toujours votre casque, et quand vous arrivez en bas, écartez-vous de la ligne de rappels.
</p>
<article>
    <h4>Mise en place du descendeur</h4>
    <h5>Autobloquant en dessous:</h5>
    <p>
        Avec cette méthode, le poids du grimpeur est partagé entre le descendeur et l’autobloquant. L’autobloquant sera donc beaucoup plus facile à débrayer une fois sous tension. Par contre, il sera plus difficile de faire un passage de noeud ou une remontée sur corde en cas de problème.
    </p>
    <h5>Autobloquant au dessus:</h5>
    <p>
        Avec cette méthode, il est très facile de faire un passage de noeud ou une conversion pour commencer une remontée sur corde. En revanche l’autobloquant a tendance à se bloquer quand il est mis sous tension, il est alors difficile de le débrayer.
    </p>
</article>
<article>
    <h4>Rappel à deux</h4>
    <p>
        Pour descendre en rappel avec un grimpeur blessé qui n’est pas en mesure d’assurer sa propre descente, on peut faire un rappel à deux.
    </p>
    <ol>
        <li>Mettre en place son descendeur sur la corde avec un mousqueton.</li>
        <li>Le secouriste et le blessé se longent à ce mousqueton.</li>
        <li>Le secouriste se longe au blessé avec une deuxième longe ou une sangle.</li>
        <li>Il place un autobloquant en dessous du descendeur et commence sa descente.</li>
    </ol>
    <img src="imgs/Manips/rappel_deux.jpg" alt="">
    <img src="imgs/Manips/rappel_deux_detail.jpg" alt="">
</article>
<article>
    <h4>Rappel sans descendeur</h4>
    <p>
        Quand on a perdu son descendeur, le plus simple est de se faire mouliner par son binôme. On passe la corde directement dans le maillon du relais pour qu’une fois le premier en bas, la corde soit en place pour que le second descende en rappel. Il est parfois judicieux d’utiliser cette technique même quand on n’a pas perdu son descendeur!
    </p>
    <p>
        Une autre option est de remplacer son descendeur par un Bicéphale (voir chapitre noeuds). Attention les frottements sont moins importants qu’avec un descendeur, bien vérifier que son autobloquant soit efficace!
    </p>
    <p>
        <strong style="color:red">photos installation</strong>
    </p>
    <p>
        On peut enfin remplacer son descendeur par un demi-cabestan, méthode à utiliser en dernier recours car elle vrille les cordes.
    </p>
</article>
<article>
    <h4>Rappel coincé</h4>
    <p>
        Il est important d’essayer d’anticiper où la corde pourrait se coincer, et de tout mettre en œuvre pour qu’elle ne se coince pas. Voici quelques méthodes qui pourront vous aider:
    </p>
    <h5>Un seul brin:</h5>
    <p>
        Quand une corde de rappel se bloque, c’est souvent que le noeud de jonction des deux brins s’est coincé dans une fissure. Pour éviter ce problème, on préférera descendre en rappel sur un seul brin si le rappel est court. Il est alors utile d’avoir ses milieux de cordes marqués. Mieux vaut y penser avant!
    </p>
    <h5>Vent fort:</h5>
    <p>
        S’il y a beaucoup de vent, mieux vaut ne pas jeter ses cordes du haut du rappel. On peut l’enkiter dans son sac à dos qu’on garde clippé en dessous de nous à la descente.
        Une autre technique consiste à faire une poupée d’une dizaine de mètres avec les bouts des cordes, et de la faire descendre doucement. Cette poupée sert de leste pour garder les cordes dans l’axe du rappel.
    </p>
    <h5>Noeud de jonction:</h5>
    <p>
        Le noeud de jonction qui a la surface la plus petite est le noeud simple. C’est donc le noeud à privilégier dans un terrain à fort potentiel de coincement. 
        Quand on installe ses cordes dans le relais de rappel, le noeud de jonction doit être placé côté rocher. Le brin que l’on va tirer va de ce fait se trouver sous l’autre brin, ce qui évite de le bloquer.
    </p>
</article>
<article>
    <h4>Passage de noeud</h4>
    <p>
        Il peut arriver qu’une corde s'abîme alors qu’on est encore dans la voie (chute de pierre, mauvais frottements etc). On peut alors isoler la partie abîmée avec un noeud, qu’il faudra passer si on descend en rappel. Dans ce cas il faut installer son autobloquant au dessus de son descendeur, mais pas trop loin.
    </p>
    <ol>
        <li>Quand le noeud arrive presque en butée dans le descendeur, laisser mordre l’autobloquant.</li>
        <li>Faire une queue de vache 3m en dessous et la clipper à son pontet.</li>
        <li>Enlever son descendeur, et le replacer juste sous le noeud, puis le muler (voir chapitre noeuds).</li>
        <li>Débrayer son autobloquant puis l’enlever, et le replacer entre le noeud et le descendeur.</li>
        <li>Défaire la queue de vache, défaire le noeud de mule du descendeur et continuer sa descente.</li>
    </ol>
    <section class="scroll">
        <img src="imgs/Manips/noeud.jpg" alt="" class="scroll">
    </section>
</article>
<article>
    <h4>Descente sur cordes tendues</h4>
    <p>
        Si un grimpeur a besoin d’aide en milieu de rappel et qu’on est positionné au dessus de lui, il va falloir descendre sur les cordes tendue pour lui venir en aide.
    </p>
    <ol>
        <li>Faire un machard tressé sur les cordes avec une sangle (voir chapitre noeuds).</li>
        <li>S’y longer et installer un autobloquant en dessous, comme pour un rappel normal.</li>
        <li>On peut maintenant descendre en débrayant doucement la tresse.</li>
    </ol>
    <img src="imgs/Manips/corde_tendue.jpg" alt="">
    <img src="imgs/Noeuds/tresse.jpg" alt="">
</article>