<h3>Les remontées sur corde</h3>
<article>
    <h4>En bout de corde</h4>
    <p class="desktop_only">
        En second, quand on tombe sous un dévers ou dans une traversée, il est parfois difficile voire impossible de retrouver le contact avec le rocher. On est alors bloqué au bout de sa corde. Il va falloir remonter sur cette corde tendue pour atteindre la prochaine dégaine.
    </p>
    <section class="scroll">
        <img src="imgs/Manips/remontee_bout.jpg" alt="" class="scroll">
    </section>
    <ol>
        <li>Placer l’autobloquant sur la corde et clipper une chaîne de dégaines dessus, c’est votre pédale.</li>
        <li>Le remonter le plus haut possible.</li>
        <li>Prendre appui sur la pédale et se vacher court dans l’autobloquant (avec un mousqueton).</li>
        <li>Mettre en place son assureur en mode plaquette (voir photo page suivante).</li>
        <li>Prendre appui sur la pédale pour enlever sa longe courte, et se mettre en tension sur son assureur.</li>
        <li>Remonter la pédale au plus haut et prendre appui dessus pour ravaler le mou de l’assureur.</li>

    </ol>
</article>
<article>
    <h4>Sur un rappel</h4>
    <p class="desktop_only">
        Lors d’un rappel, il peut arriver qu’on rate un relais en descendant. Il faut alors remonter sur les cordes pour le rejoindre. Pour ce faire, il existe deux méthodes en fonction de la configuration du descendeur et de l’autobloquant
    </p>
    <section>
        <h5>Autobloquant au dessus</h5>
        <p class="desktop_only">
            C’est la configuration la plus facile.
        </p>
        <img src="imgs/Manips/reverso_auto.jpg" alt="">
        <ol>
            <li>Faire une queue de vache un mètre en dessous du descendeur et la clipper à son pontet.</li>
            <li>Modifier l’installation du descendeur pour qu’il soit en mode plaquette (voir photo).</li>
            <li>Installer une sangle sur l’autobloquant, c’est la pédale.</li>
            <li>Enlever la queue de vache, vous êtes prêt à remonter!</li>
        </ol>
    </section>
    <section>
        <h5>Autobloquant en dessous</h5>
        <p>
            <strong style="color:red">A COMPLETER</strong>
        </p>
    </section>
</article>