

{#----------------------------------------- CONTENT ------------------------------------------ #}

{% if x.entry.data.textLayout != "right"%}
    <p>{{ x.entry.templateContent | safe }}</p> 
{% endif %}

{#------------------------------------------ IMAGE LEFT -------------------------------------- #}

{% if x.entry.data.imageLayout == "left"%}
    {% if x.entry.data.img %}
            <img src="/img/{{x.entry.data.img}}" alt="{{x.title}}" loading="lazy">
    {% endif %}
{% endif %}

{% if x.entry.data.textLayout == "right"%}
    <p>{{ x.entry.templateContent | safe }}</p> 
{% endif %}



{#----------------------------------------- IMAGE SCROLL -------------------------------------- #}

{% if x.entry.data.imageLayout == "scroll" %} 
    <div class="scroll">
        <img src="/img/{{x.entry.data.img}}" alt="{{x.title}}" loading="lazy" class="scroll">
    </div>
{% endif %}

{#----------------------------------------- ETAPES -------------------------------------- #}

{%- if x.entry.data.etapes.length -%}
    <ol>
        {%- for etape in x.entry.data.etapes -%}
            <li>{{etape}}</li>
        {%- endfor -%}
    </ol>
{% endif %}

{#----------------------------------------- IMAGE DOUBLE -------------------------------------- #}

{% if x.entry.data.imageLayout == "double" %}
    <div>
        <img src="/img/{{x.entry.data.img}}"  alt="{{x.title}}" loading="lazy">
        <img src="/img/{{x.entry.data.img2}}" alt="{{x.title}}" loading="lazy">
    </div>
{% endif %}

{#----------------------------------------- NOEUDS -------------------------------------- #}

{%- if x.entry.data.avantages.length -%}
    <div class="avantages_inconvenients">
        <header>Avantages</header>
        <ul>
        {%- for a in x.entry.data.avantages -%}
            <li>{{ a }}</li>
        {%- endfor -%}
        </ul>
        <header>Inconvénients</header>
        <ul>
        {%- for i in x.entry.data.inconvenients -%}
            <li>{{ i }}</li>
        {%- endfor -%}
        </ul>
    </div>
{% endif %}

