

{#----------------------------------------- CONTENT ------------------------------------------ #}

<p>{{ x.entry.templateContent | safe }}</p> 

{#------------------------------------------ IMAGE LEFT -------------------------------------- #}

{% if x.entry.data.imageLayout == "left"%}
    {% if x.entry.data.img %}
            <img src="/img/{{x.entry.data.img}}" alt="{{x.title}}" loading="lazy">
    {% endif %}
{% endif %}


{#----------------------------------------- IMAGE SCROLL -------------------------------------- #}

{% if x.entry.data.imageLayout == "scroll" %} 
    <div>
        <img src="/img/{{x.entry.data.img}}" alt="{{x.title}}" loading="lazy">
    </div>
{% endif %}

{#----------------------------------------- ETAPES -------------------------------------- #}

{%- if x.entry.data.etapes.length -%}
    <ol>
        {%- for etape in x.entry.data.etapes -%}
            <li>{{etape}}</li>
        {%- endfor -%}
    </ol>
{% endif %}

{#----------------------------------------- IMAGE DOUBLE -------------------------------------- #}

{% if x.entry.data.imageLayout == "double" %}
    <div class="md:flex md:justify-around max-w-2xl mx-auto">
        <img src="/img/{{x.entry.data.img}}" class="rounded-md max-w-full sm:max-w-xs" alt="{{x.title}}" loading="lazy">
        <img src="/img/{{x.entry.data.img2}}" class="rounded-md max-w-full sm:max-w-xs" alt="{{x.title}}" loading="lazy">
    </div>
{% endif %}

{#----------------------------------------- NOEUDS -------------------------------------- #}

{%- if x.entry.data.avantages.length -%}
    <div class="avantages_inconvenients">
        <header>Avantages</header>
        <ul>
        {%- for a in x.entry.data.avantages -%}
            <li>{{ a }}</li>
        {%- endfor -%}
        </ul>
        <header>Inconvénients</header>
        <ul>
        {%- for i in x.entry.data.inconvenients -%}
            <li>{{ i }}</li>
        {%- endfor -%}
        </ul>
    </div>
{% endif %}

