<script>
    function toggleDisplay(id) {
        const e = document.getElementById(id)
        e.style.display = e.style.display === 'block' ? 'none' : 'block'
    }
</script>

{% set navPages = collections.all | eleventyNavigation %}
{% set menuLeafClass = "block p-0 hover:bg-white cursor-pointer rounded-sm" %}

<aside class="menu">
    {%- for categorie in navPages %} {# get all categories #}
    <div>
        <header class="categorie">
            {{ categorie.title }} {#ex: TECHNIQUES DE CORDE#}
        </header>
        <ul>
            {%- for subject in categorie.children %} {# get all subjects from categorie #}
            <li>
                {%- if subject.children.length and subject.hideChildren != true -%} {# if articles exists in subject#}
                    <header class="subject">
                        <a href="#{{subject.key|slug}}" onclick="toggleDisplay('{{subject.key|slug}}-menu')">
                            {{subject.title}} {#ex: RAPPEL#}
                        </a>
                    </header>
                    <div class="article">
                        <ul id="{{subject.key|slug}}-menu" style="display: none">
                            {%- for article in subject.children -%} {# get all articles from subject #}
                                {%- if article.hideFromMenu != true -%}
                                    <li>
                                        <header>
                                            <a href="#{{article.key|slug}}">{{article.title}}</a> {#ex: MISE EN PLACE#}  
                                        </header>
                                    </li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </div>
                {% else %}
                    <header class="subject">
                        <a href="#{{subject.key|slug}}">{{subject.title}}</a> {#ex: RAPPEL#}
                    </header>
                {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </div>
    {%- endfor %}
</aside>
