<div class="section">
<div class="container">

<div class="title is-2">Techniques de cordes</div>

{% include principes-de-base.html %}

{% include noeuds.html %}

{% include mouflages.njk %}

{% include rechappes.html %}

{% include remontees-sur-corde.html %}

{% include rappel.html %}

<br>

{%- for x in collections.debrayer -%}
    {% include instructions.njk %}
{%- endfor -%}

<br>

{%- for x in collections.relais-points-espaces -%}
    {% include instructions.njk %}
{%- endfor -%}

</div>
</div>