<div class="section">
<div class="container">

<div class="title is-2">Techniques de cordes</div>

{% include "principes-de-base.njk" %}

{% include "noeuds.njk" %}

{% include "mouflages.njk" %}

{% include "rechappes.njk" %}

{% include "remontees-sur-corde.njk" %}

{% include "rappel.njk" %}

<br>

{%- for x in collections.debrayer -%}
    {% include "instructions.njk" %}
{%- endfor -%}

<br>

{%- for x in collections.relais-points-espaces -%}
    {% include "instructions.njk" %}
{%- endfor -%}

</div>
</div>