---
eleventyNavigation:
  key: Queue de vache
  order: 11

img: queue-de-vache.jpg
avantages:
  - Facile et rapide à faire
inconvenients:
  - Difficile à défaire après avoir été sous tension
---

On l'utilise principalement pour faire des noeuds de sécurité lors de manips de secours.

