---
eleventyNavigation:
  key: Papillon
  order: 12

img: papillon.jpg
avantages:
  - Plus facile à défaire qu'une queue de vache
  - Esthétique
inconvenients:
  - Plus difficile à réaliser qu'une queue de vache
  - Peu utilisé donc on l'oublie vite
---

Le papillon est rarement utilisé et jamais indispensable.
Néanmoins il peut remplacer de manière élégante la queue de vache dans certains cas, quand le temps de réalisation n'est pas un facteur.
