---
eleventyNavigation:
  key: Noeud de mule
  order: 13

img: mule.jpg
avantages:
  - Facile et rapide à réaliser.
inconvenients:
  - Gourmand en corde.
  - Peut être capricieux quand on le défait, nécessite du doigté !
---

Le noeud de mule est utilisé pour verrouiller un système d’assurage (reverso, demi-cabestan, etc.).

C’est l’un des seuls noeuds qui peut être défait sous tension.