---
eleventyNavigation:
  key: Chaise double
  order: 3
  
img: chaise-double.jpg
avantages:
  -  Se règle facilement même après sa conception
  - Se défait facilement
inconvenients:
  -  Nécessite un noeud d'arrêt s’il est fait en bout de corde
  - Plus difficile à contrôler
---
Le chaise double est utilisé pour fixer le milieu d’une corde à un objet,
ou pour trianguler deux points avec ses deux boucles