---
eleventyNavigation:
  key: Demi-cabestan
  order: 5
  
img: demi-cab.jpg
avantages:
  - Rapide à faire.
  - Polyvalent.
inconvenients:
  - Vrille les cordes.
---

Le demi-cabestan peut servir à assurer du bas, assurer du haut, faire descendre un second, descendre en rappel, etc.

