---
eleventyNavigation:
  key: Le fond de sac
  order: 3
---

<ul>
    <li>Un téléphone portable <b>chargé</b>.</li>
    <li>Une lampe frontale en état de marche, avec des piles neuves. Compacte de préférence.</li>
    <li>De l'eau. La quantité est à adapter à la sortie (environ 1,5L par personne).</li>
    <li>A manger en fonction de la sortie. Prendre une barre de céréales ou autre même si on pense ne pas en avoir besoin.</li>
    <li>Des habits chauds / de pluie en fonction de la météo. Anticiper l’altitude et le vent en montagne qui peut faire beaucoup chuter la température. Prendre au minimum un petit coupe vent. </li>
    <li>Crème solaire et lunettes de soleil en fonction de la météo.</li>
    <li>Une trousse de secours par cordée.</li>
    <li>Topo du secteur (prendre une photo du topo pour ne pas l’avoir dans le sac).</li>
    <li>Un paquet de mouchoirs.</li>
    <li>Un couteau.</li>
    <li>Un sac à dos léger pour mettre tout ça (environ 20 L).</li>
</ul>