---
eleventyNavigation:
  key: Les cordes
  order: 1
---
<div style="display:flex; flex-direction:column">
    On peut distinguer deux types de cordes :<br><br>
    <div>
        <img src="/img/stat.jpg" alt="stat" style="max-height:200px" loading="lazy">
        <p>
            Les <b>cordes statiques</b> ont très peu d'élasticité, avec un allongement inférieur à 5%.<br>
            Elles sont utilisées en spéléo, en canyon ou en travaux sur cordes, mais jamais pour grimper.<br>
            Si une corde est de couleur blanche, c'est la plupart du temps une corde statique.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/dynamique.jpg" alt="dynamique" style="max-height:200px" loading="lazy">
        <p>
            Les <b>cordes dynamiques</b> sont élastiques, elles peuvent s'allonger jusqu'à 40%.<br>
            Cela permet d'absorber l'energie générée par une chute et de réduire le choc subit par le grimpeur.<br>
            En escalade on utilise toujours des cordes dynamiques.
        </p>
    </div>
    <br>
    <div>
        <img src="/img/cordes.jpg" alt="cordes" style="max-height:400px" loading="lazy">
        <p>
            Les cordes dynamiques sont divisées en trois catégories : les cordes <b>à simple</b>, les cordes <b>jumelées</b> et les cordes <b>à double</b>.
            Il existe une norme pour chaque catégorie, qui teste plusieurs critères (resistance, dynamisme, allongement, etc).
            Une corde peut répondre à plusieurs normes, et donc faire partie de plusieurs catégories.
            <br><br>
            Une corde à double s'utilise en clippant alternativement un brin ou l'autre pour diminuer le tirage.
            Une corde jumelée s'utilise en clippant à chaque fois les deux brins.
            Aujourd'hui les cordes jumelées ne sont quasiment plus utilisées en escalade car elles présentent trop de contraintes et peu d'avantages.
            Elles ne seront donc pas détaillées ici.
        </p>
    </div>
</div>


