---
eleventyNavigation:
  key: Éviter de coincer la corde
  order: 4
---

Quand une corde se coince sur un rappel, on est souvent dans un de ces cas de figure&nbsp;:<br>
<ul>
    <li>La corde se coince dans une fissure.</li>
    <li>La corde se coince dans un arbre.</li>
    <li>La corde fait des torons et devient impossible à tirer.</li>
</ul>
<br>
Voici quelques méthodes qui pourront vous aider à éviter ces situations&nbsp;: