<article class="md:flex" {% if x.data.name %}id="{{ x.data.name | slug }}"{% endif %}>
    

    <div class="pl-4 {% if x.data.img %}max-w-2xl{% endif %}}">

        {% if x.data.name %}
            <h4>{{ x.data.name }}</h4>
        {% endif %}

        {% if x.data.img %}
        <img src="/img/{{x.data.img}}" class="max-w-full sm:max-w-sm rounded-md" alt="x.data.name" loading="lazy">
        {% endif %}
        
        <p>{{ x.templateContent | safe }}</p>
        <br>
        <ol>
            {%- for etape in x.data.etapes -%}
                <li>{{etape}}</li>
            {%- endfor -%}
        </ol>
    </div>
</article>
