<script>
    function toggleDisplay(id) {
        const e = document.getElementById(id)
        e.style.display = e.style.display === 'block' ? 'none' : 'block'
    }
</script>

{% set navPages = collections.all | eleventyNavigation %}
{% set menuLeafClass = "block p-0 hover:bg-white cursor-pointer rounded-sm" %}

<aside class="sticky-menu">
    {%- for section in navPages %}
    <section>
        <h5 class="uppercase no-underline">
            {{ section.title }}
        </h5>
        <ul>
            {%- for entry in section.children %}
            <li>
                {%- if entry.children.length -%}
                    <a onclick="toggleDisplay('{{entry.title|slug}}')" class="{{menuLeafClass}}">
                        {{entry.title}}
                    </a>
                    <ul id="{{entry.title|slug}}" class="pl-2 ml-1 hidden border-l border-black">
                        {%- for x in entry.children -%}
                            <li>
                                <a href="#{{x.title|slug}}" class="{{menuLeafClass}}">{{x.title}}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {% else %}
                    <a href="#{{entry.title|slug}}" class="{{menuLeafClass}}">{{entry.title}}</a>
                {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </section>
    {%- endfor %}
</aside>
