{%- if n.data.name -%}
<article id="{{ n.data.name | slug}}">

    <img src="/img/{{n.data.img}}" alt="">
    <h4>{{ n.data.name }}</h4>

    <div class="desktop-only">
        
        <p>
            {{ n.templateContent }}
        </p>

        <h5 class="font-semibold">Avantages</h5>
        <ul>
        {%- for a in n.data.avantages -%}
            <li>- {{ a }}</li>
        {%- endfor -%}
        </ul>

        <h5 class="font-semibold">Inconvénients</h5>
        <ul>
        {%- for i in n.data.inconvenients -%}
            <li>- {{ i }}</li>
        {%- endfor -%}
        </ul>
    </div>

</article>
{%- endif -%}
