

{#------------------------------------------ IMAGE LEFT -------------------------------------- #}

{% if x.data.imageLayout == "left"%}
    {% if x.data.img %}
            <img src="/img/{{x.data.img}}" alt="x.data.name" loading="lazy">
    {% endif %}
{% endif %}

{#----------------------------------------- CONTENT ------------------------------------------ #}

<p>{{ x.templateContent | safe }}</p> 

{#----------------------------------------- IMAGE SCROLL -------------------------------------- #}

{% if x.data.imageLayout == "scroll" %} 
    <div>
        <img src="/img/{{x.data.img}}" alt="x.data.name" loading="lazy">
    </div>
{% endif %}

{#----------------------------------------- ETAPES -------------------------------------- #}

{%- if x.data.etapes.length -%}
    <ol>
        {%- for etape in x.data.etapes -%}
            <li>{{etape}}</li>
        {%- endfor -%}
    </ol>
{% endif %}

{#----------------------------------------- IMAGE DOUBLE -------------------------------------- #}

{% if x.data.imageLayout == "double" %}
    <div class="md:flex md:justify-around max-w-2xl mx-auto">
        <img src="/img/{{x.data.img}}" class="rounded-md max-w-full sm:max-w-xs" alt="x.data.name" loading="lazy">
        <img src="/img/{{x.data.img2}}" class="rounded-md max-w-full sm:max-w-xs" alt="x.data.name" loading="lazy">
    </div>
{% endif %}

{#----------------------------------------- NOEUDS -------------------------------------- #}

{%- if x.data.avantages.length -%}
    <h5>Avantages</h5>
    <ul>
    {%- for a in x.data.avantages -%}
        <li>- {{ a }}</li>
    {%- endfor -%}
    </ul>
{% endif %}
{%- if x.data.inconvenients.length -%}
    <h5>Inconvénients</h5>
    <ul>
    {%- for i in x.data.inconvenients -%}
        <li>- {{ i }}</li>
    {%- endfor -%}
    </ul>
{% endif %}

