@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

body {
    background-color: #eeeeee;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    color: #282828;
    }

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 0px;
    }

img {
    float: left;
    margin-right: 2vw;
    border-radius: 10px;
    max-height: 80vh;
    max-width: 40%;
    }

iframe {
    float: left;
    margin-right: 2vw;
    border-radius: 10px;
    max-height: 80vh;
    max-width: 100%;
    }

article {
    overflow: auto;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: #fafafa;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    border-style: solid;
    }

section {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    border-style: solid;
    border-color: red;
    }   

.scroll{
    max-width: none;
    height: 100%;
    max-height: none;
    }

section.scroll {
    margin: 0;
    padding: 0;
    height: 80vh;
    overflow-x: auto;
    overflow-y: hidden;
    }

ul {
    margin-bottom: 0;
    margin-top: 1vh;
    margin-left: 0;
    margin-right: 0;
    list-style-position: inside;
    }

ol  {
    margin-bottom: 0;
    margin-top: 1vh;
    margin-left: 0;
    margin-right: 0;
    list-style-position: inside;
    }

li {
    margin-top: 1vh;
    }

p {
    font-size: 1em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
    }

h3 {
    font-family: 'Oswald', sans-serif; 
    font-size: 2.5em; 
    margin-top: 8vh;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    }

h4 {
    font-family: 'Oswald', sans-serif; 
    font-size: 2em;  
    margin-bottom: 3vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: none;
    }

h5 {
	font-family: 'Oswald', sans-serif; 
	font-size: 1em;
    margin-top: 2vh;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: underline;
    }





/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/





@media only screen and (max-width: 600px) {

*{
    margin: 0;
    padding: 0;
    }

.desktop_only{
    display: none;
    }

section.scroll {
    height: 90vh;
    }

img {
    float: none;
    display: block;
    margin: 1vh auto;
    max-height: 80vh;
    max-width: 100%;
    }

article {
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    }

ul {
    margin: 0;
    }

h3 {
    font-size: 6vw;
    margin-top: 0;
    text-align: center;
    }

h4 {
    font-size: 5vw;  
    margin-bottom: 0;
    text-align: center;
    }

h5 {
	font-size: 4vw; 
    margin-top: 0;
    text-align: center;
    }

}


