@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

body {
text-align: justify;
font-family: 'Nunito', sans-serif;
color: #282828;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 0px;
    }

img {
    float: left;
    margin-right: 2vw;
    border-radius: 5px;
    max-height: 80vh;
    max-width: 40%;
    }

article {
    overflow: auto;
    margin-top: 2vh;
    border-radius: 5px;
    background-color: #fafafa;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    /*box-shadow: 0px 0px 10px #dddddd;*/
    /*border-style: solid;*/
    }

.bg_index {
  background: url(imgs/cover_verdon.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.bg_menu_ref {
  background: url(imgs/cover_viuz.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.bg_formation {
  background: url(imgs/cover_arbre.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.bg_contact {
  background: url(imgs/cover_tonsai.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color:  white;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

h1 {
    font-size: 8vw;
    color: white;
    font-family: 'Oswald', sans-serif;
}

li {  
    list-style-type: none;  
    font-family: 'Oswald', sans-serif;  
}

.titre {  
  font-size: 6vh;
}
  
.sous-titre { 
  font-size: 4vh;
}

#menu_referentiel_light { 
  display: none;
}

/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/


@media only screen and (max-width: 600px) {

a {
  opacity: 1;
}

#menu_referentiel_light { 
  display: block;
}

#menu_referentiel { 
  display: none;
}

}

