.bg_index {
  background: url(imgs/cover_verdon.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.bg_menu_ref {
  background: url(imgs/cover_viuz.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.bg_formation {
  background: url(imgs/cover_arbre.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
}

.bg_contact {
  background: url(imgs/cover_tonsai.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.bg_references {
  background: url(imgs/cover_buoux.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  background-color: rgba(255, 255, 255, 0.7);
}

a {
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

h1 {
    color: white;
}

li {  
    list-style-type: none;  
}

.titre {  
  font-size: 6vh;
  font-family: 'Oswald', sans-serif;
}
  
.sous-titre { 
  font-size: 4vh;
  font-family: 'Oswald', sans-serif;  
}

#menu_referentiel_light { 
  display: none;
}

/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/


@media only screen and (max-width: 600px) {

a {
  opacity: 1;
}

#menu_referentiel_light { 
  display: block;
}

#menu_referentiel { 
  display: none;
}

.titre {  
  text-align: center;
}
  
.sous-titre { 
  text-align: center; 
}

}

