@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

html {
  overflow: hidden;
}

.bg {
  background: url(imgs/cover_verdon.jpg) no-repeat center center fixed;
  background-size: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Oswald', sans-serif;  
  font-size: 8vw;
  color:  white;
  text-shadow:  2px 2px 20px #404040;
}

h1 a:visited {
  color: white;
}