
body {
    background-color: #eeeeee;
    }

img {
    max-width: 40%;
    }

article {
    background-color: #fafafa;
    box-shadow: 0px 0px 10px #dddddd;
    }

.scroll{
    max-width: none;
    height: 100%;
    max-height: 80vh;
    }

section.scroll {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    }

/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/

@media only screen and (max-width: 600px) {

section.scroll {
    height: 90vh;
    }

img {
    max-width: 100%;
    }
}


