@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

body {
font-family: 'Oswald', sans-serif;
color:  white;
text-shadow:  0px 0px 10px #404040;
}

.bg {
  background: url(imgs/cover_verdon.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color:  white;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

h1 {
    text-shadow:  0px 0px 20px #404040;
    font-size: 8vw;
}

li {  
    text-shadow:  0px 0px 10px #404040;
    list-style-type: none;    
}

.titre {  
  font-size: 6vh;
}
  
.sous-titre { 
  font-size: 4vh;
}

#SV_light { 
  display: none;
}

/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/


@media only screen and (max-width: 600px) {

a {
  opacity: 1;
}

#SV_light { 
  display: block;
}

#SV { 
  display: none;
}

}

