@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

.bg {
  background: url(imgs/cover_verdon.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color:  white;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

h1 {
    font-family: 'Oswald', sans-serif;  
    color:  white;
    text-shadow:  0px 0px 20px #404040;
    list-style-type: none;
    font-size: 8vw;
}

h1 a:visited {
  color: white;
}

ul li {
    font-family: 'Oswald', sans-serif;  
    color:  white;
    text-shadow:  0px 0px 10px #404040;
    list-style-type: none;    
}

.titre {  
  font-size: 6vh;
}
  
.sous-titre { 
  font-size: 4vh;
}

#cordes {
display: none;
}

#secours {
display: none;
}

#menu {
display: block;
padding: 0;
}

#SV {
display: block;
}