---
eleventyNavigation:
  key: Assurer du bas avec des cordes à double
  title: Assurer à double
  order: 3
---
Quand on assure avec une corde à double, il faut gérer la tension des deux brins individuellement.
On doit être capable de donner du mou et ravaler de la corde sur chaque brin, sans jamais lâcher l'autre.
C'est un exercice difficile qui demande de l'entraînement. 
L'assureur peut aider le grimpeur à choisir quelle corde clipper,
il a un point de vue différent qui lui donne une vision globale de la longueur.
