---
eleventyNavigation:
  key: Grimper avec des cordes à double
  title: Grimper à double
  order: 2
img: tirage.jpg
img2: zigzag.jpg
imageLayout: double
---
L'avantage principale des cordes à double par rapport à une corde à simple est la possibilité de mieux gérer le tirage.
Il y a du tirage quand la corde frotte sur les mousquetons des dégaines avec un angle important, ce qui créer de la résistance.
La corde devient très dure à tirer pour le leader, c'est une sensation extrêmement désagréable. 
<br><br>
Pour éviter cela, il faut essayer de garder les deux brins de corde le plus réctiligne possible, sans jamais les croiser.
Un exercice simple en théorie mais qui demande de l'anticipation et de la lecture d'itinéraire. C'est tout un art !
Même les grimpeurs expérimentés ont parfois du mal à bien placer leurs cordes.
<br><br>

Plus les dégaines sont longues, moins il y aura de tirage,
il est donc très utile d'avoir des dégaines ralongeables.
<br><br>

Ci dessous l'exemple et le contre-exemple.
Julie avec une gestion des cordes parfaite et un tirage inexistant;
et un inconnu qui grimpe avec une corde à simple sur coinceurs sans rallonger les points : c'est le tirage assuré !



