---
eleventyNavigation:
  key: La communication
  order: 1.5
---
Il n'est pas rare qu'on ne puisse pas se voir d'un relais à l'autre, et on s'entend souvent mal.
Il faut donc communiquer de manière claire et concise.
Il y a 4 étapes clés pendant les transitions
(entre le moment ou le leader s'arrête de grimper et le moment ou le second commence à grimper).
A chaque étape correspond une phrase. Chaque phrase engendre une action.<br>
Le <span style="color: blue;"><b>leader</b></span> et le <span style="color: red;"><b>second</b></span> se répondent.

<div style="color: black;">
    Quand le leader est en sécurité au relais.
</div>
<span style="color: blue;">1) Le leader dit "<b>Relais vaché</b>"</span><br>
<div style="color: black;">
    Action > Le second enlève son système d'assurage.
</div>

<br>

<div style="color: black;">
    Quand le second est en bout de corde.
</div>
<span style="color: red;">2) Le second dit "<b>Bout de corde</b>"</span><br>
<div style="color: black;">
    Action > Le leader installe les cordes dans son système d'assurage.
</div> 

<br>

<div style="color: black;">
    Quand le leader est prêt à assurer.
</div>
<span style="color: blue;">3) Le leader dit "<b>Quand tu veux</b>"</span><br>
<div style="color: black;">
    Action > Le second démonte le relais et se prépare à partir.
</div>

<br>

<div style="color: black;">
    Quand le second est prêt à partir.
</div>
<span style="color: red;">4) Le second dit "<b>Départ</b>"</span><br>
<div style="color: black;">
    Action > Le leader commence à assurer le second en ravalant la corde.
</div> 

