---
eleventyNavigation:
  key: Français
  order: 9

img: francais.jpg
avantages:
  - Bloque très bien.
inconvenients:
  - Difficile à débrayer une fois sous tension.
  - "Unidirectionnel : attention au sens de réalisation."
video: https://youtu.be/nXxoa5XL-A8
niveau: 2
---

Le français est un nœud autobloquant unidirectionnel. Il se réalise avec un anneau de cordelette de 6mm.

