---
eleventyNavigation:
  key: Huit
  order: 1
  
img: huit.jpg
avantages:
  - Facile à vérifier.
  - Inspire confiance.
  - Reste bien serré même sans tension.
inconvenients:
  - Difficile à défaire après une chute.
  - Difficile à réaliser parfaitement (si si).
video: https://youtu.be/_JX9H8h8fgI
niveau: 1
---

On l'utilise pour s'encorder en grande voie car il n'a pas tendance à se défaire.
On préférera un nœud de chaise pour la couenne car plus facile à défaire après une chute.
On l'utilise également pour faire des relais en grande voie.
