---
eleventyNavigation:
  key: Machard
  order: 8

img: machard.jpg
avantages:
  - Facile à débrayer.
  - Bidirectionnel.
inconvenients:
  - Peut ne pas bloquer si on ne fait pas assez de tours.
video: https://youtu.be/cZV11uAW99E
niveau: 1
---

Le machard est un nœud autobloquant bidirectionnel. Il se réalise avec un anneau de cordelette de 6mm.

