---
eleventyNavigation:
  key: Queue de vache
  order: 11

img: queue-de-vache.jpg
avantages:
  - Facile et rapide à faire.
inconvenients:
  - Difficile à défaire après avoir été sous tension.
video: https://youtu.be/IbKax9SH-9g
niveau: 1
---

On l'utilise principalement pour faire des nœuds de sécurité lors de manips de secours.

