---
eleventyNavigation:
  key: L'effet poulie
  order: 1
---
<div style="display:flex; flex-direction:column">
    <div >
        <img style="max-height:300px" src="/img/poulie1.jpg" alt="poulie" loading="lazy">
        <p>
            Sur cet exemple je prends un poids P de 10 kg.<br>
            Ce poids exerce donc une force de 10 kg vers le bas.<br>
            Pour retenir ce poids et qu’il ne tombe pas, je dois exercer une force égale et opposée.<br>
            J’exerce donc une force F de 10 kg vers le haut, c’est dur !<br>
            Pour me faciliter les choses, j’installe une poulie au plafond.
        </p>
    </div>
    <br>
    <div>
        <img style="max-height:300px" src="/img/poulie2.jpg" alt="poulie" loading="lazy">
        <p>
            Maintenant c’est plus pratique, je dois tirer vers le bas.<br>
            Par contre, je dois toujours exercer une force F de 10 kg pour retenir le poids.<br>
            Le poids tire la corde vers le bas avec une force de 10 kg.<br>
            Je tire aussi la corde vers le bas avec une force de 10 kg.<br>
            La poulie subit donc une force de 20 kg vers le bas.<br>
            Pour me simplifier encore plus la tâche, j’attache une poulie au poids.
        </p>
    </div>
    <br>
    <div>
        <img style="max-height:300px" src="/img/poulie3.jpg" alt="poulie" loading="lazy">
        <p>
            Ah maintenant c’est beaucoup plus facile !<br>
            Les 10 kg sont répartis équitablement sur les deux brins de corde.<br>
            Une force de 5 kg est donc exercée vers le bas sur chaque brin.<br>
            Il me suffit d’exercer une force de 5 kg vers le haut pour retenir le poids.<br>
            <b>C’est l’effet poulie !</b><br><br>
            Et si je remplace cette poulie par un mousqueton, ça marche aussi ?<br>
            Oui ! L'avantage mécanique théorique est le même.<br>
            En pratique, les rendements seront meilleurs avec une poulie car on diminuera les frottements.
        </p>
    </div>
</div>
<br>
Toujours pas compris ? <a href="https://youtu.be/felJ_SJngSY" target="_blank"><b><u>Regarde cette vidéo</u></b></a> !
