---
eleventyNavigation:
  key: Mouflage boucle
  order: 2

img: mouflage-boucle.jpg
imageLayout: left
etapes:
  - Faire une grande boucle avec le brin mou qui sort de l’assureur.
  - Quand elle arrive au niveau du second, il la clippe à son pontet.
  - Bien identifier sur quels brins tirent l’assureur et le grimpeur, et c’est parti !
---
<p>
Le mouflage boucle est la solution la plus efficace si le grimpeur en difficulté n’est pas
trop loin du relais et qu’il est valide. Il a l’avantage de permettre au
grimpeur en difficulté de se hisser lui-même en plus de démultiplier la force de
hissage par trois, ce qui rend le travail du leader beaucoup plus facile !<br>
Sur le schéma, l’assureur tire sur le brin de droite et le grimpeur sur le brin du milieu.
</p>


