---
date: 2001-01-01
name: Mouflage simple
eleventyNavigation:
  key: Mouflage simple
  parent: Mouflages
img: mouflage-simple.jpg
imageLayout: left
etapes:
  - Installer un autobloquant sur le brin tendu.
  - Clipper le brin mou dans le mousqueton de l’autobloquant.
  - Pousser l’autobloquant vers le bas au maximum.
  - Commencer à hisser.
---

Le mouflage simple est très rapide à installer.
Il démultiplie la force de hissage par trois, mais seul le leader travaille.
Il sera efficace pour débloquer un second dans un pas difficile, mais pas pour hisser un grimpeur inconscient.


