---
eleventyNavigation:
  key: Choisir sa corde
  order: 3
---
Quand on part en grande voie il faut choisir la bonne corde pour la voie choisie.<br><br>

La plupart du temps une corde à double sera le meilleur choix mais il existe certains cas où une corde à simple sera envisageable :
<ul>
    <li>La voie est équipée.</li>
    <li>La voie ne nécessite pas de descendre en rappel.</li>
    <li>Les longueurs sont courtes et rectilignes (pas de problème de tirage).</li>
    <li>Certaines longueurs sont dures (beaucoup de chutes potentielles).</li>
    <li>Possibilité de faire de la corde tendue.</li>
</ul>
<br>
Dans ces cas là on pourra choisir une corde à simple fine de 50 mètres, qui répond idéalement aux trois normes (corde multilabel).
Il est très agréable de grimper en grande voie avec une corde à simple, mais une corde à double sera toujours une sécurité en plus en cas de problème.
Même si on a prévu de descendre à pied on peut être amené à devoir faire un rappel avant la fin de la voie (en cas d'accident par exemple).
De plus certaines manips de secours sont plus difficiles sur corde à simple, voir impossibles.
<br><br>
<b>Si vous partez en grande voie avec une corde à simple, il faudra arriver en haut !</b>