---
eleventyNavigation:
  key: Les cordes à simple
  order: 1
img: tonsai.jpg
imageLayout: left
textLayout: right
avantages:
  - "Resistantes : elles peuvent encaisser beaucoup de chutes d'affilé."
  - "Durables : elles resistent bien à l'abrasion contre le rocher."
  - "Simples à utiliser : il n'y a qu'un brin."
inconvenients:
  - Lourdes et encombrantes, on les sent bien sur la marche d'approche !
  - Plus de tirage qu'une corde à double.
  - Moins dynamique qu'une corde à double. 
---
Les cordes à simple sont utilisées principalement en couenne mais peuvent aussi être utilisées en grandes voies dans certains cas.<br><br>
<b>Diamètre</b> : 9-10mm<br>
<b>Longueur</b> : entre 60 et 80 mètres<br>
<br>
