---
eleventyNavigation:
  key: Les normes
  order: 4
---
Toutes les cordes d'escalade sont contrôlées avec les normes EN 892 et UIAA 101.<br>
Le but est d'évaluer certaines propriétés des cordes avec plusieurs tests.<br>
Le protocole est ici simplifié pour plus de clarté.
Pour plus de détails <a href="/img/normes.pdf" target="_blank">cliquez ici</a>.<br><br>

On fait tomber un poids d'une hauteur de 4,8 mètres, avec un facteur de chute de 1,7.<br>
Pour les cordes à double, un seul brin est utilisé.
<br><br>
<b>Le dynamisme</b><br>
Lors de la première chute, on mesure la force transmise au poids. 
On test ainsi le dynamisme de la corde,
sa capacité à amortir une chute pour protéger le grimpeur d'un choc trop violent.
Une corde très dynamique transmettra moins d'énergie au grimpeur, mais aussi aux ancrages (pratique en terrain d'aventure).<br><br>
<b>L'élasticité</b><br>
On regarde l'élongation de la corde après la première chute.
Une corde dois être le plus dynamique possible mais sans être trop élastique.
Un grimpeur risquerai de toucher le sol ou une vire pendant une chute si la corde s'allonge trop.
<br><br>
<b>La resistance</b><br>
On répète ensuite cette opération jusqu'à ce que la corde casse.
On note le nombre de chutes que la corde a réussie à encaisser avant de casser.<br><br>

Voici les valeurs attendues par rapport aux types de cordes :<br><br>

<b>Cordes à simple</b><br>
<span style="background-color: rgb(255, 218, 224)">Dynamisme : force transmise inférieur à <span style="color: red"><b>12 kN</b></span></span><br>
Élasticité : elongation inférieur à 40%<br>
<span style="background-color: rgba(204, 238, 206, 0.6)">Resistance : au moins <span style="color: green"><b>5</b></span> chutes avec un poids de 80 kg</span><br><br>

<b>Cordes à double</b><br>
<span style="background-color: rgba(204, 238, 206, 0.6)">Dynamisme : force transmise inférieur à <span style="color: green"><b>8 kN</b></span></span><br>
Élasticité : elongation inférieur à 40%<br>
<span style="background-color: rgb(255, 218, 224)">Resistance : au moins <span style="color: red"><b>1</b></span> chute avec un poids de 80 kg</span><br><br>

<div style="color: grey">
En fait c'est un peu plus compliqué que ca.
Pour les cordes à double il serait difficile d'obtenir des résultats fiables avec une seule chute,
cela pourrait poser des problèmes de reproductibilité du test.
On test donc les cordes à double sur 5 chutes avec un poids de 55 kg, mais les résultats sont équivalents.
</div>