---
eleventyNavigation:
  key: La météo
  order: 2
niveau: 1
---

La veille de la sortie, regardez la météo du secteur à l'altitude du sommet de la voie.
Regardez les températures ressenties et la vitesse du vent.
Comparez l'orientation du vent à l'orientation de la falaise : est-ce que vous allez être à l'abri ou exposés ?
<br><br>
Si vous avez un doute, <b>mieux vaut prendre une couche en plus, vous ne le regretterez jamais !</b>
<br><br>
Prenez de la marge : ne partez pas en grande voie avec des risques d'orages en fin d'après-midi en pensant finir avant la pluie.
En cas d'accident, vous pourriez être amenés à attendre les secours pendant plusieurs heures,
et un hélicoptère ne pourra pas venir vous chercher par mauvais temps.

