---
eleventyNavigation:
  key: Le choix de l'itinéraire
  order: 1
niveau: 1
---
La première étape consiste à choisir une grande voie adaptée à votre niveau.

Le site Camptocamp est très bien pour avoir des détails sur une voie une fois qu'on l'a choisie, 
mais <b>rien ne vaut un joli topo papier pour trouver l'inspiration !</b>
En plus, en achetant ces topos vous soutenez les ouvreurs de la région qui équipent et entretiennent vos falaises préférées.

<br><br>
Choisissez aussi un itinéraire adapté à tous les membres de la cordée.
Cela implique de connaître un minimum de choses sur ses partenaires de grimpe :
leur experience en montagne, en grande voie,
leur niveau technique, leur forme physique, leurs ambitions, leur équipement, leurs connaissances des manips de secours, etc.
<b>Ne partez pas en grande voie avec des inconnus !</b>
Faites au moins une séance de couenne avec eux, et évoquez tous ces sujets.
<br><br>
Pour choisir une grande voie, il y aura plusieurs critères à prendre en compte :

<header>La longueur</header>
Regardez la longueur en mètres mais aussi le nombre de longueurs.
Une voie de 100 mètres ne présente pas le même engagement qu'une voie de 400 mètres.
Au début, mieux vaut commencer par des grandes voies relativement courtes : moins de 150 mètres et moins de 5 longueurs.
Les manips de cordes, même simples, prennent beaucoup de temps quand on débute en grande voie.


<header>La cotation</header>
Regardez la cotation de chaque longueur, la cotation max et la cotation obligatoire.
Si vous n'avez jamais fait de grande voie, méfiez vous des cotations !
Une 5b en salle n'a pas grand chose à voir avec une 5b en grande voie.
Pour vos premières sorties, choisissez une grande voie bien en dessous de votre niveau max en couenne.
Une bonne estimation est de descendre d'un chiffre en cotation.
Exemple : Si vous grimpez du 6b max en salle, commencez par une grande voie en dessous de 5b max.
<br><br>

Regardez aussi la date à laquelle la voie a été ouverte : 
un 6a à l'ancienne en dalle et un 6a moderne en dévers laisseront des souvenirs bien différents !
Commencez par une voie moderne et bien équipée.
Si votre topo ne donne pas beaucoup d'info sur l'équipement de la voie, n'hésitez pas à regarder sur
<a href="https://www.camptocamp.org/" target="_blank">Camptocamp</a> pour avoir le ressenti d'autres grimpeurs.


<header>L'altitude et l'exposition</header>
Essayez de trouver une voie où vous n'aurez ni trop chaud, ni trop froid.
Regardez l'altitude au sommet de la voie : selon la période il pourrait y avoir de la neige, renseignez-vous !
Regardez l'exposition de la voie pour trouver l'ombre ou le soleil en fonction de la saison. 
Même en été il peut vite faire froid en altitude, surtout quand on est exposé au vent. 
Ne vous laissez pas influencer par les 35° dans la vallée, faites vos recherches !
Les récits de sorties sur <a href="https://www.camptocamp.org/" target="_blank">Camptocamp</a>
vous donneront souvent de bonnes indications sur les températures à attendre.
