---
eleventyNavigation:
  key: Le timing
  order: 3
niveau: 1
---

Évaluer le temps qu'on va mettre pour une sortie en grande voie est très difficile.
Il faudra faire une estimation pour décider d'une heure de départ.
<br><br>

Mon conseil : <b>Partez tôt, rentrez tôt.</b>
<br><br>

Mieux vaut se garder de la marge en cas de problème.
Une intervention des secours de nuit devient beaucoup plus compliquée voire impossible.
Il est possible qu'on vous dise de passer la nuit sur la falaise en attendant qu'une intervention soit possible au lever du jour.
<br><br>

Voici des pistes pour calculer votre horaire (pour une cordée de deux personnes) :<br><br>

<b>Trouver le parking</b><br>
Les parkings ne sont pas toujours évidents à trouver,
prévoyez une petite marge en plus du temps de trajet si vous ne connaissez pas l'endroit.
<br><br>

<b>La marche d'approche</b><br>
Pour la marche d'approche, le temps devrait être noté sur le topo (à défaut, il sera sur Camptocamp).
Le temps indiqué correspond à celui d'un grimpeur en forme qui connaît le chemin par cœur et qui marche à un bon rythme.
N'hésitez pas à rajouter du temps pour vous perdre, vous en aurez souvent besoin !
Attention aux voies qui sont à proximité d'un refuge, les temps d'approche se basent en général sur un départ du refuge et pas du parking.
<br><br>

<b>La préparation au pied de la voie</b><br>
Personnellement je prends en général 15 minutes au pied de la voie pour me préparer, sans traîner.
<br><br>

<b>La grimpe</b><br>
Si la grimpe ne pose aucune difficulté (les grimpeurs ne font jamais de pause dans les longueurs)
et que toutes les manips sont fluides et efficaces, on peut compter 30 minutes par longueur.
Si vous n'êtes pas très expérimentés, mieux vaut partir sur 1 heure par longueur.
<br><br>

<b>La pause déjeuner</b><br>
On l'oublie souvent dans le timing ! Je compte en général 30 minutes.
<br><br>

<b>La pause en haut de la voie</b><br>
Quand on arrive au sommet d'une grande voie, on a rarement envie de tout plier tout de suite !
Prenez 15 minutes pour vous poser, admirer la vue et tout ranger avant d'attaquer la marche de retour.
<br><br>

<b>Les rappels</b><br>
S'il y a des rappels, des grimpeurs habitués prendront plus ou moins 20 minutes par rappel.
Si vous débutez, comptez plutôt 30 minutes par rappel.
Cela ne comprend pas le temps qu'il faut pour récupérer une corde coincée :)
<br><br>

<b>Le retour</b><br>
Comme pour la marche d'approche, le temps vous sera généralement indiqué dans le topo mais il est toujours judicieux de prendre de la marge.
