---
eleventyNavigation:
  key: Relais sur points espacés
  order: 8

img: relais-espace.jpg
img2: relais-espace-detail.jpg
imageLayout: double
etapes:
  - Une fois le dernier point clippé, redescendre au point précédent.
  - Se vacher au mousqueton du haut de la dégaine.
  - Mettre un mousqueton de sécurité à son pontet.
  - Faire un nœud de cabestan sur le brin qui descend à l’assureur, et le clipper au mousqueton.
  - Indiquer au second qu'on est en sécurité, et ravaler la corde.
  - Assurer le second comme s’il était en moulinette (pas en mode autobloquant).
  - Une fois le second arrivé, il repartira en tête.
video: https://youtu.be/6SEVIv232JQ
niveau: 2
---

 Si le leader a raté un relais en grimpant, il est parfois nécessaire de faire un relais avec deux points espacés au milieu d’une longueur.
 Pour ce faire il suffit, comme pour un relais classique, de relier les deux points.
 On ne fait cette manip que si les deux points sont “bétons”&nbsp;!
