---
eleventyNavigation:
  key: Conduite à tenir
  order: 1
---
<div style="display: flex; flex-direction: column">
<img src="/img/aaa.jpg" loading="lazy">

<ol>
  <li><b>Appuyer</b>&nbsp;: Comprimer fortement l’endroit qui saigne pour arrêter le saignement.</li>
  <li><b>Allonger</b>&nbsp;: Mettre le blessé en position horizontale, ce qui retarde l’arrivée de la détresse circulatoire.</li>
  <li><b>Alerter</b>&nbsp;: Appeler les secours (112).</li>
</ol>

<img src="/img/tampon.jpg" loading="lazy">
<br>

Si on doit lâcher la compression avant l'arrivée des secours (pour passer l’alerte par exemple), il faudra relayer la compression par un pansement compressif.
Un pansement compressif est une épaisseur de tissu maintenue par un bandage serré.<br><br>

Si un pansement compressif est impossible, et que le saignement siège au niveau d’un membre, il faudra alors faire un garrot improvisé.
<br><br>
<b>ATTENTION&nbsp;!</b>

<ul>
  <li>On ne fait un garrot qu’en dernier recours&nbsp;! Les risques de perdre le membre atteint sont réels.</li>
  <li>Ne jamais défaire un garrot sans avis médical&nbsp;: cela pourrait entraîner un arrêt cardiaque.</li>
  <li>Bien noter l’heure de mise en place du garrot.</li>
</ul>
</div>