---
name: Garrot avec sangle et mousqueton
img: garrot.jpg
instructionStyle: scroll
etapes:
  - Prendre une sangle la plus large possible (minimum 1 cm)
  - La doubler et la passer autour du membre atteint jusqu'à arriver quelques cm au dessus de la plaie.
  - Bien serrer et faire un noeud simple sur la sangle.
  - Clipper le mousqueton dans la sangle et le tourner pour serrer la sangle.
  - Avec l'excédent de sangle, bloquer le mousqueton pour verrouiller le système.
  - Noter l’heure de la pose du garrot sur la peau du blessé.
---