---
date: 2000-01-01
name: Hémorragie
eleventyNavigation:
  key: Hemorragie
  parent: Premiers secours
---

Une hémorragie externe est une perte de sang abondante, visible et prolongée qui provient d’une plaie ou d’un orifice naturel (hémorragie extériorisée) et qui ne s’arrête pas spontanément.
Un saignement est considéré comme abondant s’il imbibe de sang un mouchoir en quelques secondes.

<img src="/img/aaa.jpg" loading="lazy">

<ol>
  <li><b>Appuyer</b>: Comprimer fortement l’endroit qui saigne, pour arrêter le saignement.</li>
  <li><b>Allonger</b>: Mettre le blessé en position horizontale, ce qui retarde l’arrivée de la détresse circulatoire.</li>
  <li><b>Alerter</b>: Appeler les secours.</li>
</ol>

Si on doit lâcher la compression avant l'arrivée des secours (pour passer l’alerte par exemple), il faudra relayer la compression par un pansement compressif.
Un pansement compressif est une épaisseur de tissu maintenue par un bandage serré.


<img src="/img/tampon.jpg" loading="lazy">


Si un pansement compressif est impossible, et que le saignement siège au niveau d’un membre, il faudra alors faire un garrot improvisé.

<b class="block">ATTENTION!</b>

<ul>
  <li>- On ne fait un garrot qu’en dernier recours! Les risques de perdre le membre atteint sont réels.</li>
  <li>- Ne jamais défaire un garrot sans avis médical, cela pourrait entraîner un arrêt cardiaque.</li>
  <li>- Bien noter l’heure de mise en place du garrot.</li>
</ul>