---
eleventyNavigation:
  key: Machard en dessous
  parent: Mise en place du descendeur
  order: 1
img: machard-bas.jpg
imageLayout: left
textLayout: right
---

C'est la technique à utiliser par défaut.<br><br>
Avec cette méthode, le poids du grimpeur est partagé entre le descendeur et l’autobloquant.
L’autobloquant sera donc beaucoup plus facile à débrayer une fois sous tension.
Par contre, il sera plus difficile de faire un passage de nœud ou une remontée sur corde en cas de problème.
<br><br>
<b>Attention à bien régler votre autobloquant, il ne doit surtout pas toucher votre descendeur&nbsp;!</b>
