---
eleventyNavigation:
  key: Machard au-dessus
  parent: Mise en place du descendeur
  order: 2
img: machard-haut.jpg
imageLayout: left
textLayout: right
---

On utilise cette installation quand on suspecte des complications : passage de nœud, remontée sur cordes, etc.
<br><br>

On placera un mousqueton "primaire" sur l'autobloquant, sur lequel on va se vacher.
Ainsi il sera plus facile d'y rajouter une pédale ou de remplacer sa longe par une sangle.
Le gros désaventage de cette installation est que l’autobloquant a tendance à se bloquer quand il est mis sous tension, il est alors difficile de le débrayer.
