---
eleventyNavigation:
    key: Alerte
    order: 3
---

Le numéro à retenir pour un secours en montagne est le <b>112</b>.
Il marche dans toute l’Europe (pratique quand on grimpe en région frontalière).
Pensez à mettre vos téléphones en mode sonnerie au cas où le régulateur vous rappelle pour avoir un complément d’information.

En cas d’absence de réseau, on peut envoyer un SMS au <b>114</b> avec toutes les informations utiles, et commencer à se déplacer.
Dès qu’un réseau sera trouvé par le téléphone, le message d’alerte sera transmis.

<div class="md:flex">
    <img src="/img/alerte.jpg" alt="alerte" class="max-w-full sm:max-w-sm rounded-md" loading="lazy">
    <div class="pl-4 max-w-2xl">
        Si vous devez appeler les secours, essayez de rester calme et contentez vous de répondre à leurs questions, sans parler trop vite.
        Assurez vous d’avoir toutes les informations avant d’appeler. Gardez à l'esprit que l'operateur n'y connait surement rien à l'escalade!
        <ol>
            <li>Localisation précise en zoom (departement, commune, secteur, nom de la voie, hauteur)</li>
            <li>Nature de l’accident</li>
            <li>Nombre de victime</li>
            <li>Indications sur l'accès le plus facile (par le bas, par le haut, par helicoptère)</li>
        </ol>
    </div>
</div>

Ne raccrochez pas avant qu'on vous le dise

<br>
Une fois l’alerte passée, le régulateur vous dira quel moyen de transport sera choisi.
Si un accès par la route est privilégié, on peut envoyer quelqu’un à la rencontre des secouristes pour leur indiquer le chemin.

<div class="md:flex">
    <img src="/img/heli.jpg" alt="helicopter" class="max-w-full sm:max-w-sm rounded-md" loading="lazy">
    <div class="pl-4 max-w-2xl">
        Si c’est un transport par hélicoptère qui est choisi, il faudra alors se préparer pour un hélitreuillage:
        <ol>
            <li>Ranger tout ce qui traîne dans des sacs, et les attacher (attention aux couvertures de survie!).</li>
            <li>Nettoyer si possible la zone autour de la victime (enlever les branches mortes, pierres instables etc).
            </li>
            <li>Préparer de quoi protéger la victime du souffle de l’hélicoptère (veste, lunettes de soleil…).
            </li>
            <li>Préparer l'accueil d’un secouriste au relais (main courante, triangulation annexe).
            </li>
            <li>Couvrir les plaies de la victime.
            </li>
        </ol>
        <p>
            Quand on entend l’hélicoptère arriver, se mettre debout et lever les bras pour former un Y (yes).
            Rester immobile jusqu'à l'arrivée du secouriste: vous êtes le repère du pilote qui vous prend comme point de référence pour manœuvrer.
            Attention au souffle qui peut être très violent, mettre des lunettes de soleil si on en a,
            et rester sur ses appuis! Si un hélicoptère arrive alors qu’on n’a pas appelé les secours, faire une diagonale avec ses bras pour former un N (no).
        </p>
    </div>
</div>

<p>
    En attendant les secours:
    On Réchauffe, Réhydrate et Réconforte (RRR) la victime, après l’avoir mise dans la position où elle se sent le mieux.
    Il est très important de lutter contre l'hypothermie car l'attente sera longue.
    On pourra faire un tapis de cordes pour isoler la victime du sol, et la couvrir avec une couverture de survie.
</p>

<div class="md:flex md:justify-around max-w-2xl mx-auto">
    <img src="/img/tapis-corde.jpg" class="rounded-md max-w-full sm:max-w-xs" alt="tapis de corde" loading="lazy">
    <img src="/img/tapis-corde-2.jpg" class="rounded-md max-w-full sm:max-w-xs" alt="tapis de cord" loading="lazy">
</div>