---
tags: alerte
---

Le numéro à retenir pour un secours en montagne est le <b>112</b>.
Il marche dans toute l’Europe (pratique quand on grimpe en région frontalière).
Pensez à mettre vos téléphones en mode sonnerie au cas où le régulateur vous rappelle pour avoir un complément d’information.

En cas d’absence de réseau, on peut envoyer un SMS au <b>114</b> avec toutes les informations utiles, et commencer à se déplacer.
Dès qu’un réseau sera trouvé par le téléphone, le message d’alerte sera transmis.