---
eleventyNavigation:
  key: Brûlures
  order: 6

img: brulure.jpg
imageLayout: left
etapes:
  - Refroidir si possible avec de l'eau courante.
  - Ne pas désinfecter.
  - Couvrir la brûlure avec un pansement.
  - Faire prendre un antalgique si besoin.
---