---
date: 2005-01-01
eleventyNavigation:
  key: Brulures
  parent: Premiers secours
tags: brulures
img: brulure.jpg
etapes:
  - Refroidire si possible avec de l'eau courante.
  - Couvrir la brûlure avec un pansement.
  - Faire prendre un antalgique si besoin.
layout: layouts/mobile.njk
---