---
tags: plaies
img: plaie.jpg
etapes:
  - Ne jamais enlever un éventuel objet enfoncé dans la plaie.
  - Nettoyer la plaie avec de l’eau courante ou du sérum physiologique.
  - Désinfecter la plaie avec un antiseptique.
  - Couvrir la plaie avec un pansement (pansement individuel, compresse, vetement etc).
  - Faire prendre un antalgique si besoin
layout: layouts/mobile.njk
---

Toute plaie même minime doit être prise au sérieux. En effet si elle n’est pas désinfectée rapidement, elle pourrait dégénérer.