---
eleventyNavigation:
  key: Trousse de secours
  order: 7
---
<div style="display:flex; flex-direction:column">
  <div>
    <img src="/img/trousse.jpg" alt="trousse de secours" style="max-width:380px" loading="lazy">
    <div>
      Avoir une trousse de secours est une nécessité quand on part grimper, mais il faut aussi savoir se servir de son contenu.
      Penser à vérifier périodiquement qu’elle soit bien complète et que les médicaments ne soient pas périmés.
      <br><br>
      Dans ma trousse de secours j'ai trois compartiments :
      <br><br>
      <b>Médicaments (avec les posologies)</b>
      <ul>
        <li>Antihistaminique (ex : Cétirizine)</li>
        <li>Antalgique (ex : Doliprane)</li>
        <li>Anti-inflammatoire (ex : Ibuprofène)</li>
        <li>Antidiarrhéique (ex : Racécadotril)</li>
        <li>Antiémétique (ex : Dompéridone)</li>
        <li>Antispasmodique (ex : Spasfon)</li>
      </ul>
    </div>
  </div>

  <br><br>

  <div>
    <img src="/img/bobo.jpg" alt="petits soins" style="max-width:380px" loading="lazy">
    <div>
      <b>Petits soins</b>
      <ul>
        <li>2 couvertures de survie</li>
        <li>1 bande large</li>
        <li>1 tire-tique</li>
        <li>2 épingles à nourrice</li>
        <li>1 pince à écharde</li>
        <li>4 petits pansements prédécoupés</li>
        <li>3 unidoses de chlorexidine (antiseptique)</li>
        <li>1 bande fine</li>
        <li>1 petit rouleau de strap</li>
        <li>2 pansements à ampoule (type Compeed)</li>
        <li>2 unidoses de sérum physiologique</li>
        <li>1 paquet de Steri-Strip</li>
        <li>1 petit sac plastique qui sert de poubelle</li>
        <li>3 paquets de compresses</li>
        <li>2 gros pansements prédécoupés</li>
        <li>1 pansement pour doigts</li>
        <li>1 morceau de sucre</li>
      </ul>
    </div>
  </div>

  <br><br>

  <div>
    <img src="/img/bricolage.jpg" alt="bricolage" style="max-width:380px" loading="lazy">
    <div>
      <b>Matériel divers / bricolage</b>
      <ul>
        <li>1 tube de labello</li>
        <li>1 petit rouleau de gaffeur (scotch solide)</li>
        <li>1 tube de crème solaire</li>
        <li>1 paquet de mouchoir</li>
        <li>1 mini tube de colle</li>
        <li>1 allume feu</li>
        <li>1 couteau</li>
        <li>1 patch de ripstop</li>
        <li>1 briquet</li>
        <li>1 bougie chauffe plat</li>
        <li>1 petit coupe ongle</li>
        <li>8 mètres de cordelette 2 mm</li>
        <li>1 feutre fin</li>
        <li>2 serre-câbles</li>
      </ul>
    </div>
  </div>

  <br><br>
  <div>
    <img src="/img/attelle.jpg" alt="attelle" style="max-width:380px" loading="lazy">
    Je prends en plus une attelle Samsplint en encadrement.
  </div>
  

  

</div>
