---
eleventyNavigation:
  key: Trousse de secours
  order: 7
---

<p>
    Avoir une trousse de secours est une nécessité quand on part grimper, mais il faut aussi savoir se servir de son contenu.
    Penser à vérifier périodiquement qu’elle soit bien complète et que les médicaments ne soient pas périmés.
</p>
<p>
    Voila le contenu de la mienne, libre à vous de l’adapter à vos besoins :
</p>
<ul >
  <li>1 couverture de survie</li>
  <li>2 paquets de 5 compresses stériles</li>
  <li>Quelques pansements prédécoupés de différentes tailles</li>
  <li>2 pansements contre les ampoules (type Compeed)</li>
  <li>Un paquet de steri-strip</li>
  <li>2 bandes velpeau (petite et grande) et une épingle de sûreté</li>
  <li>1 petit rouleau de strap</li>
  <li>4 dosettes de Chlorhexidine (antiseptique)</li>
  <li>3 dosettes de Sérum Physiologique</li>
  <li>Quelques comprimés de paracétamol</li>
  <li>Quelques comprimés d’anti-inflammatoires</li>
  <li>1 petit sac plastique qui sert de poubelle</li>
  <li>1 pince à échardes</li>
  <li>1 briquet</li>
  <li>1 couteau</li>
</ul>