---
eleventyNavigation:
  key: Garrot avec sangle et mousqueton
  title: Garrot
  order: 2
img: garrot.jpg
imageLayout: scroll
etapes:
  - Prendre une sangle la plus large possible.
  - La doubler et la passer autour du membre atteint jusqu'à arriver quelques cm au dessus de la plaie.
  - Bien serrer et faire une queue de vache sur la sangle.
  - Clipper un mousqueton dans la sangle et le tourner pour serrer la sangle.
  - Avec l'excédent de sangle, bloquer le mousqueton avec un cabestan pour verrouiller le système.
  - Noter l’heure de la pose du garrot.
---