---
eleventyNavigation:
  key: Les méthodes alternatives
  order: 4
---
<b>Utiliser sa corde</b><br>
On peut utiliser sa corde pour relier les points, en faisant un cabestan avec chaque brin.
Voici pourquoi je n'utilise pas cette méthode :<br>
<ul>
  <li>Difficulté de quitter le relais en cas de problème.</li>
  <li>Plus compliqué à réaliser pour des débutants.</li>
  <li>Moins propre qu'avec une sangle, aspect "usine à gaz".</li>
  <li>Risque d'à-coup pour le second si un point lâche.</li>
</ul>
<br>

<b>Utiliser un bout de corde dynamique à la place d'une sangle</b><br>
Cette méthode est intéressante car le corde dynamique permet d'amortir une chute sur le relais.
Je l'utilise en terrain d'aventure, ou en encadrement, mais rarement dans ma pratique personnelle dans des voies équipées.
Les sangles en Dyneema sont plus légères,
moins encombrantes et plus agréables à utiliser à mon avis. 
<br><br>

<b>Faire un demi-tour avec la sangle plutôt qu'un nœud de huit</b><br>
Avec cette méthode le mousqueton primaire peut bouger en s'adaptant à la direction dans laquelle on le tire.
Elle est à proscrire car en cas de rupture d'un point le choc sur l'autre point serait très important.

