---
eleventyNavigation:
  key: Les relais chainés
  order: 1
img: relais_chaine.jpg
imageLayout: left
textLayout: right
---
Dans ce cas là c'est très facile :
il suffit de vérifier que la chaîne soit en bon état et de clipper notre mousqueton primaire dans le point du bas.