---
eleventyNavigation:
  key: Les relais non chainés
  order: 2
video: https://youtu.be/yJLhkzWYUxk
etapes:
  - clipper un mousqueton a vis sur un des points
  - Se vacher dessus PROVISOIREMENT
---

Il existe une multitude de façons de relier deux points, chaque grimpeur a sa technique.
Pour plus de clarté, j'en ai choisi de n'en détailler qu'une :
celle que j'utilise dans ma pratique personnel et en encadrement.
C'est la technique que je trouve la plus simple et la plus propre.