---
eleventyNavigation:
  key: Les relais bizarres
  order: 3
img: relais_moche.jpg
imageLayout: left
textLayout: right
---

Quand on a le moindre doute sur l'équipment utilisé pour relier les points,
il faudra refaire la triangulation avec notre propre materiel.
Quand on clippe un mousqueton dans un ancrage qui accueil déja du materiel,
il faudra le clipper en dessous de tout le reste pour qu'il ne soit pas en porte-à-faux, et qu'il travail bien.