<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Le jeu du tirage</title>

</head>


<body>
<style>
    * { margin: 0}
</style>

<canvas id="myCanvas" style="border:1px solid #000000;">Your browser does not support the HTML canvas tag.</canvas>
<script src="script.js"></script>
</body>


</html>