<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Le jeu du tirage</title>

</head>


<body>

    penislolklj
</body>


</html>