---
eleventyNavigation:
  key: Sur un rappel (autobloquant en dessous)
  title: Sur un rappel
  order: 2

img: remontee-rappel.jpg
imageLayout: scroll
etapes:
  - Placer un mousqueton sur le gros anneau de son descendeur.
  - Se faire une pédale avec une boucle de corde.
  - Se hisser sur cette pédale et clipper le mousqueton à son pontet.
  - Faire une queue de vache un mètre en dessous de l'autobloquant et la clipper à son pontet.
  - Enlever l'autobloquant et l'installer au-dessus du descendeur.
  - Clipper une sangle sur l'autobloquant, c'est la pédale.
  - Se longer à l'autobloquant et enlever la queue de vache, vous êtes prêt à remonter !
video: https://youtu.be/AmmHghK_6VE
---