---
eleventyNavigation:
  key: Sur un rappel (autobloquant au-dessus)
  order: 3
  hideFromMenu: true

img2: reverso-auto.jpg
img: machard-haut.jpg
imageLayout: double
etapes:
  - Faire une queue de vache un mètre en dessous du descendeur et la clipper à son pontet.
  - Modifier l’installation du descendeur pour qu’il soit en mode plaquette (voir photo).
  - Installer une sangle sur l’autobloquant, c’est la pédale.
  - Enlever la queue de vache, vous êtes prêt à remonter !
---
