---
eleventyNavigation:
  key: Cheville
  order: 1
  
img: cheville.jpg
imageLayout: left
etapes:
  - Allonger le blessé.
  - Surélever le membre atteint.
  - Refroidir et immobiliser si possible.
  - Faire prendre un antalgique et un anti-inflammatoire si besoin.
---
<p>
L'entorse de cheville est l'accident classique en escalade. Elle arrive souvent sur la marche de retour après une longue journée en grande voie.
Elle peut aussi arriver lors d'une chute en tête mal dynamisée, <b>attention à l'assurage</b> !
</p>
<p>
On peut fabriquer des béquilles de fortune avec des branches d'arbre, ou aider la victime à marcher sans poser le pied atteint au sol.
Si un retour par vos propres moyens vous parrait difficile ou dangereux, mieux vaut appeler les secours.
</p>