---
tags: entorses
layout: layouts/mobile.njk
name: Cheville
img: cheville.jpg
etapes:
  - Allonger le blessé.
  - Surélever le membre atteint.
  - Refroidir et immobiliser si possible.
  - Faire prendre un antalgique et un anti-inflammatoire si besoin.
---
On peut fabriquer des béquilles de fortune avec des branches d'arbre, ou aider la victime à marcher sans poser le pied atteint au sol.
Si un retour par vos propres moyens vous parrait difficile ou dangereux, mieux vaut appeler les secours.