---
tags: entorses
name: Echarpe
img: echarpe.jpg
etapes:
  - Mettre la veste à plat par terre, fermeture vers le haut.
  - Replier la capuche vers l'intérieur.
  - Plier le corps de la veste en deux pour former un rectangle.
  - Placer ce rectangle sous le bras du blessé.
  - Nouer les manches derrière le cou du blessé.
---
Pour immobiliser le bras, on peut improviser une écharpe avec une veste fine (type coupe-vent) :