---
date: 2003-03-01
name: Poignet
eleventyNavigation:
  key: Poignet
  parent: Entorses
img: poignet.jpg
etapes:
  - Retirer les bagues et bracelets.
  - Demander au blessé de tenir son bras dans la position la moins douloureuse.
  - Immobiliser et refroidir si possible.
  - Faire prendre un antalgique et un anti-inflammatoire si besoin.
---