---
date: 2001-01-01
eleventyNavigation:
  key: Poignet
  parent: Entorses
tags: entorses
layout: layouts/mobile.njk
name: Poignet
img: poignet.jpg
etapes:
  - Retirer les bagues et bracelets.
  - Demander au blessé de tenir son bras dans la position la moins douloureuse.
  - Immobiliser et refroidir si possible.
  - Faire prendre un antalgique et un anti-inflammatoire si besoin.
---