---
eleventyNavigation:
  key: Nœud de jonction
  order: 2
img: jonction_mal.jpg
img2: jonction_bien.jpg
imageLayout: double
---

Le nœud de jonction qui a la surface la plus petite est le nœud simple.
C’est donc le nœud à privilégier dans un terrain à fort potentiel de coincement.
Quand on installe ses cordes dans l'anneau de rappel, le nœud de jonction doit être placé côté rocher.
Le brin que l’on va tirer va de ce fait se trouver sous l’autre brin, ce qui évite de le bloquer.
    