---
eleventyNavigation:
  key: Vent fort
  order: 4
---
<div style="display:flex; flex-direction:column">
  <div>
    <img src="/img/enkiter.jpg" alt="enkiter" style="max-width:350px" loading="lazy">
    <p>
      S’il y a beaucoup de vent, mieux vaut ne pas jeter ses cordes du haut du rappel.
      On peut les enkiter dans son sac à dos qu’on garde clippé en dessous de nous à la descente.
      <br><br>
      <a href="https://youtu.be/QUgtKRAI9-k" target="_blank">Explications vidéo</a>
    </p>
  </div>
  <br>
   <div>
    <img src="/img/poupee.jpg" alt="poupee" style="max-width:350px" loading="lazy">
    <p>
      Une autre technique consiste à faire une poupée d’une dizaine de mètres avec les bouts des cordes, et de la faire descendre doucement.
      Cette poupée sert de leste pour garder les cordes dans l’axe du rappel.
      <br><br>
      <a href="https://youtu.be/mRKYfTmgrbs" target="_blank">Explications vidéo</a>
    </p>
  </div>

</div>