<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secours Vertical</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <div class="flex-grow mb-16">
        {{ content | safe }}
      </div>
      <div class="footer font-thin">
        <div class="flex justify-around max-w-lg mx-auto">
          <div>secoursvertical@gmail.com</div>
          <div>
            <a href="https://www.lepotcommun.fr/pot/gt9u3lhh-secours_vertical" target="_blank" class="p-2 border border-gray-300 rounded-sm">
              Faire un don
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>