<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{eleventyNavigation.key}}</title>
</head>
<style>
    *{margin:0;
        padding:0;
    }
    body{
        font-family: sans-serif;
    }
    h5{
        text-align: center;
        font-size: 7vw;
        margin: 1rem;
    }
    picture{
        max-height: 80vh;
    }
    img{
        max-height: 80vh;
    }
    ol{
        list-style-position: inside;
    }
</style>
<body>

    <h5>{{eleventyNavigation.key}}</h5>
    
    {% if img %}
        <picture>
            {% if webp %}
                <source srcset="/img/webp/{{img|replace('.jpg', '.webp')}}" type="image/webp">
            {% endif %}
            <img src="/img/{{img}}" alt="{{eleventyNavigation.key}}">
        </picture>
    {% endif %}

    <ol>
        {%- for etape in etapes -%}
            <li>{{etape}}</li>
        {%- endfor -%}
    </ol>

    {% if not img %}
        <p>{{content|safe}}</p>
    {% endif %}


</body>
</html>
