---
eleventyNavigation:
  key: Sur une broche, avec une corde à simple
  title: Sur une broche
  order: 2

img: broche-simple.jpg
imageLayout: scroll
etapes:
  - Se vacher au mousqueton du haut de la dernière dégaine.
  - Tirer 1 mètre de mou et faire une queue de vache. La clipper à son pontet.
  - Se désencorder, passer la corde dans la broche et se ré-encorder.
  - Défaire la queue de vache.
  - Faire un machard sur la corde qui descend, et le clipper à son pontet. Demander sec.
  - Quand la longe est molle, vérifier tout le système (mousquetons vissés, autobloquant efficace, etc.).
  - Se délonger, enlever la dégaine et descendre.
---

Une broche a l’avantage d’avoir des bords arrondis, ce qui permet de passer une corde directement dedans sans l'abîmer.
Pas besoin de laisser un maillon rapide, donc!
C’est aussi le type d'ancrage le plus sûr à ce jour, puisque la colle utilisée pour sa fixation permet une parfaite étanchéité,
et donc une résistance accrue à la corrosion. Néanmoins, aucun ancrage ne permet de redescendre sur un seul point.
Il faudra donc toujours être assuré par les points du dessous par l’intermédiaire d’un autobloquant.


