---
date: 2001-01-01
eleventyNavigation:
  key: "Inconscient qui respire: PLS"
  parent: Inconscience
name: "Inconscient qui respire: PLS"
---

L’inconscience est une détresse vitale, on appellera donc systématiquement les secours après avoir mis la victime en PLS.


<iframe class="hidden md:block" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Nk8zaPyjA8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<a class="underline block md:hidden mt-3" href="https://www.youtube.com/watch?v=Nk8zaPyjA8g">Voir une vidéo</a>
