---
date: 2002-01-01
eleventyNavigation:
  key: "Inconscient qui ne respire pas: Réanimation"
  parent: Inconscience
name: "Inconscient qui ne respire pas: Réanimation"
---

<p>
Si on constate que la victime ne respire pas, on considère qu’elle est en arrêt cardiaque, <b>pas besoin de vérifier son pouls</b> !
</p>

A retenir: <b>Alerter Masser Défibriller</b>

<ol>
    <li>Avant toute chose, alerter les secours. (si on est seul: mettre le téléphone sur haut parleur et commencer les compressions en attendant que les services de secours répondent)</li>
    <li>Si des témoins sont présents, les envoyer chercher un défibrillateur.</li>
    <li>Débuter les compressions thoraciques, appuyer au milieu du thorax, fort et vite. (110 bpm)</li>
    <li>Mettre en place le défibrillateur dès qu’on vous l’apporte, et suivre ses instructions.</li>
</ol>


<iframe
loading="lazy"
class="hidden md:block"
width="560" height="315"
src="https://www.youtube-nocookie.com/embed/lKta6hI3lx8"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>

<a class="underline block md:hidden mt-3" href="https://www.youtube.com/watch?v=lKta6hI3lx8">Voir une vidéo</a>
