---
date: 2000-01-01
eleventyNavigation:
  key: Verification
  parent: Inconscience
name: Verification
---

Si la victime ne répond pas à vos questions, elle est inconsciente, il faut alors vérifier si elle respire.

<img src="/img/verif.jpg">

<ol>
    <li>Allonger la victime sur le dos.</li>
    <li>Basculer doucement sa tête en arrière.</li>
    <li>Se pencher sur la victime, l’oreille du sauveteur au-dessus de son nez.</li>
</ol>

<br>

<b>Rechercher :</b>

<ul>
    <li>- Avec la joue, le flux d’air expiré par le nez et la bouche.</li>
    <li>- Avec l’oreille, les bruits provoqués par la respiration.</li>
    <li>- Avec les yeux, le soulèvement du ventre et/ou de la poitrine.</li>
</ul>

<br>

Si la victime respire, on la met en PLS (Position Latérale de Sécurité).
<br>
Si la victime ne respire pas, elle fait un arrêt cardiaque, il faut la réanimer.