<h3 class="title">Le rappel</h3>
<p>
    La descente en rappel est une situation générant de nombreux accidents, souvent dus à des fautes d’inattention.
    Même fatigué, rester concentré jusqu’à la voiture! Veillez à faire des noeuds en bouts de cordes: un demi pêcheur double bien serré sur chaque brin.
    Faites aussi attention aux chutes de pierres: gardez toujours votre casque, et quand vous arrivez en bas, écartez-vous de la ligne de rappels.
</p>
<br>
<br>
{%- for x in collections.rappel -%}
    {% include "components/instructions.njk" %}
{%- endfor -%}