---
eleventyNavigation:
  key: Corde coincée
  order: 4
niveau: 2
---

  <p>
    Si vous sentez que la corde est en train de se coincer, arrêtez tout&nbsp;! N'essayez pas de forcer tout de suite.
    Commencez par secouer la corde de haut en bas, et essayez de la tirer avec un angle différent.
    Si vous avez encore l'autre brin, tirez dessus pour faire remonter le nœud de jonction et réessayez la manip en essayant de faire passer la corde à un autre endroit.
    <br>
    Si ça ne marche pas, c'est le moment d'essayer de tirer très fort&nbsp;! Vous pouvez installer un machard sur la corde pour tirer dessus avec tout votre poids.
    Ça ne marche toujours pas&nbsp;? Il va falloir choisir la bonne manip en fonction de la configuration.
    <br><br>
    Sur cet exemple, on imagine un rappel de 50m avec une corde à double de 2x50m rouge et bleue. On tire la corde bleue.
  </p>
  <br>
  <div>
    <img src="/img/coince_base.jpg" alt="rappel" loading="lazy">
    Plusieurs critères sont à prendre en compte&nbsp;:<br><br>
    <ul>
        <li>Est-ce que les deux brins sont encore avec vous au relais&nbsp;?</li>
        <li>Est-ce qu'il est possible de grimper <b>en sécurité</b> dans la ligne de rappel&nbsp;? Est-ce qu'elle emprunte une voie existante&nbsp;?</li>
        <li>Est-ce que le bout de la corde rouge est accessible en grimpant&nbsp;? Est-ce qu'il est décalé de l'axe du rappel&nbsp;?</li>
        <li>Est-ce qu'on a tiré plus de la moitié de la corde&nbsp;? Où est le marquage de milieu de corde&nbsp;?</li>
    </ul>
  </div>

