---
eleventyNavigation:
  key: Passage de nœud (à la descente)
  title: Passage de nœud
  order: 6

img: passage-de-noeud.jpg
imageLayout: scroll
etapes:
  - Quand le nœud arrive presque en butée dans le descendeur, laisser mordre l’autobloquant.
  - Faire une queue de vache 3m en dessous et la clipper à son pontet.
  - Enlever son descendeur, et le replacer juste sous le nœud, puis le muler (voir chapitre nœuds).
  - Débrayer son autobloquant puis l’enlever, et le replacer entre le nœud et le descendeur.
  - Défaire la queue de vache, défaire le nœud de mule du descendeur et continuer sa descente.
video: https://youtu.be/5Zx55kqXZPY
---

Il peut arriver qu’une corde s'abîme alors qu’on est dans une voie (chute de pierre, mauvais frottements, etc.).
On peut alors isoler la partie abîmée avec un nœud (papillon par exemple), qu’il faudra passer si on descend en rappel.
Dans ce cas, il est préférable d'installer son autobloquant au-dessus de son descendeur, avec une sangle assez longue.<br>
<b>Attention</b>&nbsp;: Avec une corde à double, il faut mettre le nœud de jonction et le nœud qui isole la partie abîmée du même coté du maillon de rappel, sinon il sera impossible de tirer la corde&nbsp;!