---
eleventyNavigation:
  key: Généralités
  order: 0.9
---
<div style="display:flex; flex-direction:column">
  <p>
    Un relais c'est deux points solides reliés entre eux.<br>
    Si un des points lâche, l'autre doit supporter le poids de la cordée, <b>avec le moins d'à coup possible</b>.
  </p> 

  <div>
    <img src="/img/relais_sangle.jpg" alt="relais" style="max-height:400px" loading="lazy">
    <img src="/img/primaire_reel.jpg" alt="primaire" style="max-height:400px" loading="lazy">
    <br>
    <p>
      On aura toujours un gros mousqueton au centre du relais, <b>le mousqueton primaire</b>.
      Une fois notre relais construit, on va tout clipper dans le primaire : notre vache, notre descendeur, etc.
    </p>
  </div>
  
  <p>
    La première étape est toujours de s'assurer qu'on est au bon endroit.
    On a souvent tendance à se précipiter sur le premier relais qu'on trouve.
    Quand plusieurs voies se croisent, il arrive qu'on s'installe au relais d'une autre voie.
    Certaines voies sont équipées avec des relais spécifiques pour le rappel qui peuvent aussi porter à confusion.
    N'hésitez pas à regarder le topo si vous avez un doute.
  </p>

  <br>

  <div>
    <img src="/img/relais_original.jpg" alt="primaire" style="max-height:400px" loading="lazy">
    <p>
      Une fois que vous êtes sûrs d'être au bon endroit, il faudra vérifier l'état des points.
      Pas de formule magique : regardez leur état extérieur, et tirez dessus.<br><br>
      Photo : un relais "original" à Minorque.
    </p>
  </div>
</div>