---
eleventyNavigation:
  key: Les relais bizarres
  order: 3
niveau: 1
---
<p>
Quand on a le moindre doute sur l'équipement utilisé pour relier les points,
il faudra refaire la triangulation avec notre propre matériel.
Quand on clippe un mousqueton dans un ancrage qui accueille déja du matériel,
il faudra le clipper en dessous de tout le reste pour qu'il ne soit pas en porte-à-faux, et qu'il travaille bien.
</p>

<img src="/img/relais_moche.jpg" alt="relais" style="max-height:350px" loading="lazy">
<img src="/img/porteafaux.jpg" alt="porte a faux" style="max-height:350px" loading="lazy">
