---
eleventyNavigation:
  key: Les relais non reliés
  order: 2
img: relais.jpg
imageLayout: scroll
etapes:
  - Clipper un mousqueton à vis sur un des points.
  - Se vacher dessus (pour votre confort uniquement, vous n'êtes que sur un point !)
  - Clipper un mousquetons à vis sur l'autre point.
  - Clipper une sangle de 120 cm dans les deux mousquetons.
  - Mettre en place la couture de la sangle au ras du point le plus haut.
  - Égaliser la sangle pour que le poids soit réparti sur les deux points.
  - Faire un nœud de huit avec la sangle.
  - Clipper le mousqueton primaire dans la boucle du huit.
  - Se vacher dans le primaire.
  - Vérifier toutes les viroles. Si tout va bien, dire au second "relais vaché".
video: https://youtu.be/yJLhkzWYUxk
---

Quand les deux points ne sont pas reliés, il faudra faire une "triangulation".
Il existe plusieurs façons de relier deux points, chaque grimpeur a sa technique.
Pour plus de clarté, j'ai choisi de n'en détailler qu'une :
celle que j'utilise dans ma pratique personnelle et en initiation.
C'est la technique que je trouve la plus simple et la plus propre.
Attention à bien différencier les moments où on utilise sa vache pour son confort et les moments où on l'utilise pour sa sécurité.
