---
eleventyNavigation:
  key: "Option 6 : Appeler les secours"
  order: 6
---

Si&nbsp;:
<ul>
    <li>On a lâché le brin rouge.</li>
    <li>On <b>ne peut pas</b> grimper en sécurité dans la ligne de rappel.</li>
    <li>On <b>n'a pas tiré assez de corde</b> pour faire les rappels suivants.</li>
</ul>
<br>
Alors il faudra se faire aider.<br><br>
Regardez autour de vous, est-ce qu'une autre cordée peut vous aider ?
Si vous êtes à proximité d'un refuge, essayez de l'appeler,
les gardiens de refuges pourront parfois envoyer des grimpeurs à votre secours.
La dernière option reste le 112, n'hésitez pas à appeler même pour une simple corde coincée.
Mieux vaut appeler les secours que de tenter une manip dangereuse.<br><br>
Et si il n'y a pas de réseau pour téléphoner ?<br>
Il va falloir attendre : sortez votre couverture de survie et préparez vous à passer une mauvaise nuit.
Quand la nuit tombe essayez d'attirer l'attention avec votre frontale.
Bon courage :)


