---
eleventyNavigation:
  key: Encordement en milieu de corde
  order: 4
img: coince_M3.jpg
imageLayout: scroll
etapes:
  - Le grimpeur fait une queue de vache le plus haut possible sur la corde bleue et la clippe à son pontet.
  - Il part en tête, assuré par son binôme (sans oublier le nœud en bout de corde).
  - Il pose des dégaines (ou coinceurs) pour se protéger tout au long de sa progression.
  - Il pourra s'aider du brin coincé pour progresser si son niveau technique n'est pas suffisant (attention aux chutes de pierres).
  - Quand il arrive en bout de corde, il se vache à un point et décale son encordement.
  - Il fait une queue de vache le plus haut possible sur la corde bleue et la clippe à son pontet.
  - Il défait sa première queue de vache pour libérer du mou, l'assureur ravale le mou.
  - Le grimpeur peut repartir. Il répétera les étapes précédentes autant de fois que nécessaire.
  - Quand il arrive au nœud de jonction, il s'encorde au bout de la corde bleue et clippe la rouge à son baudrier.
  - Le grimpeur rejoint le relais, il aura au passage décoincé la corde et repéré la zone à éviter.
  - Il réinstalle le rappel en évitant la zone ou la corde était coincée, il pourra décaler le nœud en descendant si besoin.


---

Si :
<ul>
    <li>On a lâché le brin rouge.</li>
    <li>On peut grimper en sécurité dans la ligne de rappel.</li>
    <li>Le bout de la corde rouge n'est pas dans l'axe du rappel.</li>
    <li>On a tiré moins de la moitié de la corde.</li>
</ul>
<br>
Alors on choisira de s'encorder au milieu de la corde.<br><br>
Dans l'exemple suivant, les grimpeurs ont tiré 15 mètres de corde avant qu'elle ne se coince. Ils n'ont pas vu passer le milieu de la corde bleue, ils savent donc qu'ils ne pourront pas atteindre le nœud de jonction.
Le bout de la corde rouge est décalé de l'axe de la voie, ils ne pourront donc pas le rejoindre.