---
eleventyNavigation:
  key: "Option 2 : Rejoindre le bout de corde"
  order: 2
img: coince_M1.jpg
imageLayout: scroll
etapes:
  - Un grimpeur s'encorde au bout de la corde bleue et part en tête, assuré par son binôme.
  - Il pose des dégaines (ou coinceurs) pour se protéger tout au long de sa progression.
  - Il pourra s'aider du brin coincé (bleu) pour progresser si son niveau technique n'est pas suffisant (attention aux chutes de pierres).
  - Quand le grimpeur rejoint le bout de la corde rouge, il commence une remontée sur corde sur les deux brins.
  - Il passe le nœud de jonction et rejoint le relais. Il aura au passage décoincé la corde et repéré la zone à éviter.
  - Il réinstalle le rappel en évitant la zone ou la corde était coincée, il pourra décaler le nœud en descendant si besoin.
---

Si&nbsp;:
<ul>
    <li>On a lâché le brin rouge.</li>
    <li>On peut grimper en sécurité dans la ligne de rappel.</li>
    <li>Le bout de la corde rouge est dans l'axe du rappel.</li>
</ul>
<br>
Alors on choisira de rejoindre le bout de la corde rouge puis de faire une remontée sur corde sur les deux brins.<br><br>
Dans l'exemple suivant, les grimpeurs ont tiré 15 mètres de corde avant qu'elle ne se coince. Le nœud de jonction est descendu de 15 mètres, le bout de la corde rouge est monté de 15 mètres, et les grimpeurs ont une réserve de corde de 15 mètres.
<b>Peu importe la longueur de corde tirée, il y aura toujours assez de corde pour rejoindre le bout de la corde rouge.</b>
