---
eleventyNavigation:
  key: Remontée sur corde
  order: 1
img: reverso-auto.jpg
imageLayout: scroll
---

Si les deux brins sont encore au relais, on pourra faire une remontée sur corde jusqu'au relais en passant le nœud de jonction si besoin.
Une remontée sur corde sollicite plus les cordes qu'une simple descente en rappel&nbsp;: il y aura souvent plus d'à-coups.
<b>Attention aux mauvais frottements</b>, bien vérifier l'état des cordes après la remontée.
