---
eleventyNavigation:
  key: "Option 5 : Couper la corde"
  title: Couper la corde
  order: 5
img: coince_m4.jpg
imageLayout: scroll
etapes:
  - Couper la corde le plus haut possible.
  - Installer les cordes pour le prochain rappel. Attention à bien égaliser les bouts de cordes (ne pas se fier au marquage de milieu de corde).
  - Installer son système de rappel avec le machard au-dessus pour anticiper le passage de nœud.
  - Descendre en passant le nœud de jonction et enchaîner les derniers rappels.
---

Si&nbsp;:
<ul>
    <li>On a lâché le brin rouge.</li>
    <li>On <b>ne peut pas</b> grimper en sécurité dans la ligne de rappel.</li>
    <li>On a tiré assez de corde pour faire les rappels suivants.</li>
</ul>
<br>
Alors il faudra couper la corde.<br>
On pourra parfois improviser un relais de rappel sur un arbre ou un becquet si on n'a pas assez de corde pour rejoindre le relais suivant.
Il faudra alors laisser du matériel.
<br><br>
Dans l'exemple suivant, les grimpeurs on tiré 60 mètres de corde avant qu'elle ne se coince.
Les prochains rappels font moins de 30 mètres.
