---
eleventyNavigation:
  key: "Option 1 : Remonter sur cordes"
  title: Remonter sur cordes
  order: 1
img: passage_noeud_montee.jpg
imageLayout: scroll
etapes:
 - Installer son descendeur en mode autobloquant à son pontet.
 - Installer un machard au dessus du descendeur et y clipper un mousqueton.
 - Se longer long dans le mousqueton du machard.
 - Clipper une sangle sur le mousqueton du machard, c'est la pédale.
 - Remonter sur les cordes jusqu'à arriver au nœud de jonction.
 - Monter le machard en butée contre le nœud, et le descendeur au ras du machard.
 - Faire une queue de vache un mètre en dessous du descendeur et la clipper à son pontet.
 - Passer le machard au dessus du nœud et le remonter le plus haut possible.
 - Prendre appuis sur la pédale et se vacher dans le mousqueton du machard avec une dégaine.
 - Passer le descendeur au dessus du nœud.
 - Enlever la dégaine et la queue de vache.
 - Continuer à remonter sur les cordes jusqu'au relais.
---

Si les deux brins sont encore au relais, on pourra faire une remontée sur cordes jusqu'au relais en passant le nœud de jonction si besoin.
Une remontée sur corde sollicite plus les cordes qu'une simple descente en rappel&nbsp;: il y aura souvent plus d'à-coups.
<b>Attention aux mauvais frottements</b>, bien vérifier l'état des cordes après la remontée.
