---
eleventyNavigation:
  key: Le rappel
  order: 5
---

La descente en rappel est une situation générant de nombreux accidents, souvent dus à de l’inattention.
Même fatigué, restez concentré jusqu’à la voiture&nbsp;!
 <b>Pas de rappel à deux sauf urgence </b>!
