<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Secours Vertical</title>
<link rel="icon" type="image/png" href="/img/logo.png">
<link rel="shortcut icon" type="image/png" href="/img/logo.png">
<link rel="stylesheet" href="/css/referentiel.css">


</head>
<body>
{% include "sticky-menu.njk" %}
<div id="rightside">
    <main>
        {% include "intro.njk" %}
        {% set navPages = collections.all | test %}
        {%- for categorie in navPages %} {# get all categories #}
            <div id="{{ categorie.key | slug }}" class="categorie">
                <header>{{ categorie.key }}</header> {#ex: TECHNIQUES DE CORDE#}
                {%- for subject in categorie.children %}  {# get all subjects from categorie #}
                    <div id="{{ subject.key | slug }}" class="subject">
                        <header>{{subject.key}}
                                {%- if subject.entry.data.niveau -%} {# if niveau exists in subject #}
                                    <span class="niveau niveau_{{subject.entry.data.niveau}}"></span> {# show circle #}
                                {% endif %}
                        </header> {#ex: RAPPEL#}
                        {%- if subject.children.length -%} {# if articles exists in subject #}
                            {% set x = subject %}
                            {%- if x.entry.templateContent -%} {# if subject intro exists #}
                                <div class="intro">
                                    {% include "show-content.njk" %} {# show subject as intro #}
                                </div>
                            {% endif %}
                            {%- for article in subject.children -%} {# get all articles from subject #}
                                <article id="{{ article.key | slug }}" class="article">  
                                    <header>{{article.key}}
                                            {%- if article.entry.data.niveau -%} {# if niveau exists in article #}
                                                <span class="niveau niveau_{{article.entry.data.niveau}}"></span> {# show circle #}
                                            {% endif %}
                                    </header> {#ex: MISE EN PLACE#}  
                                    {%- if article.children.length -%} {# if section exists #}
                                        {% set x = article %}
                                        <div class="intro">
                                            {% include "show-content.njk" %} {# show article as intro#}
                                        </div>
                                        {%- for section in article.children -%} {# get all sections from article #}
                                            <section id="{{ section.key | slug }}" class="section">
                                                <header>{{section.key}}
                                                        {%- if section.entry.data.niveau -%} {# if niveau exists in section #}
                                                            <span class="niveau niveau_{{section.entry.data.niveau}}"></span> {# show circle #}
                                                        {% endif %}
                                                </header> {#ex: MACHARD BAS#} 
                                                {% set x = section %}
                                                {% include "show-content.njk" %} {# show section #}
                                            </section>
                                        {%- endfor -%} {#end sections#}
                                    {% else %}
                                        {% set x = article %}
                                        <section class="section">
                                            {% include "show-content.njk" %} {# show article #}
                                        </section>
                                    {% endif %}
                                </article>
                            {%- endfor -%} {#end articles#}
                        {% else %} {# if no articles in subject #}
                            {% set x = subject %}
                            <article class="article">  
                                <section class="section">
                                    {% include "show-content.njk" %} {# show subject as article #}
                                </section>
                            </article> 
                        {% endif %}
                    </div>
                {%- endfor %} {#end subjects#}
            </div>
        {%- endfor %} {#end categories#}
    </main>
<div>
</body>

</html>
