<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Secours Vertical</title>
<link rel="icon" type="image/png" href="/img/logo.png">
<link rel="shortcut icon" type="image/png" href="/img/logo.png">
<link rel="stylesheet" href="/css/referentiel.css">
</head>

<body>
{% include "sticky-menu.njk" %}
<div id="rightside">
    <main>
        {% include "intro.njk" %}
        {% set navPages = collections.all | test %}
        {%- for categorie in navPages %} {# get all categories #}
            <div id="{{ categorie.key | slug }}" class="categorie">
                <header>{{ categorie.key }}</header> {#ex: TECHNIQUES DE CORDE#}
                {%- for subject in categorie.children %}  {# get all subjects from categorie #}
                    {% set x = subject %}
                    <div id="{{ subject.key | slug }}" class="subject">
                        <header>
                            {{subject.key}}
                            {% include "levels.njk" %} {# show level circle and info #}
                        </header> {#ex: RAPPEL#}
                        {%- if subject.children.length -%} {# if articles exists in subject #}
                            {%- if x.entry.templateContent -%} {# if subject intro exists #}
                                <div class="intro">
                                    {% include "show-content.njk" %} {# show subject as intro #}
                                </div>
                            {% endif %}
                            {%- for article in subject.children -%} {# get all articles from subject #}
                                {% set x = article %}
                                <article id="{{ article.key | slug }}" class="article">  
                                    <header>
                                        {{article.key}}
                                        {% include "levels.njk" %} {# show level circle and info #}
                                    </header> {#ex: MISE EN PLACE#}  
                                    {%- if article.children.length -%} {# if section exists #}
                                        <div class="intro">
                                            {% include "show-content.njk" %} {# show article as intro#}
                                        </div>
                                        {%- for section in article.children -%} {# get all sections from article #}
                                            {% set x = section %}
                                            <section id="{{ section.key | slug }}" class="section">
                                                <header>
                                                    {{section.key}}
                                                    {% include "levels.njk" %} {# show level circle and info #}
                                                </header> {#ex: MACHARD BAS#} 
                                                {% include "show-content.njk" %} {# show section #}
                                            </section>
                                        {%- endfor -%} {#end sections#}
                                    {% else %}
                                        <section class="section">
                                            {% include "show-content.njk" %} {# show article #}
                                        </section>
                                    {% endif %}
                                </article>
                            {%- endfor -%} {#end articles#}
                        {% else %} {# if no articles in subject #}
                            <article class="article">  
                                <section class="section">
                                    {% include "show-content.njk" %} {# show subject as article #}
                                </section>
                            </article> 
                        {% endif %}
                    </div>
                {%- endfor %} {#end subjects#}
            </div>
        {%- endfor %} {#end categories#}
    </main>
<div>
</body>

<script>
    var tooltip = document.querySelectorAll('.levelInfo');

    document.addEventListener('mousemove', fn, false);

    function fn(e) {
        for (var i=tooltip.length; i--;) {
            tooltip[i].style.left = e.pageX + 'px';
            tooltip[i].style.top = e.pageY + 'px';
        }
    }
</script>

</html>
