---
name: Sur un rappel (Autobloquant en dessous)
img: remontee-rappel.jpg
etapes:
  - Faire une queue de vache un mètre en dessous du descendeur et la clipper à son pontet.
  - Modifier l’installation du descendeur pour qu’il soit en mode plaquette (voir photo).
  - Installer une sangle sur l’autobloquant, c’est la pédale.
  - Enlever la queue de vache, vous êtes prêt à remonter!
instructionStyle: scroll
---

Dans cette configuration c'est plus compliqué, mais quand même possible!