---
name: Sur un rappel (Autobloquant au dessus)
eleventyNavigation:
  key: Sur un rappel (Autobloquant au dessus)
  parent: Remontees sur cordes
img: reverso-auto.jpg
etapes:
  - Faire une queue de vache un mètre en dessous du descendeur et la clipper à son pontet.
  - Modifier l’installation du descendeur pour qu’il soit en mode plaquette (voir photo).
  - Installer une sangle sur l’autobloquant, c’est la pédale.
  - Enlever la queue de vache, vous êtes prêt à remonter!
---

C’est la configuration la plus facile.