---
eleventyNavigation:
  key: Plusieurs manières de grimper
  order: 1
niveau: 1
---
<div style="display:flex; flex-direction:column">
  <p>
    Il existe une multitude de disciplines différentes en escalade. Voici une liste non exhaustive :
  </p>
  <br>
  <div>
    <img src="/img/bloc.jpg" alt="bloc" style="max-height:300px" loading="lazy">
    <p>
      En <b>bloc</b>, les grimpeurs escaladent des rochers qui dépassent rarement 4 mètres de haut.
      Ils n'ont pas de corde ni de baudrier, ils amortissent leurs chutes avec des matelas (crashpads).
    </p>
  </div>
  <br>
  <div>
    <img src="/img/julie_rodellar.jpg" alt="rodellar" style="max-height:300px" loading="lazy">
    <p>
      En <b>couenne</b>, les grimpeurs escaladent des falaises de 10 à 40 mètres de haut.
      Ils utilisent du matériel adapté : cordes, baudriers, dégaines, etc.
      Leurs cordes doivent être deux fois plus longues que la hauteur de la falaise qu'ils grimpent, 
      pour pouvoir redescendre. Pour grimper une voie de 30 mètres, il faut une corde de 60 mètres minimum.
    </p>
  </div>
  <br>
  <div>
    <img src="/img/sapey_kelly.jpg" alt="sapey" style="max-height:300px" loading="lazy">
    <p>
      En <b>grande voie</b>, les grimpeurs escaladent des falaises de 100 à 500 mètres de haut, et parfois même plus.
      Les itinéraires qu'ils empruntent sont divisés en plusieurs longueurs de 50 mètres maximum,
      pour pouvoir atteindre le sommet et redescendre avec 100 mètres de cordes.
    </p>
  </div>
  <br>
  <div>
    <img src="/img/bigwall.jpg" alt="bigwall" style="max-height:300px" loading="lazy">
    <p>
      La plupart des grandes voies se font à la journée.
      Cependant, certains itinéraires d'envergure nécessitent plusieurs jours pour arriver au sommet :
      on parle alors de <b>big wall</b>. Les techniques de cordes spécifiques à cette pratique ne seront pas abordées ici.
    </p>
  </div>

</div>