---
eleventyNavigation:
  key: Libre ou artif
  order: 3
img: artif.jpg
imageLayout: left
textLayout: right
---
Faire de l'<b>artif</b> (de l'escalade artificielle) c'est grimper en s'aidant de materiel pour progresser.
On prends appuis sur des étriers, on plante des pitons, on tire sur des dégaines, tout est permis pour arriver au sommet !
C'était la norme jusqu'à l'apparition du libre dans les années 70.
<br><br>

Grimper <b>en libre</b>, c'est grimper en utilisant uniquement les prises du rocher.
Le materiel qu'on utilise n'est là que pour nous protéger en cas de chute (cordes, baudrier, etc).
C'est aujourd'hui la pratique la plus répendue.
<br><br>

Les longueurs d'artif utilisent une cotation différente qui va de A0 à A6.
A0 correspond à tirer sur une dégaine dans un passage difficile.
Une longueur d'A4 nécessite du materiel spécifique (étriers, crochets, pitons, marteau, etc) et beaucoup de temps (4-6h par longueur).
<br><br>

Dans une même voie on peut trouver des longueurs de libre et d'artif.
Il est souvent possible d'artifer un passage difficile en tirant sur les dégaines, 
même si la voie n'est pas prévue pour ca. 
<br><br>

La <b>cotation obligatoire</b> d'une voie indique le niveau minimum requis pour arriver au sommet, peu importe le moyen (libre ou artif).
Une grande voie peu par exemple comporter une longueur de 8a qui peut aussi être passée en tirant sur les dégaines et en grimpant des passages de 6b.
Cette longueur sera notée 8a > 6b A0.



