---
eleventyNavigation:
  key: Libre ou artif
  order: 2
img: artif.jpg
imageLayout: left
textLayout: right
---
Faire de l'<b>artif</b> (de l'escalade artificielle) c'est grimper en s'aidant de materiel pour progresser.
On prends appuis sur des étriers, on plante des pitons, on tire sur des dégaines, tout est permis pour arriver au sommet !
C'était la norme jusqu'à l'apparition du libre dans les années 70.
<br><br>

Grimper <b>en libre</b>, c'est grimper en utilisant uniquement les prises du rocher.
Le materiel qu'on utilise n'est là que pour nous protéger en cas de chute (cordes, baudrier, etc).
C'est aujourd'hui la pratique la plus répendue.
<br><br>

Dans une même voie on peut trouver des longueurs de libre et d'artif.
Il est souvent possible d'artifer un passage difficile en tirant sur les dégaines, 
même si la voie n'est pas prévue pour ca. 
<br><br>

Les longueurs d'artif utilisent une cotation différente qui va de A0 à A6.




