---
eleventyNavigation:
  key: Voie équipée ou terrain d'aventure
  title: Voie équipée ou trad
  order: 4
img: trad.jpg
imageLayout: left
textLayout: right
---

En escalade, une voie peut être équipée ou pas.
<br><br>

On dit qu'une voie est <b>équipée</b> quand elle contient des ancrages, fixés au rocher tous les 3 mètres environ.
Le grimpeur clippe des dégaines dans ces ancrages (aussi appelés des points) pour assurer sa progression.
L'espacement des points varie beaucoup selon les voies, et determine en partie l'engagement de celles-ci.
Plus les points sont éloignés, plus la chute sera importante si le grimpeur tombe.
Quand une voie est engagée, on dit qu'il faut "grimper entre les points", sensations garanties !
<br><br>

Quand une voie n'est pas (ou peu) équipée, on parle de <b>terrain d'aventure</b> (aussi appelé "terrain d'av", TA ou trad).
Il faut alors poser ses propres protection : coinceurs mécaniques, cablés, sangles, etc.
La lecture d'itinéraire est plus difficile car il ne suffit plus de suivre les ancrages !
<br><br>
Ne pas confondre une voie en terrain d'aventure avec une falaise vierge où personne n'est encore passé.
Même si l'équipeur n'a placé aucun point,
une voie en terrain d'aventure suis toujours un cheminement précis qui à été nettoyé (purgé) lors de l'ouverture.
Attention au risque de chute de pierre si on s'écarte du tracé de la voie.
Mes plus grosses frayeurs en escalade ont toute pour origine des mauvais choix d'itinéraires qui m'ont amenés sur des terrains non nettoyé.


