---
eleventyNavigation:
  key: Avec une corde à double
  order: 3

img: double.jpg
imageLayout: scroll
etapes:
  - Se vacher au mousqueton du haut de la dernière dégaine, et enlever la corde de la dégaine. 
  - Tirer un mètre de mou et faire une queue de vache, la clipper à son pontet. 
  - Mettre un maillon rapide sur le dernier point si ce n’est pas une broche. 
  - Se désencorder, passer un brin dans le maillon puis joindre les deux brins avec un nœud de huit.
  - Mettre en place son descendeur pour un rappel. 
  - Faire un nœud français sous le descendeur, et le relier à son pontet. Il doit bloquer vers le haut (Si on a deux cordelettes, faire un nœud machard sur chaque brin).
  - Ravaler le mou pour se mettre en tension sur son descendeur et français.
  - Quand la longe est molle, vérifier tout le système (mousquetons vissés, autobloquant efficace, etc.).
  - Défaire la queue de vache. 
  - Se délonger, enlever la dégaine et descendre. On reste assuré par le second jusqu'au bout.
video: https://youtu.be/tHNZLEFi5fs
---

En grande voie, quand on grimpe avec une corde à double, on fera un rappel contre-assuré.
