---
eleventyNavigation:
  key: Exemple 4
  order: 2
sources:
 - https://sciencing.com/calculate-force-impact-7617983.html
 - https://camp-france.fr/media/files/Les%20incollables%20des%20normes.pdf
---

<div style="display:flex; flex-direction:column">
    
  <div>
      <img src="/img/choc_exemple_4.png" alt="choc 4" style="max-height:350px" loading="lazy">
      <div>
        Le même grimpeur tombe au même endroit. Il s’est vaché au relais avec une sangle en dyneema de 50 cm.
        La dyneema est un matériau très statique, avec un allongement inférieur à 6%.
        L’amorti est donc de 3 cm (6% de 50 cm).
        <br><br>
        <div style="font-size: 1.3em">
            F &nbsp;≈ &nbsp; 80 × 10 &nbsp;× 
            <div class="frac">
                <span>1</span>
                <span class="symbol">/</span>
                <span class="bottom">0,03</span>
            </div>
            &nbsp; ≈ &nbsp; 26700 N
        </div>
        <br>
        Le grimpeur et son matériel ont maintenant subi un choc de plus de <b>26 kN</b>,
        les conséquences sont dramatiques.
      </div>
  </div>
  <p>
        Aucun matériel utilisé en escalade n’est prévu pour résister à une telle force :<br>
        Un baudrier est normé pour 15 kN.<br>
        Les mousquetons et les sangles résistent en général à 22 kN.
        <br><br>
        Une rupture d’un de ces éléments est donc très probable.<br>
        Dans le cas improbable où rien ne casse, la force encaissée par le grimpeur entraînera sûrement de nombreuses lésions corporelles.
      </p>
  <p class="aRetenir">
  ne jamais utiliser une sangle pour se vacher en grande voie !
  Une longe doit être dynamique pour absorber le choc d’une éventuelle chute au relais. 
</p>

</div>