---
eleventyNavigation:
  key: Exemple 3
  order: 1
---
Un grimpeur de 80 kg est vaché au relais, il monte 50 cm au-dessus du relais puis tombe. Il fait 1 mètre de chute libre puis est arrêté par sa longe. Il a une longe en corde dynamique de 50 cm, son allongement est de 30%. L’amorti est donc de 15 cm (30% de 50 cm).
F = 80 x 10 x (1 / 0,15) = 5333 N
Le grimpeur a maintenant encaissé plus de 5 kN, le choc sera violent mais encore supportable. C’est son choix de longe qui l’a sauvé. Regardons ce qu'il se serait passé si notre grimpeur s’était vaché avec une sangle.