---
eleventyNavigation:
  key: Enchaîner les rappels
  order: 5
---
<div style="display:flex; flex-direction:column">
  <div>
    <img src="/img/rappel.jpg" alt="rappel" style="max-height:400px" loading="lazy">
    <p>
      Pour enchaîner des rappels de manière efficace et gagner du temps, il faudra être coordonnés.
      Il existe plusieurs variantes, mais je vous donne ici la méthode que j'utilise. Accrochez-vous !<br><br>
      Dans cet exemple, <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> et <span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> ont plusieurs rappels à enchaîner pour arriver au sol.
      Ils ont une corde avec un brin <span style="color: rgb(212, 0, 0)"><b>rouge</b></span> et un brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span>.
      Au départ, le nœud de jonction est coté <span style="color: rgb(22, 0, 223)"><b>bleu</b></span>, ils devront donc tirer le brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span>.<br>
      <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> part en premier, le brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span> est à gauche dans son descendeur.
    </p>
  </div>
  <ol>
      <li>Pendant que <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> descend, <span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> installe son autobloquant sur les cordes tendues.</li>
      <li>Quand <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> arrive au relais du dessous, elle se vache au relais (elle pourra faire une triangulation pour plus de confort).</li>
      <li>Elle donne assez de mou avec son système de rappel pour que <span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> puisse installer son descendeur.</li>
      <li>Elle crit "rappel libre" et enlève son autobloquant.</li>
      <li><span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> installe sont descendeur et commence à descendre.</li>
      <li><span style="color: rgb(0, 102, 17)"><b>Claire</b></span> fait un nœud de huit sur le brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span>, 3 mètres en dessous du relais.</li>
      <li>Elle passe le brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span> dans une dégaine clippée à son porte matériel gauche, au-dessus du nœud de huit.</li>
      <li>Elle fait un nœud de huit sur le brin <span style="color: rgb(212, 0, 0)"><b>rouge</b></span>, 3 mètres en dessous du relais.</li>
      <li>Elle passe le brin <span style="color: rgb(212, 0, 0)"><b>rouge</b></span> dans une dégaine clippée à son porte matériel droit, au-dessus du nœud de huit.</li>
      <li>Les deux brins sont sécurisés, elle peut enlever son descendeur.</li>
      <li>Elle tire le brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span> pour trouver le bout.</li>
      <li>Elle défait le nœud de bout de corde, passe la corde dans l'anneau de rappel et refait le nœud.</li>
      <li>Elle lâche le bout du brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span> et le fait descendre le plus bas possible.</li>
      <li>Elle défait le nœud de huit du brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span>, il est maintenant inutile puisque la corde passe dans l'anneau de rappel.</li>
      <li>Elle tire le brin <span style="color: rgb(212, 0, 0)"><b>rouge</b></span> pour trouver le bout, et défait le nœud en bout de corde.</li>
      <li>Quand <span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> arrive au relais, il se vache.</li>
      <li>Il enlève son système de rappel. Pour aller plus vite, <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> peut l'aider.</li>
      <li><span style="color: rgb(0, 102, 17)"><b>Claire</b></span> défait le nœud de huit de la corde <span style="color: rgb(212, 0, 0)"><b>rouge</b></span>, mais la garde clippée dans la dégaine (ou cas où il faille faire une remontée sur cordes).</li>
      <li><span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> tire le brin <span style="color: rgb(22, 0, 223)"><b>bleu</b></span> vers le bas pour rappeler les cordes.</li>
      <li>Dès que le nœud de jonction arrive au relais, <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> installe sont système de rappel (même si les cordes ne sont pas encore tombées).</li>
      <li>Dès que les cordes tombent, <span style="color: rgb(0, 102, 17)"><b>Claire</b></span> commence à descendre.</li>
      <li><span style="color: rgb(136, 0, 199)"><b>Mathieu</b></span> récupère le bout du brin <span style="color: rgb(212, 0, 0)"><b>rouge</b></span> pour y faire un nœud en bout de corde. Il peut ensuite le lâcher.</li>
      <li>Le nœud de jonction est maintenant coté <span style="color: rgb(212, 0, 0)"><b>rouge</b></span>, il faudra donc tirer la corde <span style="color: rgb(212, 0, 0)"><b>rouge</b></span> au prochain relais.</li>
  </ol>
  <div>
    Ils répètent ces opérations jusqu'à arriver au sol.
    <header>À retenir :</header>
    - Les cordes sont toujours attachées, on ne risque pas de les perdre.<br>
    - Il y a toujours des nœuds en bouts de cordes, sauf quand on rappelle la corde.<br>
    - Les brins sont toujours bien séparés (bleu à gauche, rouge à droite) et il n'y a pas de twist.<br>
    - Ne pas oublier de défaire le nœud de la corde qu'on ne tire pas !
  </div>
</div>