---
eleventyNavigation:
  key: Installer un rappel
  order: 1
etapes:
  - Se vacher au relais (on pourra faire une triangulation pour plus de confort).
  - Délover les cordes en faisant deux tas, en gardant les quatre bouts accessibles.
  - Prendre les deux bouts de cordes situés en dessous des tas.
  - Passer un des bouts dans l'anneau de rappel puis joindre les deux brins avec un nœud de jonction.
  - Prendre les deux autres bouts de corde et y faire des nœuds d'arrêt (un demi-pêcheur double bien serré sur chaque brin).
  - Pour que les cordes ne filent pas dans l'anneau de rappel, il faudra lancer le brin opposé au nœud de jonction en premier.
  - Partir du bout de la corde et prendre une dizaine de mètres de corde en main pour les lancer.
  - Prévenir d'éventuels grimpeurs en dessous de nous en criant "corde".
  - Lancer la corde loin de la falaise.
  - Répéter l'opération pour le deuxième brin.


---
<div style="display:flex; flex-direction:column">
<p>
Pour éviter d'emmêler la corde, il faudra être minutieux quand on installe le rappel.
Pour le nœud de jonction, je recommande un nœud simple, bien serré, à 30 cm des bouts de cordes.
</p>
<iframe
  loading="lazy"
  width="560" height="315"
  src="https://www.youtube-nocookie.com/embed/4F1Ib7qACr0"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>

</div>