---
eleventyNavigation:
  key: Installer un rappel
  order: 1
etapes:
  - Se vacher au relais (on pourra faire une triangulation pour plus de confort).
  - Délover les cordes en faisant deux tas, en gardant les quatres bouts accessibles.
  - Prendre les deux bouts de cordes situés en dessous des tas.
  - Passer un des bouts dans l'anneau de rappel puis joindre les deux brins avec un nœud de jonction.
  - Prendre les deux autres bouts de corde et y faire des nœuds d'arrêts (un demi-pêcheur double bien serré sur chaque brin).
  - A partir des bouts de cordes, prendre une dizaine de mètre de corde en main pour les lancer.
  - Prévenir d'éventuels grimpeurs en dessous de nous en criant "corde".
  - Lancer les cordes loin de la falaise.


---
Pour éviter d'emmêler la corde il faudra être minutieux quand on installe le rappel.
Pour le nœud de jonction je recommande un nœud simple, bien serré, à 30 cm des bouts de cordes.