---
eleventyNavigation:
  key: La descente
  order: 3
niveau: 1
---
Avant de descendre, regardez où est placé le nœud de jonction pour savoir quel brin tirer une fois en bas.
<br>
Quand on descend en rappel, il faut faire attention à plusieurs choses :

<header>Les chutes de pierres</header>
Les lignes de rappel sont rarement nettoyées comme les voies d'escalade : on y trouve souvent des pierres instables.
Il faudra faire attention à ne pas en faire tomber sur d'éventuelles cordées en dessous : regardez où vous mettez les pieds !
La corde tendue au-dessus de vous peut aussi déloger des cailloux en frottant sur le rocher, et les faire tomber sur vous.
Cela peut arriver quand on pendule de gauche à droite : essayez de rester dans l'axe du rappel.
<br><br>
Une fois en bas, écartez-vous de la ligne de rappel pendant que votre binôme descend.
Quand on tire les cordes, il n'est pas rare de faire tomber des cailloux :
<b>gardez votre casque pendant toute l'opération</b> !


<header>Les frottements</header>
Sur un rappel, si la corde frotte contre une arête coupante, elle peut s'abîmer très vite.
En effet, c'est toujours le même endroit de la corde qui est sollicité.
L'élasticité de la corde fait que la corde frotte sur l'arête de haut en bas comme une scie.
Si vous repérez un endroit qui pourrait abîmer la corde au départ du rappel,
vous pouvez mettre un sac sous la corde pour la protéger (attachez le sac pour ne pas le perdre).
<br><br>

Pendant la descente, évitez les à-coups et privilégiez une descente fluide qui prolongera la vie de vos cordes.

<header>Le coincement de la corde</header>
<br>
<div style="display:flex; flex-direction:column">
  <div>
  <b>Le premier à descendre</b><br>
  Quand on jette les cordes, il arrive qu'elles se coincent dans des fissures ou sur des arbres.
  Le premier à partir va devoir les démêler en descendant.
  Regardez ce qu'il se passe en dessous et autour de vous,
  il ne faut pas descendre plus bas que la zone où les cordes sont coincées !
  Vous seriez obligé de faire une remontée sur corde.<br><br>
  </div>

  <iframe
    loading="lazy"
    width="560" height="315"
    src="https://www.youtube-nocookie.com/embed/x_AeOXHhNpY"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<br><br>

<b>Le dernier à descendre</b><br>
Le dernier a pour rôle d'essayer de repérer des endroits où le nœud de jonction pourrait se coincer en tirant la corde.
Il évitera de placer la corde à ces endroits.
