---
date: 2014-01-01
name: Bicéphale
eleventyNavigation:
  key: Bicéphale
  parent: Noeuds
img: bicephale.jpg
avantages:
  - Se réalise avec seulement deux mousquetons
  - Ne vrille pas les cordes
inconvenients:
  - Pas beaucoup de freinage avec des cordes fines ou neuves, nécessite absolument un autobloquant en plus
---

Le bicéphale sert à descendre en rappel quand on a perdu son descendeur.

