---
eleventyNavigation:
  key: Bicéphale
  order: 14

img: bicephale.jpg
avantages:
  - Se réalise avec seulement deux mousquetons.
  - Ne vrille pas les cordes.
inconvenients:
  - "Pas beaucoup de freinage avec des cordes fines ou neuves : bien vérifier que son autobloquant soit efficace."
video: https://youtu.be/O7xdhN3ShO0
---

Le bicéphale sert à descendre en rappel quand on a perdu son descendeur.

