---
eleventyNavigation:
  key: Cabestan
  order: 4
  
img: cabestan.jpg
avantages:
  - Peut être fait à une main.
  - Rapide à faire.
  - Peut s’ajuster facilement sans le défaire.
  - Nécessite très peu de corde.
inconvenients:
  - Peut être difficile à défaire.
video: https://youtu.be/aCINq66C-R8
---
Le nœud de base à maîtriser absolument.
S’il est fait en bout de corde, il nécessite un nœud d'arrêt.
