---
eleventyNavigation:
  key: Chaise double
  order: 3
  
img: chaise-double.jpg
avantages:
  - Se règle facilement même après sa conception.
  - Se défait facilement.
inconvenients:
  - Plus difficile à contrôler.
  - Nécessite beaucoup de corde.
video: https://youtu.be/Qe54Iljz2TE
---
Le chaise double est utilisé pour fixer le milieu d’une corde à un objet,
ou pour faire un relais.