---
eleventyNavigation:
  key: Demi-cabestan auto-bloquant
  title: Demi-cab auto-bloquant
  order: 6
  
img: demi-cab-auto.jpg
avantages:
  - Possibilité de le transformer en demi-cabestan facilement (et vice versa).
inconvenients:
  - Impossible à débrayer sous tension.
  - Vrille les cordes.
  - Pas très pratique sur corde à double.
  - Peut être capricieux en fonction des mousquetons utilisés, à surveiller !
---

Le demi-cabestan autobloquant sert à assurer un second du haut en mode autobloquant.
On l’utilise pour remplacer un système d’assurage perdu.

