---
name: Double demi-cabestan
eleventyNavigation:
  key: Double demi-cabestan
  parent: Noeuds
img: double-demi-cab.jpg
avantages:
  - Freine plus qu'un demi-cabestan
inconvenients:
  - Pas évident à réaliser
  - Requiert un gros mousqueton 
  - Difficile à retourner
---

Le double demi-cabestan est utilisé quand on suspecte qu'un demi-cabestan simple ne freinera pas assez: 
personne lourde, descente de 2 personnes à la fois, cordes très fines, etc...