---
date: 2009-01-01
name: Français
eleventyNavigation:
  key: Français
  parent: Noeuds
img: francais.jpg
avantages:
  - Bloque très bien
inconvenients:
  - Difficile à débrayer une fois sous tension
  - Unidirectionnel, attention au sens de réalisation
---

Le français est un noeud autobloquant unidirectionnel. Il se réalise avec un anneau de cordelette de 6mm.

