---
eleventyNavigation:
  key: Noeuds
  parent: Techniques de cordes
  order: 2
---

<p>
    Un noeud doit toujours être serré et propre pour être efficace.<br/>
    On serre un noeud en le prenant dans une main et en tirant chaque brin avec l’autre main.<br/>
    Un noeud d'arrêt est toujours un demi pêcheur double (voir noeud de chaise).<br/>
</p>