---
eleventyNavigation:
  key: Machard
  order: 8

img: machard.jpg
avantages:
  - Facile à débrayer.
  - Bidirectionnel.
inconvenients:
  - Peut ne pas bloquer si on ne fait pas assez de tours.
---

Le machard est un noeud autobloquant bidirectionnel. Il se réalise avec un anneau de cordelette de 6mm.

