---
date: 2011-01-01
name: Queue de vache
eleventyNavigation:
  key: Queue de vache
  parent: Noeuds
img: queue-de-vache.jpg
avantages:
  - Facile et rapide à faire
inconvenients:
  - Difficile à défaire après avoir été sous tension
---

On l'utilise principalement pour faire des noeuds de sécurité lors de manips de secours.

