---
date: 2006-01-01
name: Descente sur cordes tendues
eleventyNavigation:
  key: Descente sur cordes tendues
  parent: Rappel
img: corde-tendue.jpg
img2: tresse.jpg
instructionStyle: double
tags: rappel
etapes:
  - Faire un machard tressé sur les cordes avec une sangle (voir chapitre noeuds).
  - S’y longer et installer un autobloquant en dessous, comme pour un rappel normal.
  - On peut maintenant descendre en débrayant doucement la tresse.
---

Si un grimpeur a besoin d’aide en milieu de rappel et qu’on est positionné au dessus de lui,
il va falloir descendre sur les cordes tendue pour lui venir en aide.