---
eleventyNavigation:
  key: Éviter de coincer la corde
  order: 3
---

<p>
    Quand une corde se coince sur un rappel, on est souvent dans un de ces cas de figure :<br>
    <ul>
        <li>La corde se coince dans une fissure.</li>
        <li>La corde se coince dans un arbre.</li>
        <li>La corde fait des torons et devient impossible à tirer.</li>
    </ul>
    <br>
    Voici quelques méthodes qui pourront vous aider à éviter ces situations :
</p>

<section class="section">
    <header>
        Un seul brin
    </header>
    <p>
        Si le rappel est court (moins de 25 mètres avec des cordes de 50 mètres),
        on préférera descendre en rappel avec un seul brin.
        Il est alors utile d’avoir ses milieux de cordes marqués. Mieux vaut y penser avant !
    </p>
</section>

<section class="section">
    <header>
        Nœud de jonction
    </header>
    <p>
        Le nœud de jonction qui a la surface la plus petite est le nœud simple.
        C’est donc le nœud à privilégier dans un terrain à fort potentiel de coincement.
        Quand on installe ses cordes dans le relais de rappel, le nœud de jonction doit être placé côté rocher.
        Le brin que l’on va tirer va de ce fait se trouver sous l’autre brin, ce qui évite de le bloquer.
    </p>
</section>

<section class="section">
    <header>
        Décaler le nœud de jonction
    </header>
    <p>
        Si on identifie une fissure où pourrait se coincer le nœud de jonction au début du rappel,
        la dernière personne à partir pourra décaler le nœud en descendant pour qu'il soit en dessous de la fissure.
        Pour décaler le nœud, on bloque un brin et on laisse coulisser l'autre dans son descendeur.
        Attention, cette technique décale aussi les bouts de corde, assurez vous d'avoir assez de corde pour atteindre le relais du dessous !
    </p>
</section>

<section class="section">
    <header>
        Vent fort
    </header>
    <p>
        S’il y a beaucoup de vent, mieux vaut ne pas jeter ses cordes du haut du rappel.
        On peut les enkiter dans son sac à dos qu’on garde clippé en dessous de nous à la descente.
        Une autre technique consiste à faire une poupée d’une dizaine de mètres avec les bouts des cordes, et de la faire descendre doucement.
        Cette poupée sert de leste pour garder les cordes dans l’axe du rappel.
    </p>
</section>

<section class="section">
    <header>
        Éviter les torons
    </header>
    <div style="display:flex; flex-direction:column">
    <div>

        <img style="max-height:250px" src="/img/relais_chaine.jpg" alt="relais" loading="lazy">
        <img style="max-height:250px" src="/img/relais_piola.jpg" alt="relais" loading="lazy">
        <p>
        Pour descendre en rappel, on utilisera toujours un relais prévu à cet effet. En France on trouve généralement deux types de relais de rappel :
        
        <ul>
            <li>Deux points reliés à un anneau de rappel (ou maillon rapide).</li>
            <li>Deux points non reliés, équipés d'anneaux perpendiculaires pour éviter les torons.</li>
        </ul>
        <br>
        Si on passe la corde dans deux points sans anneaux perpendiculaires, la corde pourrait faire des torons et devenir impossible à tirer.
        </p>
    </div>
    <div>
        <p>
        Pour éviter les torons pendant la descente, gardez les deux brins de la corde bien séparés (en plaçant sa jambe entre les brins par exemple).
        Attention à ne pas emmêler les brins une fois arrivé au relais du dessous.
        </p>    
    </div>
</section>

<section class="section">
    <header>
        Ne pas lâcher la corde trop vite
    </header>
    <p>
        Quand on arrive au relais du dessous et qu'il faut tirer la corde,
         toujours garder en main (ou attacher) le brin qu'on ne tire pas jusqu'au dernier moment.
        Il pourrait nous être utile si la corde venait à se coincer.
    </p>
</section>