---
date: 2001-01-01
name: Machard en haut
eleventyNavigation:
  key: Machard en haut
  parent: Mise en place du descendeur
img: machard-haut.jpg
---

Avec cette méthode, il est très facile de faire un passage de noeud ou une conversion pour commencer une remontée sur corde. En revanche l’autobloquant a tendance à se bloquer quand il est mis sous tension, il est alors difficile de le débrayer.


