---
date: 2000-01-01
name: Mise en place du descendeur (machard bas)
eleventyNavigation:
  key: Mise en place du descendeur (machard bas)
  parent: Rappel
img: machard-bas.jpg
---

Avec cette méthode, le poids du grimpeur est partagé entre le descendeur et l’autobloquant.
L’autobloquant sera donc beaucoup plus facile à débrayer une fois sous tension.
Par contre, il sera plus difficile de faire un passage de noeud ou une remontée sur corde en cas de problème.

<b>Attention à bien régler votre autobloquant, il ne doit surtout pas toucher votre descendeur !</b>

