---
eleventyNavigation:
  key: Rappel sans descendeur
  order: 2
img: bicephale-installe.jpg
imageLayout: left
textLayout: right
video: https://youtu.be/O7xdhN3ShO0
---

<p>
Quand on a perdu son descendeur, le plus simple est de le remplacer par un bicéphale (voir chapitre nœuds).
<b>Attention</b>, un bicéphale freine moins qu’un descendeur, bien vérifier que son autobloquant soit efficace !
</p>
<p>
On peut aussi se faire mouliner par son binôme.
Avec une corde à simple, on passe la corde directement dans le maillon du relais pour qu’une fois le premier en bas, la corde soit en place pour que le second descende en rappel.
Il est parfois judicieux d’utiliser cette technique même quand on n’a pas perdu son descendeur !
</p>
<p>
On peut enfin remplacer son descendeur par un demi-cabestan, méthode à utiliser en dernier recours car elle vrille les cordes.
</p>

