---
eleventyNavigation:
  key: Rappel à deux
  order: 4

img: rappel-deux.jpg
img2: rappel-deux-detail.jpg
imageLayout: double
etapes:
  - Mettre en place son descendeur sur la corde avec un mousqueton.
  - Le secouriste et le blessé se longent à ce mousqueton.
  - Le secouriste se longe au blessé avec une deuxième longe ou une sangle.
  - Il place un autobloquant en dessous du descendeur et commence sa descente.
---

Pour descendre en rappel avec un grimpeur blessé qui n’est pas en mesure d’assurer sa propre descente, on peut faire un rappel à deux.
N'essayez pas de gagner du temps en utilisant cette manip pour tous vos rappels !
Cette technique est réservée aux situations d'urgence.
