---
date: 2003-01-01
name: Rappel coincé
eleventyNavigation:
  key: Rappel coincé
  parent: Rappel
tags: rappel
---

<p>
    Il est important d’essayer d’anticiper où la corde pourrait se coincer, et de tout mettre en œuvre pour qu’elle ne se coince pas.
    Voici quelques méthodes qui pourront vous aider:
</p>
<br>

<strong>
    Un seul brin:
</strong>
<p>
    Quand une corde de rappel se bloque, c’est souvent que le noeud de jonction des deux brins s’est coincé dans une fissure.
    Pour éviter ce problème, on préférera descendre en rappel sur un seul brin si le rappel est court.
    Il est alors utile d’avoir ses milieux de cordes marqués. Mieux vaut y penser avant!
</p>
<br>

<strong>
    Vent fort:
</strong>
<p>
    S’il y a beaucoup de vent, mieux vaut ne pas jeter ses cordes du haut du rappel.
    On peut l’enkiter dans son sac à dos qu’on garde clippé en dessous de nous à la descente.
    Une autre technique consiste à faire une poupée d’une dizaine de mètres avec les bouts des cordes, et de la faire descendre doucement.
    Cette poupée sert de leste pour garder les cordes dans l’axe du rappel.
</p>
<br>

<strong>
    Noeud de jonction:
</strong>
<p>
    Le noeud de jonction qui a la surface la plus petite est le noeud simple.
    C’est donc le noeud à privilégier dans un terrain à fort potentiel de coincement.
    Quand on installe ses cordes dans le relais de rappel, le noeud de jonction doit être placé côté rocher.
    Le brin que l’on va tirer va de ce fait se trouver sous l’autre brin, ce qui évite de le bloquer.
</p>
