---
eleventyNavigation:
  key: Rappel sans descendeur
  order: 2
---

<p>
Quand on a perdu son descendeur, le plus simple est de se faire mouliner par son binôme.
On passe la corde directement dans le maillon du relais pour qu’une fois le premier en bas, la corde soit en place pour que le second descende en rappel.
Il est parfois judicieux d’utiliser cette technique même quand on n’a pas perdu son descendeur !
</p>
<br>
<div>
  <img src="/img/bicephale-installe.jpg" alt="bicephale" loading="lazy">
  <p>
  Une autre option est de remplacer son descendeur par un bicéphale (voir chapitre noeuds).
  Attention les frottements sont moins importants qu’avec un descendeur, bien vérifier que son autobloquant soit efficace !
  </p>
</div>
<p>
On peut enfin remplacer son descendeur par un demi-cabestan, méthode à utiliser en dernier recours car elle vrille les cordes.
</p>
