---
date: 2004-01-01
name: Rappel à deux
eleventyNavigation:
  key: Rappel à deux
  parent: Rappel
img: rappel-deux.jpg
img2: rappel-deux-detail.jpg
imageLayout: double
etapes:
  - Mettre en place son descendeur sur la corde avec un mousqueton.
  - Le secouriste et le blessé se longent à ce mousqueton.
  - Le secouriste se longe au blessé avec une deuxième longe ou une sangle.
  - Il place un autobloquant en dessous du descendeur et commence sa descente.
---

Pour descendre en rappel avec un grimpeur blessé qui n’est pas en mesure d’assurer sa propre descente, on peut faire un rappel à deux.
