@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:200,300,500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }


body {
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
    color: #282828;
    font-family: 'Nunito', sans-serif;
    
  }

.menu{
  margin-left: 10vw;
}

header{
  font-family: 'Oswald', sans-serif;
}

.menu ul{margin-bottom: 1rem}
.menu li{list-style: none; margin-top: 1vh}
.menu .article ul{
  border-left: 1px solid black;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

.menu a{padding: 3px; border-radius: 2px} /* box around link */

.menu .categorie{ /* ex: TECHNIQUES DE CORDES*/
  text-transform: uppercase;
  font-weight: 500;
  font-size: 6vw;
  }

.menu .subject{ /* ex: NOEUD*/
  font-size: 6vw;
  font-weight: 300;
  letter-spacing: 0.2px;
  }

.menu .article{ /* ex: CABESTAN*/
  font-size: 6vw;
  font-weight: 200;
  letter-spacing: 0.2px;
  }

a {
    text-decoration: none;
    color: inherit;
  }
  
a:visited{
    color: inherit;
  }