@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Sen:800|Oswald:200,300,400,500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
html{font-size: 100%}

body {
  display: flex;
  background-color: #eeeeee;
  color: #282828;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
/*-------------------------------------------  MENU  ------------------------------------------------------*/
.menu{
  flex: 0 0 210px;
  position: sticky;
  top: 0;
  padding-left: 10px;
  height: 100%;
  overflow: auto;
  border: 0px solid red;
  font-family: 'Oswald', sans-serif; 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ 
}

.menu ul{padding-left: 0; margin-bottom: 1rem}
.menu li{list-style: none; margin-top: 1vh}
.menu .article ul{
  border-left: 1px solid black;
  padding-left: 0.5rem;
  margin-left: 1rem;
}

.menu a{padding: 3px;border-radius: 2px} /* box around link */
.menu a:hover {background-color: white; cursor: pointer}

.menu .categorie{ /* ex: TECHNIQUES DE CORDES*/
  text-transform: uppercase;
  font-weight: 500;
  }

.menu .subject{ /* ex: NOEUD*/
  font-weight: 300;
  letter-spacing: 0.2px;
  }

.menu .article{ /* ex: CABESTAN*/
  font-weight: 200;
  letter-spacing: 0.1px;
  }
/*-------------------------------------------  END MENU  -----------------------------------------------*/

#rightside{
flex: 1;
overflow: auto;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  }

main header{ /* all titles*/
  font-family: 'Oswald', sans-serif; 
}

main .categorie header{ /* ex: TECHNIQUES DE CORDES*/
  font-size: 3em; 
}
main .categorie { /* ex: TECHNIQUES DE CORDES*/
  margin-bottom: 10rem;
}

main .subject header { /* ex: LES MOUFLAGES*/
  font-size: 2.5em; 
  margin-top: 8vh;
  margin-bottom: 0;
  }

main .article header { /* ex: LE MOUFLAGE SIMPLE */
  font-size: 2em;  
  margin-bottom: 3vh;
  margin-top: 0;
  }

main .section header { /* ex: rien pour l'instant */
  font-size: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-decoration: underline;
  }

article .avantages_inconvenients header { /* ex: AVANTAGES*/
  font-size: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
article .avantages_inconvenients li{list-style-position: inside}

p{
  text-align: justify;
  background-color: none;

  font-size: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 0;
  margin-right: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.intro{
  margin-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border: 0px solid black;
}

main li {margin-top: 1vh}
main ul{padding-left: 2rem}
main ol{padding-bottom: 1.5rem}


main ol li{list-style-position: inside;}
main ul li{
  list-style: square;
  list-style-position: outside;
}

main article {
    overflow: hidden;
    margin-top: 2vh;
    border-radius: 5px;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px #dddddd;
}

article img {
  float: left;
  margin-right: 2vw;
  border-radius: 5px;
  max-height: 80vh;
  max-width: 45%;
  }



/*section {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    /*border-style: solid;
    border-color: red;*/
    }   */

iframe {
    float: left;
    margin-right: 2vw;
    border-radius: 10px;
    max-height: 80vh;
    max-width: 100%;
    }

.scroll{
    max-width: none;
    height: 100%;
    max-height: 80vh;
    }

div.scroll {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    }


/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/

@media only screen and (max-width: 1000px) {
    .menu{
        display: none;
        }
        
}

@media only screen and (max-width: 700px) {

section.scroll {
        height: 90vh;
}

img {
        max-width: 100%;
}

a {
  opacity: 1;
}

*{
    margin: 0;
    padding: 0;
  }

.desktop-only{
    display: none;
    }

img {
    float: none;
    display: block;
    margin: 1vh auto;
    max-height: 80vh;
    max-width: 100%;
    }

article {
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    }

ul {
    margin: 0;
    }

h2 {
    font-size: 8vw;
    margin-top: 0;
    text-align: center;
    }

h3 {
    font-size: 6vw;
    margin-top: 0;
    text-align: center;
    }

h4 {
    font-size: 5vw;  
    margin-bottom: 0;
    text-align: center;
    }

h5 {
  font-size: 4vw; 
    margin-top: 0;
    text-align: center;
    }
}

