@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Oswald:200,300,400,500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
html{font-size: 100%}

body {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  color: #282828;
  font-family: 'Nunito', sans-serif;
}

#rightside{
  flex: 1;
  overflow: auto;
}

  
main {
    /*max-width: 1000px;*/
    max-width: 80vw; 
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
}

/*-------------------------------------------  MENU  ------------------------------------------------------*/
.menu{
  flex: 0 0 210px;
  position: sticky;
  top: 0;
  padding-left: 10px;
  height: 100%;
  overflow: auto;
  border: 0px solid red;
  font-family: 'Oswald', sans-serif; 
  user-select: none; /* Standard */ 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}


.menu ul{margin-bottom: 1rem}
.menu li{list-style: none; margin-top: 1vh}
.menu .article ul{
  border-left: 1px solid black;
  padding-left: 0.5rem;
  margin-left: 1rem;
}
.menu a {
  text-decoration: none;
  color: inherit;
}
.menu a:visited {color: inherit}

.menu a{padding: 3px; border-radius: 2px;} /* box around link */
.menu a:hover {background-color: white; cursor: pointer}

#accueil div{
  background-color: rgb(255, 196, 0);
  border: 2px solid rgb(255, 196, 0);
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 10px 0;
}
#accueil div:hover{
  background-color: unset;
  border: 2px solid rgb(255, 196, 0);
  background-color: white;
}
#accueil {
  margin: 0px;
  padding: 0px;
}


.menu .categorie{ /* ex: TECHNIQUES DE CORDES*/
  text-transform: uppercase;
  font-weight: 500;
  }

.menu .subject{ /* ex: NOEUD*/
  font-weight: 300;
  letter-spacing: 0.2px;
  }

.menu .article{ /* ex: CABESTAN*/
  font-weight: 200;
  letter-spacing: 0.1px;
  }

/*--------------------------------------------  TITLES  ------------------------------------------------*/
main header{ /* all titles*/
  font-family: 'Oswald', sans-serif; 
}
main .categorie header{ /* ex: TECHNIQUES DE CORDES*/
  font-size: 3em; 
}
main .categorie {
  margin-bottom: 10rem;
}

main .subject header { /* ex: LES MOUFLAGES*/
  font-size: 2.5em; 
  margin-top: 8vh;
  }

main .article header { /* ex: LE MOUFLAGE SIMPLE */
  font-size: 2em;  
  margin-bottom: 3vh;
  margin-top: 2vh;
  }

main .section header { /* ex: MACHARD EN DESSOUS*/
  font-size: 1.5em;
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-decoration: underline;
  }

article .avantages_inconvenients header { /* ex: AVANTAGES*/
  font-size: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/*-------------------------------------------  GENERIC -----------------------------------------------*/

p{
  text-align: justify;
  font-size: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

main a {
  color: rgb(32, 2, 163);
  font-weight: bold;
}

main a:visited{
  color: rgb(72, 2, 163);
}

img {
  float: left;
  margin-right: 2vw;
  border-radius: 5px;
  max-height: 80vh;
  max-width: 45%;
}

iframe {
  float: left;
  margin-right: 2vw;
  border-radius: 10px;
  max-height: 80vh;
  max-width: 100%;
}
/* display fraction */
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid black;
}
.frac span.symbol {
  display: none;
} 

/*-------------------------------------------  LISTS -----------------------------------------------*/
main ul{padding-left: 2rem}
main ol{padding-bottom: 1.5rem}
main li {margin-top: 1vh;}
main ul li{list-style-position: inside;}
main ol li{list-style-position: inside}

/*-------------------------------------------  BOXES -----------------------------------------------*/

div .subject .intro{
  margin-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
div .article .intro{
  padding: 0;
  margin: 0;
}

.niveau_1{
  background-color: rgb(40, 139, 0);
  border: 2px solid rgb(40, 139, 0);
}

.niveau_2{
  background-color: rgb(255, 217, 0);
  border: 2px solid rgb(255, 217, 0);
}

.niveau_3{
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.niveau_{
  background-color: rgb(194, 192, 192);
}

.circle{
  border-radius: 50%;
  display: inline-block;
}

main .circle{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.3em;
}

.menu .circle{
  height: 0.5rem;
  width: 0.5rem;
}

.levelContainer:hover .levelInfo {
  display: block;
}

.levelInfo {
  display: none;
  background-color: #fafafa;
  margin-left: 28px;
  padding: 15px;
  position: absolute;
  z-index: 1000;
  max-width: 50vw;
  border-radius: 5px;
}

header .levelInfo header {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
header .levelInfo div {
  font-size: 1rem;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.aRetenir{
  background-color: rgb(255, 196, 0);
  padding: 10px;
  border-radius: 5px;
}
.aRetenir:before {
  content: "À retenir : ";
  font-weight: bold;
}

.sources {
  color: grey;
  font-size: 0.8em;
}
.sources a{
  color: grey;
  font-weight: 400;
}
.sources a:visited{
  color: grey;
}

article {
  overflow: hidden;
  margin-top: 2vh;
  border-radius: 5px;
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px #dddddd;
  display: flex;
  flex-direction: column;
}


img.scroll{
  max-width: none;
  height: 100%;
  max-height: 80vh;
}

div.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

/*DEBUG*/
/* 
div{border: 1px solid red;}
.subject{border: 2px solid purple;}
.article {border: 2px solid green;}
.section{border: 2px solid blue;}
.intro{border: 2px solid yellow;}
 */


/*#######################################################################################################################
################################################   MOBILE   #############################################################
#######################################################################################################################*/

@media only screen and (max-width: 1000px) {
  .menu{
      display: none;
  }

  main{
    max-width: 95vw;
  }

  img.scroll{
    max-height: 50vh;
  }
        
}

@media only screen and (max-width: 700px) {

  main {
    padding: 2vw;
    max-width: unset;
  }

/*--------------------------------------------  TITLES  ------------------------------------------------*/

  main header{ /* all titles*/
    text-align: center;
  }

  main .categorie header{ /* ex: TECHNIQUES DE CORDES*/
    font-size: 11vw;
  }
  
  main .subject header { /* ex: RAPPEL*/
    font-size: 10vw; 
    margin-top: 5vh;
    }
  
  main .article header { /* ex: MISE EN PLACE */
    font-size: 8vw;  
    margin-bottom: 2vh;
    margin-top: 0;
    text-align: left;
    }
  
  main .section header { /* ex: MACHARD EN DESSOUS*/
    font-size: 6vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-decoration: underline;
    }
  
  article .avantages_inconvenients header { /* ex: AVANTAGES*/
    font-size: 5vw;
    margin-top: 1vh;
    text-align: left;
  }

  img {
    float: none;
    border-radius: 5px;
    max-height: 90vh;
    max-width: 100%;
  }

/*-------------------------------------------  LISTS -----------------------------------------------*/
  main ul{padding-left: 4vw}
  main ol{padding-bottom: 1vh}
  main li {margin-top: 1vh;}
  main ul li{list-style-position: outside;}


/*-------------------------------------------  BOXES -----------------------------------------------*/

  .intro{
    margin-top: 1vh;
  padding: 0;
  }

  div .subject .intro{
    padding-right: 0;
    padding-left: 0;
  }

  div.scroll {
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

}