---
eleventyNavigation:
  key: Rappel
  parent: Techniques de cordes
  order: 6
---

<p class="pr-4">
    La descente en rappel est une situation générant de nombreux accidents, souvent dus à des fautes d’inattention.
    Même fatigué, rester concentré jusqu’à la voiture! Veillez à faire des noeuds en bouts de cordes: un demi pêcheur double bien serré sur chaque brin.
    Faites aussi attention aux chutes de pierres: gardez toujours votre casque, et quand vous arrivez en bas, écartez-vous de la ligne de rappels.
</p>