---
eleventyNavigation:
  key: Descente sur cordes tendues
  order: 6

img: corde-tendue.jpg
img2: tresse.jpg
imageLayout: double
etapes:
  - Faire un machard tressé sur les cordes avec une sangle (voir chapitre noeuds).
  - S’y longer et installer un autobloquant en dessous, comme pour un rappel normal.
  - On peut maintenant descendre en débrayant doucement la tresse.
  - Attention la descente est délicate, pour ralentir, lacher tout !
---

Si un grimpeur a besoin d’aide en milieu de rappel et qu’on est positionné au dessus de lui,
il va falloir descendre sur les cordes tendue pour lui venir en aide.