---
eleventyNavigation:
  key: Décaler le nœud de jonction
  order: 3
---
<p>
Si on identifie une fissure où pourrait se coincer le nœud de jonction au début du rappel,
la dernière personne à partir pourra décaler le nœud en descendant pour qu'il soit en dessous de la fissure.
Pour décaler le nœud, on bloque un brin et on laisse coulisser l'autre dans son descendeur.
Attention, cette technique décale aussi les bouts de corde,
assurez vous d'avoir assez de corde pour atteindre le relais du dessous !
</p>
<iframe
loading="lazy"
width="560" height="315"
src="https://www.youtube-nocookie.com/embed/ToOxi1R7JIU"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>