---
eleventyNavigation:
  key: Éviter les torons
  order: 5
---

<div style="display:flex; flex-direction:column">
    <div>

        <img style="max-height:250px" src="/img/relais_chaine.jpg" alt="relais" loading="lazy">
        <img style="max-height:250px" src="/img/relais_piola.jpg" alt="relais" loading="lazy">
        <p>
        Pour descendre en rappel, on utilisera toujours un relais prévu à cet effet. En France on trouve généralement deux types de relais de rappel&nbsp;:
        <ul>
            <li>Deux points reliés à un anneau de rappel (ou maillon rapide).</li>
            <li>Deux points non reliés, équipés d'anneaux perpendiculaires pour éviter les torons.</li>
        </ul>
        </p>
    </div>
    <br>
    <div>
        <img src="/img/torons.jpg" alt="relais" loading="lazy">
        <p>
            Si on passe la corde dans deux points sans anneaux perpendiculaires, la corde pourrait faire des torons et devenir impossible à tirer.
        </p>
    </div>
    <br>
    <div>
     <iframe
    loading="lazy"
    width="560" height="315"
    src="https://www.youtube-nocookie.com/embed/y8bqCI3nNh4"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
        <p>
        Pour éviter les torons pendant la descente, garder les deux brins de la corde bien séparés (en plaçant sa jambe entre les brins par exemple).
        Attention à ne pas emmêler les brins une fois arrivé au relais du dessous.
        </p>    
    </div>
   
</div>