---
eleventyNavigation:
  key: Ne pas lâcher la corde trop vite
  order: 6
---

Quand on arrive au relais du dessous et qu'il faut tirer la corde,
toujours garder en main (ou attacher) le brin qu'on ne tire pas jusqu'au dernier moment.
Il pourrait nous être utile si la corde venait à se coincer.
