---
eleventyNavigation:
  key: Un seul brin
  order: 1
img: rappel_simple.jpg
imageLayout: left
textLayout: right
---

Si le rappel est court (moins de 25 mètres avec des cordes de 50 mètres),
on préférera descendre en rappel avec un seul brin pour éviter que le nœud se coince.
Il est alors utile d’avoir ses milieux de cordes marqués. Mieux vaut y penser avant !