---
eleventyNavigation:
  key: Principes de base
  order: 1
---

<p>
<strong>Prennez votre temps!</strong><br>
Mieux vaut prendre une minute pour annalyser la situation que de se lancer dans une mauvaise manip.<br>
Prennez le temps de ranger votre materiel quand vous ne l'utilisez pas et <strong>gardez vos manips propres!</strong>
</p>
    On peut parfois être amené à improviser. Néanmoins il faut toujours garder en tête quelques principes de base:

    <ul>
        <li>
            Jamais de frottement textile sur textile.
        </li>
        <li>
            Attention aux frottements de la corde sur le rocher.<br>
            Un frottement est acceptable s’il n’affecte pas toujours la même partie de la corde.
        </li>
        <li>
            Vérifiez que vos mousquetons travaillent bien:<br>
            - Ils sont bien fermés.<br>
            - Ils forcent dans le bon sens.<br>
            - Les viroles ne fottent pas contre le rocher.<br>
            - Ils ne sont pas en porte-à-faux.
        </li>
    </ul>