---
eleventyNavigation:
  key: Principes de base
  order: 1
---

<p class="py-3"><strong>Prennez votre temps!</strong> Mieux vaut prendre une minute pour annalyser la situation que de se lancer dans une mauvaise manip. 
        Prennez le temps de ranger votre materiel quand vous ne l'utilisez pas (pas de sangles qui pendent!)
        et <strong>gardez vos manips propres!</strong>
    </p>
    Dans l’urgence, on peut être amené à improviser. Néanmoins il faut toujours garder en tête quelques principes de base:

    <ul class="list-disc list-inside">
        <li class="p-2">
            Jamais de frottement textile sur textile: la dyneema en particulier a une très faible résistance à la chaleur.
        </li>
        <li class="p-2">
            Attention aux frottements de la corde sur le rocher.
            Un frottement est acceptable s’il n’affecte pas toujours la même partie de la corde.
        </li>
        <li class="p-2">
            Attention, un mousqueton qui travaille mal perd de sa résistance.
            Pour bien travailler, un mousqueton doit être bien fermé, forcer dans le bon sens, ne pas frotter contre le rocher et ne pas être en porte-à-faux.
        </li>
    </ul>