---
date: 2006-01-01
name: Faire redescendre un second en grande voie
eleventyNavigation:
  key: Faire redescendre un second en grande voie
  parent: Techniques de cordes
layout: layouts/mobile.njk
img: debrayer.jpg
instructionStyle: scroll
tags: debrayer
etapes:
  - Faire une queue de vache et la clipper au primaire.
  - Faire un machard sur la corde tendue et le clipper à son pontet.
  - Transferer la tension sur le machard en tirant sur le mousqueton libre de l'assureur.
  - Enlever l'assureur et le remplacer par un demi-cabestan.
  - Enlever la queue de vache sans lacher les brins de cordes.
  - Commencer la descente en debrayant le machard.
---

En grande voie, quand on assure son second d’en haut avec un assureur en mode autobloquant,
il arrive qu’on ait besoin de le redescendre, ce qui est difficile lorsqu’il est en tension sur la corde.
Il faudra alors remplacer son assureur par un demi-cabestan.