---
eleventyNavigation:
  key: Rappel
  order: 6
---

<p>
    La descente en rappel est une situation générant de nombreux accidents, souvent dus à de l’inattention.
    Même fatigué, restez concentré jusqu’à la voiture&nbsp;!
    Ne pas oublier les nœuds en bouts de cordes&nbsp;: un demi-pêcheur double bien serré sur chaque brin.
    Faites aussi attention aux chutes de pierres&nbsp;: gardez toujours votre casque, et quand vous arrivez en bas, écartez-vous de la ligne de rappels.
    Une descente sans à-coups limitera l'usure de vos cordes. <b>Pas de rappel à deux sauf urgence </b>!
</p>