---
eleventyNavigation:
  key: Assurer du haut
  order: 7
img: assureur_auto.jpg
imageLayout: left
etapes:
  - Installer son assureur en mode autobloquant sur le primaire.
  - Ravaler les cordes.
  - Quand le second dit "bout de corde", installer les cordes dans l'assureur.
  - Tester son montage en tirant sur les brins coté grimpeur (ca doit bloquer).
  - S'installer confortablement pour assurer.
  - Dire à son second "quand tu veux", mais ne pas commencer à ravaler tout de suite.
  - Quand le second dit "départ", commencer à ravaler la corde pour l'assurer.

video: https://youtu.be/yJLhkzWYUxk?t=142
---

Chaque système d'assurage est un peu différent, regardez la notice pour plus d'informations.



