---
eleventyNavigation:
  key: Se préparer au pied de la voie
  title: Au pied de la voie
  order: 2
img: cordes_preparees.jpg
imageLayout: left
textLayout: right
---

On peut commencer par délover les cordes au niveau du départ de la première longueur, en laissant les bouts de cordes accessibles.
On regarde quelle brin est à gauche et quel brin est a droite, on gardera cette organisation tout au long de la voie.
Le leader prend les dégaines et s'encorde avec les bouts du haut du tas de corde
(en prenant soins de garder la bonne couleur de corde du bon coté sur son baudrier).
Le second s'encorde avec les bouts du dessous et met en place son assureur, toujours en gardant le bon brin du bon coté.

<br><br>
Avant de partir le binôme décide d'un système pour communiquer.
Personnellement j'aime utiliser des sifflet,
mais peu importe le système choisi il faudra se mettre d'accord avant de commencer à grimper.
<br><br>
Avant chaque longueur le leader regarde le topo pour savoir où aller,
et vérifie qu'il a assez de matériel pour équiper le prochain relais.
Comme en couenne, il faut aussi faire une double vérification avant de commencer à grimper.


