---
eleventyNavigation:
  key: Gestion de la corde au relais
  title: Gestion de la corde
  order: 8
niveau: 1
---

<div style="display:flex; flex-direction:column">
  <div>
    <header>Anticiper</header>

    <b>En réversible</b>, regardez la longueur suivante pour anticiper dans quelle direction votre binôme va partir.
    Le but étant qu'il n'ait pas à vous croiser.
    Si la longueur suivante part à droite, installez-vous à gauche du relais.
    Le second pourra ainsi vous rejoindre, s'installer à votre droite au relais, et repartir dans la longueur suivante sans encombre.
    <br><br>

    <b>En leader fixe</b> c'est le contraire : si la prochaine longueur part à droite, installez-vous à droite.
    Votre second viendra s'installer au relais à votre gauche et vous serez libre pour partir.
    <br><br>

    <iframe
    loading="lazy"
    width="560" height="315"
    src="https://www.youtube-nocookie.com/embed/NV5XZ6VDcm0"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  </div>
  <div>
    <header>Ranger la corde</header>
    <p>
    Au fur et à mesure que vous assurez votre second, il faudra mettre les cordes quelque part.<br>
    Le plus pratique, si vous êtes sur une vire, est de faire un tas à vos pieds sans séparer les brins.
    Si vous êtes en leader fixe, les brins du leader se retrouvent en dessous du tas,
    il faut donc le retourner avant de commencer la prochaine longueur.
    On peut prendre le tas en entier et le retourner, ou faire un autre tas en partant des brins du haut.
    Cette méthode marche bien quand il y a une petite vire où ranger les cordes, mais cela devient problématique sur des relais suspendus.
    Il faudra alors poser les cordes sur vos jambes :
    <br><br>

    <b>En réversible</b>, commencez par faire de très longues boucles, et réduisez leur taille progressivement.
    Les dernières boucles doivent être petites.
    Quand votre binôme partira dans la prochaine longueur,
    c'est les petites boucles qui partiront en premier.
    Elles ne s'emmêleront donc pas dans les grandes.
    <br><br>

    <b>En leader fixe</b> c'est le contraire. Commencez par des petites boucles et augmentez leur taille progressivement.
    Les dernières boucles doivent être grandes.
    Quand votre second vous rejoint, il faut lui transférer les cordes sur les pieds : opération délicate !
    </p>
  </div>
</div>
