---
eleventyNavigation:
  key: La communication
  order: 3
---
Il n'est pas rare qu'on ne puisse pas se voir d'un relais à l'autre, et on s'entend souvent mal.
Il faut donc communiquer de manière claire et concise.
Il y a 4 étapes clés pendant les transitions
(entre le moment où le leader s'arrête de grimper et le moment où le second commence à grimper).
À chaque étape correspond une phrase. Chaque phrase engendre une action.<br>
Le <span style="color: blue;"><b>leader</b></span> et le <span style="color: red;"><b>second</b></span> se répondent.


    

<div style="color: blue;">
  1) Quand le leader est en sécurité au relais,
  il dit "<b>Relais vaché</b>"<br>
</div>
Action > Le second enlève son système d'assurage.<br>
Le leader clippe sont système d'assurage au relais et commence à ravaler la corde.
<br><br>
<div style="color: red;">
  2) Quand le second est en bout de corde,
  il dit "<b>Bout de corde</b>"<br>
</div>
Action > Le leader installe les cordes dans son système d'assurage.
<br><br>
<div style="color: blue;">
  3) Quand le leader est prêt à assurer,
  il dit "<b>Quand tu veux</b>"<br>
</div>
Action > Le second se prépare à partir et démonte le relais.
<br><br>
<div style="color: red;">
  4) Quand le second est prêt à partir,
  il dit "<b>Départ</b>"<br>
</div>
Action > Le leader commence à assurer le second en ravalant la corde.




    
 

