---
eleventyNavigation:
  key: Quelques nœuds
  order: 1
---

Un nœud doit toujours être serré et propre pour être efficace.<br/>
On serre un nœud en le prenant dans une main et en tirant chaque brin avec l’autre main.<br/>
Un nœud d'arrêt est toujours un demi-pêcheur double (voir nœud de chaise).<br/>
