---
layout: layouts/base.njk
---

<div class="container max-w-screen-md">

<h2>La formation</h2>

<h3>Pour qui?</h3>
La formation s'adresse à des grimpeurs majeurs <span class="font-bold">autonomes en grande voie</span>, qui maitrisent les manips de base: création d'un relais, assurage par le haut, rappel, etc.
<br>
Les promotions sont constituées de 12 stagiaires maximum.
<br>
Les stagiaires doivent être assurés pour l'escalade. Si ils sont membres d'un club FFME, CAF ou FSGT, leur license comprend une assurance, sinon ils doivent s'en procurer par ailleurs (Vieux Campeur par exemple).

<h3>Durée</h3>
La formation se déroule sur un week-end et un vendredi soir.
<br>
<br>
<b>Vendredi</b>: 19h-21h Théorie en salle de cours.<br>
<b>Samedi</b>: 9h-18h Pratique en SAE.<br>
<b>Dimanche</b>: 9h-18h Pratique en SAE.<br>
<br>

Ces horaires peuvent être aménagées pour s'adapter à vos contraintes.

<h3>Lieu</h3>
La formation se déroule idéalement dans une salle d'escalade privatisée mais il est également possible d'organiser une session en exterieur, selon la configuration de la falaise et la météo.

<h3>Prix</h3>
Le prix varie en fonction du lieu de formation, de la SAE choisie, du nombre de participants, des subventions des clubs, de la présence de bénévoles, etc.<br>
Pour demander un devis, envoyez moi un mail: <span class="font-bold">secoursvertical@gmail.com</span><br>
Le <a href="/referentiel" class="font-bold underline">référentiel</a> est disponible gratuitement mais il nous a demandé beaucoup d'heures de travail.
Si vous l'appreciez n'hésitez pas à nous aider en faisant un don !

<div class="mt-6">
    <a href="https://www.lepotcommun.fr/pot/gt9u3lhh-secours_vertical" target="_blank" class="p-3 border border-gray-800 rounded-sm hover:bg-gray-800 hover:text-white">
        Faire un don
    </a>
</div>

<h3>Photos</h3>


</div>