---
layout: layouts/base.njk
---

<div class="container">
<h1 class="text-center text-6xl mb-20 mt-10">Secours Vertical</h1>

<ul class="max-w-sm mx-auto text-xl">
    <li><a class="hover:text-gray-500" href="/formation">La formation</a></li>
    <li><a class="hover:text-gray-500" href="/referentiel">Le réferentiel</a></li>
    <li><a class="hover:text-gray-500" href="/contact">Contact</a></li>
    <li><a class="hover:text-gray-500" href="/references">Références</a></li>     
</ul>

</div>