<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secours Vertical</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Sen:400,800&display=swap');

        * {
        box-sizing: border-box;
        }

        ::-webkit-scrollbar {
             display: none;
            }

        html{
            font-size: 100%;
            padding: 0;
            margin: 0;
        }
        
        body{
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            align-items: center; /* horizontal */
            background: url(/img/cover_viuz_NB.jpg) no-repeat center center fixed;
            background-size:cover;
            overflow: hidden;
            font-family: 'Open Sans', sans-serif;
            margin: 0;
        }

        .fade_to_color{
            animation-name: switch;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .fade_to_bw{
            animation-name: switch_back;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count:1;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        @keyframes switch {
        from {background: url(/img/cover_viuz_NB.jpg) no-repeat center center fixed;background-size:cover;}
        to {background: url(/img/cover_viuz.jpg) no-repeat center center fixed;background-size:cover;}
        }

        @keyframes switch_back {
        from {background: url(/img/cover_viuz.jpg) no-repeat center center fixed;background-size:cover;}
        to {background: url(/img/cover_viuz_NB.jpg) no-repeat center center fixed;background-size:cover;}
        }

        a{
            color: inherit;
            text-decoration: inherit;
        }
        a:visited{
            color: inherit;
        }

        header{
            display: flex;
            align-items: center;
            flex: auto;
        }

        #logo{
            visibility: hidden;
            color: rgba(255, 255, 255, 0.8);
            font-family: 'Sen', sans-serif;
            font-size:  1.3rem;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.15rem;
            word-spacing: 0.2rem;
        }

        main{
            height: 80vh;
            width: 70vw;
            border: 3px solid rgba(255, 255, 255, 0.6);
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: none;
        }

        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: inherit;
            width: inherit;
            padding: 3vw;
        }

        #SV{
            color: white;
            font-family: 'Sen', sans-serif;
            font-size:  6vw;
            text-transform: uppercase;
            font-weight: 800;
        }
        #sous-titre{
            color: black;
            font-size:  1rem;
            text-transform: uppercase;
            font-weight: 300;
        }

        #arrow{
            opacity: 0;
            position: absolute;
            bottom: 15vh;
            content: url("/img/arrow.png");
            width: 2.5rem;
            animation: flashing 1s ease-in-out infinite alternate;
        }

        @keyframes flashing {
            from {opacity: 0.1;}
            to {opacity: 0.8;}
        }

        #referentiel_container{
            background-color: rgba(255, 255, 255, 0.6);
        }

        #bouttons_container{
            display: flex;
            justify-content: space-around;
            padding: 1rem;
        }

        .boutton{
            border: 1px solid black;
            padding: 1.3rem;
            margin: 1.5rem;
            text-align: center;
        }

        .boutton:hover{
            background-color: white;
            cursor: pointer;
        }

        #formation_container{
            color: white;
            height: 90%;
        }

        .small_cards_container{
            
            display: flex;
        }

        .small_card{
            flex: 1;
            padding: 1.5rem;
            margin: 1.5rem;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            color: white;
            font-size: 1rem;
            font-weight: 300;
        }

        #nous{
            color: white;
            background-color: rgba(255, 255, 255, 0);
        }
        
        footer{
            flex: auto;
            display: flex;
            align-items: center; /* vertical */
            color: rgba(255, 255, 255, 0.3);
            visibility: hidden;
        }

@media only screen and (max-width: 800px) {

    html{
            font-size: 70%;
        }
    body{
        background: url(/img/mer.jpg) no-repeat center center fixed;
        background-size:cover;
        padding-bottom: 10vh;
        padding-top: 5vh;
    }

    #sous-titre{
            color: white;
        }
    
    main{
        width: 90vw;
        height: 90vh;
    }
    
    #bouttons_container{
            flex-direction: column;
        }
    .small_cards_container{
            flex-direction: column;
        }
    .card{ 
            height: unset;
            min-height: 50vh;
        }
}
    </style>
</head>
<body>
    <div style="display: none;"><img src="/img/cover_viuz.jpg" alt=""></div>
    <header>
        <div id="logo">Secours Vertical</div>
    </header>
    <main>
        <div id="SV_container" class="card">
            <div id="SV">
                Secours Vertical
            </div>
            <div id="sous-titre">
                Apprendre à réagir en cas d'accident en grande voie
            </div>
            <div id="arrow"></div>
        </div>
        <div id="referentiel_container" class="card">
            <div id="referentiel">
                <h3>
                    Le référentiel de la formation est disponible gratuitement.
                </h3>
                <p style="font-weight: 300;">
                    Il nous a demandé de nombreuses heures de travail, et il est mis à jour régulièrement.<br>
                    Si vous appréciez ce travail et souhaitez nous soutenir, vous pouvez faire un don.
                </p>
            </div>
            <div id="bouttons_container">
                <a href="https://www.lepotcommun.fr/pot/gt9u3lhh" target="blank"><div class="boutton">Faire un don</div></a>
                <a href="/referentiel" target="blank"><div class="boutton">Voir le référentiel</div></a>
            </div>
            <p style="font-weight: 300;">
                Vous pouvez nous contacter à cette adresse:<br>
            </p>
            <a href="mailto:secoursvertical@gmail.com" target="blank">secoursvertical@gmail.com</a>
        </div>
        <div id="formation_container" class="card">
            
            <div style="width: 60vw;">
                <h1>Secours Vertical, c'est quoi?</h1>
                <p style="margin-top: 2rem">
                    La formation se divise en deux parties:<br>
                    les <b>techniques de cordes</b> et les <b>premiers secours.</b> <br><br>
                    Elle se termine par des mises en situations qui combinent ces deux aspects.<br>
                    Elle est assurée par un moniteur d'escalade diplômé, aidé de bénévoles.
                </p>
            </div>
        </div>
        <div class="small_cards_container">
            
                <div class="small_card">
                    <h3>Pour qui?</h3>
                    <p>
                        La formation s'adresse à des grimpeurs majeurs autonomes en grande voie, qui maitrisent les manips de base:<br>
                         création d'un relais, assurage par le haut, rappel, etc.<br><br>
                        Les promotions sont constituées de 12 stagiaires maximum.<br><br>
                        Les stagiaires doivent être assurés pour l'escalade. Si ils sont membres d'un club FFME, CAF ou FSGT, leur license comprend une assurance, sinon ils doivent s'en procurer par ailleurs (Vieux Campeur par exemple).
                    </p>
                </div>
                <div class="small_card">
                    <h3>Combien de temps?</h3>
                    <p>
                        La formation se déroule sur un week-end et un vendredi soir.
                    </p>
                    <ul style="list-style: none;">
                        <li><b>Vendredi</b> &nbsp;&nbsp;&nbsp; 19h-21h Théorie en salle de cours.</li>
                        <li><b>Samedi </b>  &nbsp;&nbsp;&nbsp;  9h-18h Pratique en SAE.</li>
                        <li><b>Dimanche </b>  &nbsp;&nbsp;&nbsp;  9h-18h Pratique en SAE.</li>
                    </ul>
                    <p>
                        Ces horaires peuvent être aménagées pour s'adapter à vos contraintes.
                    </p>
                </div>
        </div>
        <div class="small_cards_container">
            
                <div class="small_card">
                    <h3>Où?</h3>
                    <p>
                        La formation se déroule idéalement dans une salle d'escalade privatisée mais il est également possible d'organiser une session en exterieur,
                         selon la configuration de la falaise et la météo.
                    </p>
                </div>
                <div class="small_card">
                    <h3>Combien ça coûte?</h3>
                    <p>
                        Le prix varie en fonction du lieu de formation, de la SAE choisie, du nombre de participants, des subventions des clubs, de la présence de bénévoles, etc.<br><br>
                        Pour demander un devis, envoyez moi un mail: <a href="mailto:secoursvertical@gmail.com" target="blank"><b>secoursvertical@gmail.com</b></a><br><br>
                        Le référentiel est disponible gratuitement et consultable librement sur ce site.
                    </p>
                </div>
            
        </div>

        <div id="nous" class="card">
            <h1>Qui sommes nous?</h1>
            
            
        </div>
    </main>
    <footer>
        <a href="mailto:secoursvertical@gmail.com" target="blank">secoursvertical@gmail.com</a>
    </footer>
</body>
<script>
$(document).ready(function() {
    
    var start_width = $("main").width();
    var max_width = $("body").width() * 0.9;
    var mobile = false;
    if ($("body").width()<600){
        mobile = true;
    };

    function grow(page, start_page, end_page){
        if(page > start_page  && page < end_page){
            var new_width = start_width+(page-start_page)*(max_width-start_width)/(end_page-start_page)
            $("main").width(new_width);
        };
    };

    function shrink(page, start_page, end_page){
        if(page > start_page  && page < end_page){
            var new_width = max_width+(page-start_page)*(start_width-max_width)/(end_page-start_page)
            $("main").width(new_width);
        };
    };

  $("main").scroll(function() {
        var page = $("main").scrollTop() / $("main").height() + 1;
        var offset = $("main").height() / 2; //reveal before target
        var smooth = $("main").height() / 2; //smooth reveal
        $("#arrow").hide();
        $("#logo").css("visibility", "visible");
        $("footer").css("visibility", "visible");

        $("#logo").css("opacity", ( $("main").scrollTop() - $("main").height() + offset ) / smooth);

        $("footer").css("opacity", ($("main").scrollTop() - ($("main").height()*2) + offset) / smooth);

        if (!mobile){

            grow(page, 2.8, 3.2)
            
            if(page > 2.5 ){
            $("body").addClass("fade_to_color");
            $("body").removeClass("fade_to_bw");
            }else if ($("body").hasClass("fade_to_color")){
            $("body").removeClass("fade_to_color");
            $("body").addClass("fade_to_bw");
            };
        }; //end if not mobile
    console.log(page)
  }); //end scroll main

}); // end document ready

</script>
</html>