---
layout: layouts/base.njk
---

<div class="container max-w-2xl">
    <h1 class="text-center text-3xl sm:text-6xl mb-20 mt-10 uppercase font-hairline tracking-wide">Secours Vertical</h1>

    <p class="text-lg text-gray-800 px-4 text-justify">
    La formation Secours Vertical a pour but d’apprendre à réagir en cas d’accident lors de la pratique de l’escalade, plus particulièrement en grande voie.
    Elle se divise en deux parties: les <b>techniques de cordes</b> et les <b>premiers secours</b>, et se termine par des mises en situations qui combinent ces deux aspects.
    Elle est assurée par un moniteur d'escalade diplômé.
    </p>

    <ul class="flex justify-around text-xl mt-16 mb-12 text-gray-800">
        <a class="border rounded-sm p-4 border-gray-800 hover:text-white hover:bg-gray-800" href="/formation">La formation</a>
        <a class="border rounded-sm p-4 border-gray-800 hover:text-white hover:bg-gray-800" href="/referentiel">Le réferentiel</a>
    </ul>

    <img src="img/diamants-bw.jpg" width=400 class="mx-auto rounded-full">
</div> 