---
eleventyNavigation:
  key: Exemple 2
  order: 2
---

<div style="display:flex; flex-direction:column">
    
  <div>
      <img src="/img/choc_exemple_2.png" alt="choc 2" style="max-height:400px" loading="lazy">
      <div>
        Cette fois ci le même grimpeur tombe du même endroit mais l’assureur le dynamise moins bien.
        L’amorti n’est que de 1 mètre.
        <br><br>
        <div style="font-size: 1.3em">
            F &nbsp;≈ &nbsp; 80 × 10 &nbsp;× 
            <div class="frac">
                <span>4</span>
                <span class="symbol">/</span>
                <span class="bottom">1</span>
            </div>
            &nbsp; = &nbsp; 3200 N
        </div>
        <br>
        Le grimpeur a maintenant encaissé <b>3,2 kN</b>, ce qui commence à être désagréable !
      </div>
  </div>
  <br>
  <p class="aRetenir">
    pour diminuer la force de choc, il faut augmenter l’amorti.
    Plus la phase de ralentissement du grimpeur est longue, plus sa chute sera douce.
  </p>
  <br>
  <p>
    Lors d’une chute dans une voie d’escalade,
    les forces mesurées dépassent rarement les 4 kN pour le grimpeur,
    et 6 kN pour le dernier point clippé.
  </p>

</div>



