---
eleventyNavigation:
  key: Exemple 1
  order: 1
---
Un grimpeur de 80 kg tombe 2 mètres au-dessus de la dégaine, il fait une chute libre de 4 mètres puis est dynamisé par son assureur sur 3 mètres.
F = 80 x 10 x (4 / 3) = 1066 N
Il aura donc subi un peu plus d’1kN pendant cette chute. 