---
eleventyNavigation:
  key: Exemple 1
  order: 1
---

<div style="display:flex; flex-direction:column">
    
    <div>
        <img src="/img/choc_exemple_1.png" alt="choc 1" style="max-height:350px" loading="lazy">
        <div>
            Un grimpeur de 80 kg tombe 2 mètres au-dessus de la dégaine,
            il fait une chute libre de 4 mètres puis est dynamisé par son assureur sur 3 mètres.

            <br><br>
            <div style="font-size: 1.3em">
                F &nbsp;≈ &nbsp; 80 × 10 &nbsp;× 
                <div class="frac">
                    <span>4</span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>
                &nbsp; = &nbsp; 1066 N
            </div>
            <br>
            Il aura donc subi un peu plus d’<b>1 kN</b> pendant cette chute. 
        </div>
    </div>

</div>