<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Secours Vertical</title>
<style>

body{
        background-color: rgb(233, 232, 232);
        font-family: sans-serif;
}

.categorie{ /* ex: TECHNIQUES DE CORDES*/
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  }
.subject{ /* ex: NOEUD*/
  font-size: 1.2rem;
  }

.article{ /* ex: CABESTAN*/
  font-size: 1.1rem;
  }
.section{ /* ex: machard haut*/
  font-size: 1rem;
  }

a{
    color: black;
    text-decoration: none;
}
div .categorie{
    background-color: ;
}
div .subject{
    background-color: ;
}

a:visited{color: inherit}

ul li{ background-color: rgba(60, 122, 255, 0.0);}
ul ul li{ background-color: rgba(255, 255, 255, 0.5);border-left: 10px solid rgb(0, 119, 255);}
ul ul ul li{ border-left: 5px solid rgb(255, 166, 0);background-color: rgba(255, 255, 255, 0.5)}

li{list-style: none; padding: 0.7rem;}
ul{
    margin-top: 10px;
    padding: 0;
}

.article ul{
  /*border-left: 1px solid black;
  padding-left: 0.5rem;
  margin-left: 1rem;*/
}
</style>

</head>
<body>

{% set navPages = collections.all | eleventyNavigation %}

<aside class="menu">
    {%- for categorie in navPages %} {# get all categories #}
    {%- if categorie.hideFromGV != true -%}
    <div>
        <header class="categorie">
            {{ categorie.title }} {#ex: TECHNIQUES DE CORDE#}
        </header>
        <ul>
            {%- for subject in categorie.children %} {# get all subjects from categorie #}
            {%- if subject.hideFromGV != true -%}
            <li>
                {%- if subject.children.length -%} {# if articles exists in subject#}
                    <header class="subject">
                        <a onclick="toggleDisplay('{{subject.key|slug}}-menu')">
                            <div>{{subject.title}} {#ex: RAPPEL#}</div>
                        </a>
                    </header>
                    <div class="article">
                        <ul id="{{subject.key|slug}}-menu" style="display: none">
                            {%- for article in subject.children -%} {# get all articles from subject #}
                                {%- if article.hideFromGV != true -%}
                                    <li>
                                        {%- if article.children.length -%} {# if section exists in article#}
                                            <header class="article">
                                                <a onclick="toggleDisplay('{{article.key|slug}}-menu')">
                                                    <div>{{article.title}} {#ex: MISE EN PLACE#}</div>
                                                </a>
                                            </header>
                                            <div class="section">
                                                <ul id="{{article.key|slug}}-menu" style="display: none">
                                                    {%- for section in article.children -%} {# get all section from article #}
                                                        <li>
                                                            <header class="section">
                                                                <a href="/referentiel/{{categorie.title|slug}}/{{subject.title|slug}}/{{article.title|slug}}/{{section.title|slug}}"><div>{{section.title}}</div></a> {#ex: MACHARD HAUT#}  
                                                            </header>
                                                        </li>
                                                    {%- endfor -%}
                                                </ul>
                                            </div>
                                        {% else %}
                                            <header class="article">
                                                <a href="/referentiel/{{categorie.title|slug}}/{{subject.title|slug}}/{{article.title|slug}}"><div>{{article.title}}</div></a> {#ex: MISE EN PLACE#}  
                                            </header>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </div>
                {% else %}
                    <header class="subject">
                        <a href="/referentiel/{{categorie.title|slug}}/{{subject.title|slug}}"><div>{{subject.title}}</div></a> {#ex: RAPPEL#}
                    </header>
                {% endif %}
            </li>
            {% endif %}
            {%- endfor %}
        </ul>
    </div>
    {% endif %}
    {%- endfor %}
</aside>
</body>
<script>
    function toggleDisplay(id) {
        const e = document.getElementById(id)
        e.style.display = e.style.display === 'block' ? 'none' : 'block'
    }
</script>
</html>
