---
eleventyNavigation:
  key: Réchappes
  parent: Techniques de cordes
  order: 3
---
<p>
    Lorsqu’on grimpe une voie, on est parfois obligé de s'arrêter en cours de longeur, avant le relais. Cela peut
    être dû à un manque de niveau technique, une mauvaise lecture d'itinéraire, ou encore des conditions
    climatiques difficiles. Dans ce cas, si on veut redescendre au sol (ou au relais précédent) et récupérer
    toutes les dégaines placées, il faudra faire une réchappe.
    On utilisera systématiquement un autobloquant pour contre-assurer sa descente.
    Il existe plusieurs manières de faire une réchappe, en fonction de la corde utilisée et du type
    d’ancrage de la voie. En grande voie avec une corde à simple, assurez vous d'avoir assez de corde pour redescendre !
    Votre assureur a-t-il vu le milieu de corde passer ?
</p>