---
eleventyNavigation:
  key: Sur une plaquette, avec une corde à simple
  title: Sur une plaquette
  order: 1

img: plaquette-simple.jpg
imageLayout: left
etapes:
  - Se vacher au mousqueton du haut de la dernière dégaine.  
  - Mettre un maillon rapide sur la plaquette sans le visser.  
  - Passer la corde dans le maillon, le visser (la virole doit être en haut pour ne pas toucher la corde).  
  - Faire un machard sur la corde qui descend, et le clipper à son pontet.  
  - Demander sec.  
  - Quand la longe est molle, vérifier tout le système (mousquetons vissés, autobloquant efficace, etc.).  
  - Se délonger, enlever la dégaine (parfois difficile) et descendre.
video: https://youtu.be/EmCZvfkNAIU
---

Contrairement aux broches, les plaquettes ont des bords coupants qui peuvent abîmer une corde.
Il va donc falloir rajouter un maillon rapide (ou un mousqueton).


