---
date: 2000-01-01
name: Sur une plaquette, avec une corde à simple
eleventyNavigation:
  key: Sur une plaquette, avec une corde à simple
  parent: Rechappes
img: plaquette-simple.jpg
etapes:
  - Se vacher au mousqueton du haut de la dernière dégaine.  
  - Mettre un maillon rapide sur la plaquette sans le visser.  
  - Passer la corde dans le maillon, le visser. (la virole doit être en haut pour ne pas toucher la corde)  
  - Faire un machard sur la corde qui descend, et le relier à son pontet.  
  - Demander sec.  
  - Quand la longe est molle, vérifier tout le système. (mousquetons vissés, autobloquant efficace, etc.)  
  - Se délonger, enlever la dégaine (parfois difficile) et descendre.
---

Contrairement aux broches, les plaquettes ont des bords coupants qui peuvent abimer une corde.
Il va donc falloir rajouter un maillon rapide.


